Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

test(s3stream): fix the memory leak warning in the unit tests of s3stream
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCopierTest.java
  s3stream/src/test/java/com/automq/stream/s3/TestUtils.java
  s3stream/src/test/java/com/automq/stream/s3/WALObjectUploadTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
Due: none

refactor(common): set default value for some system properties
  common/src/main/fbs/flat_message.fbs
  common/src/test/java/com/automq/rocketmq/common/util/FlatMessageUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockMessageUtil.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix(store): fix logic in building test message
  store/src/test/java/com/automq/rocketmq/store/mock/MockMessageUtil.java
Due: RocketMQ Store

fix: fix the recover records issue with restart broker
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: get rid of mocking code
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/DatabaseConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/BrokerNode.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  distribution/conf/broker.yaml
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Controller

fix: checkstyle issue
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
Due: RocketMQ Controller

fix: code style issue
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
Due: RocketMQ Broker

chore: make fields final to fix warning
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
Due: RocketMQ Common

feat: integrate controller with broker
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/BrokerStartup.java
  broker/src/main/java/com/automq/rocketmq/broker/manager/NodeRegistrar.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/KeepAliveTask.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  distribution/conf/broker.yaml
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  proxy/src/main/java/com/automq/rocketmq/proxy/config/ProxyConfiguration.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy

feat: integrate controller with broker module (#191)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/BrokerStartup.java
  broker/src/main/java/com/automq/rocketmq/broker/manager/NodeRegistrar.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/DatabaseConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/BrokerNode.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/KeepAliveTask.java
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  distribution/conf/broker.yaml
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  proxy/src/main/java/com/automq/rocketmq/proxy/config/ProxyConfiguration.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy

feat: make broker and topic methods in controller as a real async method
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: add exception handling for async methods
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
Due: RocketMQ Controller

feat(store): refactor StreamOperationLogService and add more tests
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/DefaultTopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/AckOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/ChangeInvisibleDurationOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/Operation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/PopOperation.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/OperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/DefaultTopicQueueManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Store

fix(store): store snapshot status in SnapshotService
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
Due: RocketMQ Store

fix(store): support decoding ChangeInvisibleDurationOperation
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Store

refactor(store): polish code of StreamTopicQueue
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
Due: RocketMQ Store

fix: fix the throw of exception
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: make list, broker, and topic methods in controllers truly async (#155)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
Due: RocketMQ Controller

fix: allow S3WalObject having object_id = -1 while commit
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3WalObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3WalObjectMapper.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3WalObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  controller/src/test/resources/logback.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
Due: RocketMQ Controller

fix: mapper file name
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/test/resources/logback.xml
Due: RocketMQ Controller

fix: allow S3WalObject having object_id = -1 while commit (#193)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3WalObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3WalObjectMapper.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3WalObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
Due: RocketMQ Controller

fix: create node before compaigning for leadership
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/LeaseTask.java
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/metadata/NodeTest.java
  distribution/conf/broker.yaml
Due: RocketMQ Common, RocketMQ Controller

fix: create node before campaigning for leadership (#194)
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/LeaseTask.java
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/metadata/NodeTest.java
  distribution/conf/broker.yaml
Due: RocketMQ Common, RocketMQ Controller

feat(store): improve concurrency control when opening a stream
  store/src/main/java/com/automq/rocketmq/store/DefaultTopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
Due: RocketMQ Store

feat(store): set a min s3object ttl for prepareObject
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Store

feat(cli): support build the cli to an executable script
  cli/README.md
  cli/pom.xml
  cli/src/main/java/com/automq/Main.java
Due: none

feat(cli): support create topic with a specific message type
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
Due: none

fix: register node after grpc server starts
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  distribution/conf/broker.yaml
Due: RocketMQ Broker, RocketMQ Controller

fix: register node after grpc server starts (#200)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  distribution/conf/broker.yaml
Due: RocketMQ Broker, RocketMQ Controller

Path conditions:
  RocketMQ Broker: any of: broker/
  RocketMQ Common: any of: common/
  RocketMQ Controller: any of: controller/
  RocketMQ Proxy: any of: proxy/
  RocketMQ Store: any of: store/
