Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metrics/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"
  - "**/thirdparty/**/*"
  - "**/benchmark/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

chore(s3stream/wal): record metrics on block polled (#760)
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/wal/Block.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

fix(kafka_issues447): jackson ignore unknown field
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/DefaultServerless.java
Due: RocketMQ Stream

fix(kafka_issues447): delete volume after wal shutdown
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
Due: RocketMQ Stream

chore: hide security-related tokens
  .github/workflows/pr-e2e-test.yml
Due: none

chore: support action in k3s
  .github/workflows/pr-e2e-test.yml
Due: none

chore: remove pat token for public e2e repo
  .github/workflows/pr-e2e-test.yml
Due: none

chore: intstall docker dependency in mirrors
  distribution/docker/Dockerfile-ci
Due: none

fix(kafka_issues447): serverless cmd (#761)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/DefaultServerless.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
Due: RocketMQ Stream

chore: simplify dependency downloads in docker build
  distribution/docker/Dockerfile-ci
Due: none

chore: share built image between jobs with gitHub actions
  .github/workflows/pr-e2e-test.yml
Due: none

chore: support docker build in ubuntu
  .github/workflows/pr-e2e-test.yml
Due: none

chore: update env in docker export
  .github/workflows/pr-e2e-test.yml
Due: none

chore: fix env and install dependency in build action
  .github/workflows/pr-e2e-test.yml
  distribution/docker/Dockerfile-ci
Due: none

chore: ensure set up docker buildx
  .github/workflows/pr-e2e-test.yml
Due: none

feat(distribution): update image tag in docker-compose.yaml
  distribution/docker/Dockerfile-ci
  distribution/docker/build.sh
  distribution/docker/docker-compose.yaml
Due: none

feat(distribution): update image tag in docker-compose.yaml (#762)
  distribution/docker/Dockerfile-ci
  distribution/docker/build.sh
  distribution/docker/docker-compose.yaml
Due: none

chore: load dockerfile for export
  .github/workflows/pr-e2e-test.yml
Due: none

chore: add docker buildx env in deploy
  .github/workflows/pr-e2e-test.yml
Due: none

fix(proxy): remove shaded grpc dependency (#759)
  cli/pom.xml
  pom.xml
  proxy/pom.xml
Due: RocketMQ Proxy

chore: login docker without secret
  .github/workflows/pr-e2e-test.yml
Due: none

feat(s3stream): blockCache performance optimization
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/StreamDataBlock.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LRUCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionAnalyzer.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionPlan.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/compact/objects/CompactedObject.java
  s3stream/src/main/java/com/automq/stream/s3/compact/objects/CompactedObjectBuilder.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/DeltaWALUploadTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectReaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCopierTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/ReadAheadManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: RocketMQ Stream

style(s3stream): remove unused imports
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
Due: RocketMQ Stream

feat(s3stream): blockCache performance optimization (#766)
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/StreamDataBlock.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LRUCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionAnalyzer.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionPlan.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/compact/objects/CompactedObject.java
  s3stream/src/main/java/com/automq/stream/s3/compact/objects/CompactedObjectBuilder.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/DeltaWALUploadTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectReaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCopierTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/ReadAheadManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: RocketMQ Stream

feat(s3stream): add boringssl dependence
  s3stream/pom.xml
Due: RocketMQ Stream

feat(s3stream): update s3stream to 0.6.5
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

chore: support for e2e run on commits (#755)
  .github/workflows/pr-e2e-test.yml
  distribution/docker/Dockerfile-ci
Due: none

chore: use dependencies to install mysql and s3-localstack
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy-ci.sh
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

feat(s3stream): add boringssl dependence (#767)
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

fix(kafka_issues491): ignore await after scheduled task cancel
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

feat(s3stream/wal): pre-check the real capacity of the block device
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
  s3stream/src/main/java/com/automq/stream/utils/CommandResult.java
Due: RocketMQ Stream

style: fix lint
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
Due: RocketMQ Stream

feat(s3stream/wal): pre-check the real capacity of the block device (#771)
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
  s3stream/src/main/java/com/automq/stream/utils/CommandResult.java
Due: RocketMQ Stream

fix(kafka_issues491): ignore await after scheduled task cancel (#770)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

chore: support helm chart defaults to deploy full clusters (#769)
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy-ci.sh
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

feat(s3stream): block cache memory optimization
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/InflightReadThrottle.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/BlockCacheMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectReaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/DataBlockReadAccumulatorTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/InflightReadThrottleTest.java
Due: RocketMQ Stream

fix(s3stream): fix merge read sparsity calculation
  s3stream/src/main/java/com/automq/stream/s3/cache/InflightReadThrottle.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/utils/Utils.java
Due: RocketMQ Stream

style(s3stream): remove unused imports
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
Due: RocketMQ Stream

test(s3stream): fix broken tests
  s3stream/src/main/java/com/automq/stream/s3/cache/InflightReadThrottle.java
  s3stream/src/test/java/com/automq/stream/s3/cache/InflightReadThrottleTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultS3OperatorTest.java
Due: RocketMQ Stream

feat(s3stream): block cache memory optimization (#774)
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/InflightReadThrottle.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/BlockCacheMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/utils/Utils.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectReaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/DataBlockReadAccumulatorTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/InflightReadThrottleTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultS3OperatorTest.java
Due: RocketMQ Stream

fix(s3stream): guard BlockCache OOM handle with lock
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
Due: RocketMQ Stream
