Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

feat: prepend CRC32 checksum header to ops stream record (#601)
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/queue/AckCommitterTest.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Store

chore: opt quick start for compose
  distribution/docker/compose.sh
  distribution/docker/docker-compose.yaml
Due: none

chore: opt quick start for compose
  README.md
Due: none

chore: change network name
  distribution/docker/docker-compose.yaml
Due: none

chore: opt quick start for docker compose (#605)
  README.md
  distribution/docker/compose.sh
  distribution/docker/docker-compose.yaml
Due: none

feat(broker): introduce tracing
  common/pom.xml
  common/src/main/java/com/automq/rocketmq/common/trace/AttributeBindings.java
  common/src/main/java/com/automq/rocketmq/common/trace/MethodCache.java
  common/src/main/java/com/automq/rocketmq/common/trace/SpanAttributesExtractor.java
  common/src/main/java/com/automq/rocketmq/common/trace/TraceContext.java
  common/src/main/java/com/automq/rocketmq/common/trace/TraceHelper.java
  proxy/src/main/java/com/automq/rocketmq/proxy/ProxyTraceAspect.java
  proxy/src/main/java/com/automq/rocketmq/proxy/aop/ProxyTraceAspect.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/ContextUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/aop/StoreTraceAspect.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/model/StoreContext.java
  store/src/main/java/com/automq/rocketmq/store/model/message/Filter.java
  store/src/main/java/com/automq/rocketmq/store/model/message/TagFilter.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/DefaultLogicQueueManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(broker): recursively close all expired spans
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  common/src/main/java/com/automq/rocketmq/common/trace/TraceContext.java
  common/src/main/java/com/automq/rocketmq/common/trace/TraceHelper.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/ContextUtil.java
  store/src/main/java/com/automq/rocketmq/store/model/StoreContext.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/PopOperation.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/OperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockOperationLogService.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(broker): optimize code
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  store/src/main/java/com/automq/rocketmq/store/model/StoreContext.java
Due: none

feat(broker): optimize code
  store/src/main/java/com/automq/rocketmq/store/model/StoreContext.java
Due: none

feat(broker): optimize code
  common/src/main/java/com/automq/rocketmq/common/trace/TraceContext.java
  common/src/main/java/com/automq/rocketmq/common/trace/TraceHelper.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  store/src/main/java/com/automq/rocketmq/store/model/StoreContext.java
Due: RocketMQ Common

refactor(s3stream): rename sst to stream set object
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionAnalyzer.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionStats.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectMetadata.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectType.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CommitStreamSetObjectRequest.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CommitStreamSetObjectResponse.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CompactStreamObjectRequest.java
  s3stream/src/main/java/com/automq/stream/s3/objects/ObjectManager.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/DeltaWALUploadTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectReaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Store, RocketMQ Stream

fix: cr
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectType.java
Due: RocketMQ Stream

refactor(s3stream): rename sst to stream set object (#609)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionAnalyzer.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionStats.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectMetadata.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectType.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CommitStreamSetObjectRequest.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CommitStreamSetObjectResponse.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CompactStreamObjectRequest.java
  s3stream/src/main/java/com/automq/stream/s3/objects/ObjectManager.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/DeltaWALUploadTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectReaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Store, RocketMQ Stream

feat(s3stream): check read permits before merge read task
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): check read permits before merge read task (#610)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

chore: optimize helm chart deployment
  distribution/docker/build-ci.sh
  distribution/helm/clean-ci.sh
  distribution/helm/deploy-ci.sh
Due: none

chore: optimize the local config of docker build
  distribution/docker/build-ci.sh
Due: none

chore: optimize helm chart deployment (#611)
  distribution/docker/build-ci.sh
  distribution/helm/clean-ci.sh
  distribution/helm/deploy-ci.sh
Due: none

fix: wal recovery
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix: tighten condition for data loss
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix: wal recovery (#604)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

chore: polish Loop
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Loop.java
Due: RocketMQ Metadata

feat: dump heap on fatal error
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/Controller.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  distribution/conf/broker.yaml
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
Due: none

feat: dump heap on fatal error for diagnosis (#612)
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/Controller.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  distribution/conf/broker.yaml
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Loop.java
Due: RocketMQ Metadata

feat(common): add `s3Namespace` configuration item
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  distribution/conf/broker.yaml
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
Due: RocketMQ Store

feat(conf): remove default namespace value in broker.yaml
  distribution/conf/broker.yaml
Due: none

feat(broker): introduce tracing to both proxy and store modules (#606)
  common/pom.xml
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  common/src/main/java/com/automq/rocketmq/common/trace/AttributeBindings.java
  common/src/main/java/com/automq/rocketmq/common/trace/MethodCache.java
  common/src/main/java/com/automq/rocketmq/common/trace/SpanAttributesExtractor.java
  common/src/main/java/com/automq/rocketmq/common/trace/TraceContext.java
  common/src/main/java/com/automq/rocketmq/common/trace/TraceHelper.java
  proxy/src/main/java/com/automq/rocketmq/proxy/ProxyTraceAspect.java
  proxy/src/main/java/com/automq/rocketmq/proxy/aop/ProxyTraceAspect.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/ContextUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/aop/StoreTraceAspect.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/model/StoreContext.java
  store/src/main/java/com/automq/rocketmq/store/model/message/Filter.java
  store/src/main/java/com/automq/rocketmq/store/model/message/TagFilter.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/PopOperation.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/OperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/DefaultLogicQueueManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat: sync config files to helm deployments
  distribution/bin/run-server.sh
  distribution/helm/deploy/helm_sample_values.yaml
  distribution/helm/templates/broker/_brokerconfig.tpl
  distribution/helm/values.yaml
Due: none

feat(broker): make trace and profiler exporter configurable
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ProfilerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/TraceConfig.java
  common/src/main/java/com/automq/rocketmq/common/trace/TraceHelper.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/OperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockOperationLogService.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream

feat(s3stream): add s3 operation timeout
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

refactor: make test arguments more configurable
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

feat(s3stream): add s3 operation timeout (#618)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(wal): recover from the middle of a block
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

fix(wal): trim at zero
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

feat: implement describe stream command
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeStream.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

feat(broker): make trace and profiler exporter configurable (#617)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ProfilerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/TraceConfig.java
  common/src/main/java/com/automq/rocketmq/common/trace/TraceHelper.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/OperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockOperationLogService.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream

fix: centralize rows
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
Due: none

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
