Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

chore(kb): update helm description in kb
  distribution/kubeblocks/Chart.yaml
  distribution/kubeblocks/templates/broker/_brokerconfig.tpl
  distribution/kubeblocks/values.yaml
Due: none

chore: update implementation details of helm chart and kb (#649)
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/kubeblocks/Chart.yaml
  distribution/kubeblocks/templates/broker/_brokerconfig.tpl
  distribution/kubeblocks/values.yaml
Due: none

feat(proxy): add timeout for waiting for the future in ReceiveMessageActivity
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  distribution/bin/run-server.sh
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/processor/ExtendMessagingProcessor.java
Due: RocketMQ Broker, RocketMQ Proxy

feat(s3stream): change s3stream metrics time unit to nanoseconds
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

fix(proxy): fix the issue of some requests being suspended but never ending
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
Due: RocketMQ Proxy

feat: keep track of store size and reserve time of each topic/queue
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/TopicMetricsManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/cache/AssignmentCache.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/cache/StreamCache.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/AssignmentCacheTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/StreamCacheTest.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/S3ObjectMapper.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/Helper.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/S3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3ObjectCache.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCache.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3WalObjectCache.java
  metadata-jdbc/src/main/resources/database/mapper/S3ObjectMapper.xml
  proto/src/main/proto/controller/model.proto
Due: RocketMQ Broker, RocketMQ Controller

test(proxy): add unit tests for grpc activity
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/activity/ExtendRouteActivityTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/activity/ExtendSendMessageActivityTest.java
Due: RocketMQ Proxy

test(proxy): add unit tests for grpc activity (#652)
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/activity/ExtendRouteActivityTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/activity/ExtendSendMessageActivityTest.java
Due: RocketMQ Proxy

fix(proxy): fix the issue of some requests being suspended but never ending (#651)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  distribution/bin/run-server.sh
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/processor/ExtendMessagingProcessor.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
Due: RocketMQ Broker, RocketMQ Proxy

feat(s3stream): change s3stream metrics time unit to nanoseconds (#650)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

feat: fill/clear S3{Object, WalObject}Cache on stream start/close
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/S3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3ObjectCache.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3WalObjectCache.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3ObjectCacheTest.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3WalObjectCacheTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Metadata

feat(s3stream/thirdparty): bump from https://github.com/lexburner/kdio.git at 29ddf366af
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectChannel.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectChannelImpl.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOLib.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectRandomAccessFile.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/OpenFlags.java
Due: RocketMQ Stream

style(s3stream/thirdparty/dio): format code
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectChannel.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectChannelImpl.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOLib.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectRandomAccessFile.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/OpenFlags.java
Due: RocketMQ Stream

fix(thirdparty/dio): fix `SharedSecrets` in jdk17
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
Due: RocketMQ Stream

fix(s3stream/wal): fix imports
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
Due: RocketMQ Stream

fix: try fix build flags
  s3stream/pom.xml
Due: RocketMQ Stream

fix: register topic-metric-manager
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
Due: RocketMQ Broker

fix: fix lint
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectChannelImpl.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOLib.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectRandomAccessFile.java
Due: RocketMQ Stream

chore(codecov): ignore third party codes
  codecov.yml
Due: none

fix: no need to truncate before close
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectChannelImpl.java
Due: RocketMQ Stream

feat(s3stream): add a third party package `moe.cnkirito.kdio` (#654)
  codecov.yml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectChannel.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectChannelImpl.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOLib.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectRandomAccessFile.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/OpenFlags.java
Due: RocketMQ Stream

feat(s3stream): optimize time unit for TimerUtil
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/TimerUtil.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

feat(kafka-issue447): more failover main logic
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/CompleteFailoverRequest.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverManager.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverRequest.java
  s3stream/src/main/java/com/automq/stream/s3/failover/WALRecover.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/test/java/com/automq/stream/s3/failover/FailoverTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: RocketMQ Stream

feat(s3stream): optimize time unit for TimerUtil (#655)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/TimerUtil.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

feat(kafka-issue447): more failover main logic (#656)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/CompleteFailoverRequest.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverManager.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverRequest.java
  s3stream/src/main/java/com/automq/stream/s3/failover/WALRecover.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/test/java/com/automq/stream/s3/failover/FailoverTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: RocketMQ Stream

feat: implement store metrics of topic/queue store-size and reserve-time (#653)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/TopicMetricsManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/cache/AssignmentCache.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/cache/StreamCache.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/AssignmentCacheTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/StreamCacheTest.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/S3ObjectMapper.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/Helper.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/S3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3ObjectCache.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCache.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3WalObjectCache.java
  metadata-jdbc/src/main/resources/database/mapper/S3ObjectMapper.xml
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3ObjectCacheTest.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3WalObjectCacheTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  proto/src/main/proto/controller/model.proto
Due: RocketMQ Broker, RocketMQ Controller, RocketMQ Metadata

feat(kafka-issue447): delete volume after recover
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverManager.java
  s3stream/src/test/java/com/automq/stream/s3/failover/FailoverTest.java
Due: RocketMQ Stream

feat(kafka-issue447): delete volume after recover (#658)
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverManager.java
  s3stream/src/test/java/com/automq/stream/s3/failover/FailoverTest.java
Due: RocketMQ Stream

feat(s3stream): optimization on read ahead for BlockCache
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamCache.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/DataBlockReadAccumulatorTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultS3OperatorTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
Due: RocketMQ Store, RocketMQ Stream

fix: use druid datasource
  metadata-jdbc/pom.xml
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/HikariCPDataSourceFactory.java
Due: none

test(s3stream): add unit test for read ahead
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/DataBlockReadAccumulatorTest.java
Due: RocketMQ Stream

feat(s3stream): Block cache read ahead optimization (#657)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamCache.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/DataBlockReadAccumulatorTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultS3OperatorTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
Due: RocketMQ Store, RocketMQ Stream

fix: lookup DB is leader address is not yet cached
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: replace data source connection pool impl, from hikari to druid
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/DruidDataSourceFactory.java
  metadata-jdbc/src/main/resources/database/mybatis-config.xml
Due: none

fix: lookup DB if leader address is not yet cached (#659)
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: use druid data source for better observability (#660)
  metadata-jdbc/pom.xml
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/DruidDataSourceFactory.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/HikariCPDataSourceFactory.java
  metadata-jdbc/src/main/resources/database/mybatis-config.xml
Due: none

fix(s3stream/thirdparty): remove unsafe dependencies
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOLib.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
Due: RocketMQ Stream

fix(s3stream/thirdparty): remove unsafe dependencies (#661)
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOLib.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
Due: RocketMQ Stream

feat(wal): read and write block devices
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOLib.java
Due: RocketMQ Stream

fix(s3stream): update pom, add exports
  s3stream/pom.xml
Due: RocketMQ Stream

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
