Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

feat(proxy): extend route and send message activity to adopt model binding
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/protocol/GrpcProtocolServer.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/test/java/com/automq/rocketmq/common/config/YamlConfigTest.java
  distribution/conf/broker.yaml
  proxy/src/main/java/com/automq/rocketmq/proxy/config/ProxyConfiguration.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendGrpcMessingActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendRouteActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/VirtualQueue.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy

feat(store): support retry message
  common/src/main/fbs/flat_message.fbs
  common/src/main/java/com/automq/rocketmq/common/model/FlatMessageExt.java
  common/src/test/java/com/automq/rocketmq/common/model/FlatMessageExtTest.java
  common/src/test/java/com/automq/rocketmq/common/util/FlatMessageUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/metadata/ConsumerGroupMetadata.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/PopOperation.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockMessageUtil.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/util/MessageUtilTest.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

chore(controller): polish the ddl to make the ddl atomic
  controller/src/main/resources/ddl.sql
Due: RocketMQ Controller

feat(store): support start/shutdown MessageStore
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockMessageUtil.java
  store/src/test/java/com/automq/rocketmq/store/util/MessageUtilTest.java
Due: RocketMQ Store

feat(broker): introduce NodeRegistrar
  broker/src/main/java/com/automq/rocketmq/broker/manager/NodeRegistrar.java
  common/pom.xml
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
Due: RocketMQ Broker, RocketMQ Common

fix(store): fix MockMessageStore
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
Due: RocketMQ Proxy

feat(controller): make getStream as a real async method
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

feat(proxy): convert s3rocketmq receipt handle to rocketmq native receipt handle
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/ReceiptHandleUtil.java
Due: RocketMQ Proxy

feat(all): try assembly metadata but failed
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  proxy/src/main/java/com/automq/rocketmq/proxy/DefaultServiceManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ResourceMetadataService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/ResourceMetadataServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

feat(all): integrate proxy, broker and metadata modules
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/BrokerStartup.java
  broker/src/main/java/com/automq/rocketmq/broker/manager/NodeRegistrar.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/processor/ExtendMessagingProcessor.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(store): use operation's offset in op_log as operation-id
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PopResult.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/AckOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/ChangeInvisibleDurationOperation.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Store

feat(store): support operation snapshot
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  pom.xml
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/pom.xml
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/model/kv/KVReadOptions.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/OperationSnapshot.java
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/KVService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix(store): resolve conflicts after rebasing
  proxy/src/main/java/com/automq/rocketmq/proxy/util/ReceiptHandleUtil.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
Due: RocketMQ Proxy, RocketMQ Store

feat(all): composite all modules, now broker can be started normally
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/manager/NodeRegistrar.java
  broker/src/main/java/com/automq/rocketmq/broker/protocol/GrpcProtocolServer.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  distribution/conf/broker.yaml
  proxy/src/main/java/com/automq/rocketmq/proxy/service/AdminServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ProxyRelayServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TransactionServiceImpl.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

feat(s3stream): support config s3 keys
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
  distribution/conf/broker.yaml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Common, RocketMQ Controller, RocketMQ Store

fix: clean some check style issues
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/protocol/GrpcProtocolServer.java
Due: RocketMQ Broker

chore(controller): move db configs to config file
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  distribution/conf/broker.yaml
Due: RocketMQ Common

feat(all): composite all modules, now broker can be started normally (#145)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/manager/NodeRegistrar.java
  broker/src/main/java/com/automq/rocketmq/broker/protocol/GrpcProtocolServer.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  distribution/conf/broker.yaml
  proxy/src/main/java/com/automq/rocketmq/proxy/service/AdminServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ProxyRelayServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TransactionServiceImpl.java
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

feat(cli): introduce admin tool set and add create topic subcommand
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/protocol/GrpcProtocolServer.java
  cli/pom.xml
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
  distribution/conf/broker.yaml
Due: RocketMQ Broker, RocketMQ Controller

chore(cli): fix one checkstyle issue
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
Due: none

feat(cli): introduce admin tool set and add create topic subcommand (#146)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/protocol/GrpcProtocolServer.java
  cli/pom.xml
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
  distribution/conf/broker.yaml
Due: RocketMQ Broker, RocketMQ Controller

feat(controller): support async request metadata storage
  broker/src/main/java/com/automq/rocketmq/broker/manager/NodeRegistrar.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Broker, RocketMQ Controller

fix: make put message link work as expected
  proxy/src/main/java/com/automq/rocketmq/proxy/model/VirtualQueue.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ResourceMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Proxy, RocketMQ Store

feat: add read throttle for writter; add 'smallSizeCopyWriteCount' metric for stream object compaction task
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCopierTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultWriterTest.java
  s3stream/src/test/resources/log4j.properties
Due: none

feat(cli): add create group cli
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
Due: none

fix(controller): fix rangId not unique bug
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/RangeMapper.java
  controller/src/main/resources/database/mapper/RangeMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/RangeTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(store): support take/load/recover snapshot
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/exception/StoreErrorCode.java
  store/src/main/java/com/automq/rocketmq/store/model/metadata/ConsumerGroupMetadata.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/OperationSnapshot.java
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockTopicQueueManager.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Common, RocketMQ Store
