Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

perf: make node creation cache friendly
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/LeaseTask.java
Due: RocketMQ Controller

perf: make node creation cache friendly (#201)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/LeaseTask.java
Due: RocketMQ Controller

feat(store): complete current task and abort waiting tasks when snapshot service shutdown
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/service/SnapshotServiceTest.java
Due: RocketMQ Store

fix(s3stream): merge continuous stream data block on force split
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: none

feat(cli): add default values for CreateTopic and CreateGroup clis
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
Due: none

fix: fix #202 to update range end offset on committing wal
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: update range end offset on committing write ahead log (#209)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(store): add getConsumeOffset API for MessageStore and fix proxy tests
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
Due: RocketMQ Proxy, RocketMQ Store

fix: add timeout threshold for testThrottleQuickly
  s3stream/src/test/java/com/automq/stream/s3/compact/AsyncTokenBucketThrottleTest.java
Due: none

fix: remove create retry stream rpc as it will be created on retrieval
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/proto/controller.proto
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

feat(store): gracefully shutdown SnapshotService
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/test/java/com/automq/rocketmq/store/service/SnapshotServiceTest.java
Due: RocketMQ Store

fix: create s3 stream object on commit of WAL object
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix(store): copy objects got from metadataStore
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Store

feat(store): default disable RocksDB's wal
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
Due: RocketMQ Store

feat(store): add getConsumeOffset API for MessageStore and fix proxy tests (#210)
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
Due: RocketMQ Proxy, RocketMQ Store

fix: ignore test cases for commit ops
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3StreamObject.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3StreamObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: verify queue, assignment and group before creating retry stream on demand
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Group.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/LeaseTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanNodeTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanYieldingQueueTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/SchedulerTask.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GroupTest.java
Due: RocketMQ Controller

chore: polish logging text
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: create s3 stream object on commit of WAL object (#216)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Group.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3StreamObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/LeaseTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanNodeTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanYieldingQueueTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/SchedulerTask.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GroupTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3StreamObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix(proxy): fix bugs found during integration testing
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
Due: RocketMQ Proxy

fix(proxy): fix test
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
Due: none

refactor(proxy): refactor born host
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Common, RocketMQ Proxy

fix: adjust database connection pool settings
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/HikariCPDataSourceFactory.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/GroupMapper.java
Due: RocketMQ Controller

fix(s3stream): initialize wal object id to -1 on compaction
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: none

fix(s3stream): initialize wal object id to -1 on compaction (#222)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: none

refactor(stream): move fix offset logic to MessageStore
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
Due: RocketMQ Proxy, RocketMQ Store

fix(proxy): fix reconsume times in message convert logic
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
Due: RocketMQ Proxy

fix: revamp open stream implementation
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: revamp open stream implementation (#223)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/HikariCPDataSourceFactory.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/GroupMapper.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix(stream): implement confirmOffset API for MemoryStream
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PopResult.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/service/SnapshotServiceTest.java
Due: RocketMQ Store

fix: fix range table index
  controller/src/main/resources/ddl.sql
Due: RocketMQ Controller

fix: fix range table index, replacing unique index with index (#224)
  controller/src/main/resources/ddl.sql
Due: RocketMQ Controller

Path conditions:
  RocketMQ Broker: any of: broker/
  RocketMQ Common: any of: common/
  RocketMQ Controller: any of: controller/
  RocketMQ Proxy: any of: proxy/
  RocketMQ Store: any of: store/
