Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

fix: include node-id in close-stream-request during forwarding requests (#738)
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
Due: RocketMQ Controller

chore: execute nightly build action only on the main repository
  .github/workflows/nightly-build.yml
Due: none

chore: rename release action about docker build (#739)
  .github/workflows/release.yml
Due: none

perf: calculate the confirm offset asynchronously
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

test: fix tests
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

perf: create the result list lazily
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

chore: update helm chart values to avoid invalid value
  .github/workflows/nightly-build.yml
  .github/workflows/pr-e2e-test.yml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_helpers.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy-ci.sh
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

chore: update the service in helm chart
  distribution/helm/charts/automq-for-rocketmq/templates/broker/service.yaml
Due: none

feat(s3stream): adapt to new serverless cmd
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/DefaultServerless.java
Due: RocketMQ Stream

feat(s3stream): adapt to new serverless cmd (#742)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/DefaultServerless.java
Due: RocketMQ Stream

refactor: refactor cmdline in cli
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/broker/DescribeCluster.java
  cli/src/main/java/com/automq/rocketmq/cli/broker/TerminateNode.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ConsumeMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/DeleteGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/DescribeGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ListGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ResetConsumeOffset.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/UpdateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/producer/ProduceMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/stream/DescribeStream.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/DeleteTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/DescribeTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/ListTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/UpdateTopic.java
Due: none

refactor: remove redundant set funs
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
Due: none

refactor: refactor cmd line in cli (#744)
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/broker/DescribeCluster.java
  cli/src/main/java/com/automq/rocketmq/cli/broker/TerminateNode.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ConsumeMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/DeleteGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/DescribeGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ListGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ResetConsumeOffset.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/UpdateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/producer/ProduceMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/stream/DescribeStream.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/DeleteTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/DescribeTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/ListTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/UpdateTopic.java
Due: none

refactor: calculate the confirm offset by calculator rather than sequencer
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

fix(s3stream/storage): calculate the confirm offset from unordered requests
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

test: test calculator
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

fix: remove all records whose offset is not larger than the confirmed offset
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix(s3stream/storage): calculate the confirm offset from unordered requests (#743)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

fix(s3stream): serverless cmd
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/DefaultServerless.java
Due: RocketMQ Stream

fix(s3stream): serverless cmd (#750)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/DefaultServerless.java
Due: RocketMQ Stream

fix(kafka_issues475): do not log when fast fail
  s3stream/src/main/java/com/automq/stream/api/exceptions/FastReadFailFastException.java
  s3stream/src/main/java/com/automq/stream/api/exceptions/StreamClientException.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
Due: RocketMQ Stream

feat(s3stream): update version to 0.6.3
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

fix(kafka_issues475): do not log when fast fail (#751)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/api/exceptions/FastReadFailFastException.java
  s3stream/src/main/java/com/automq/stream/api/exceptions/StreamClientException.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
Due: RocketMQ Stream

refactor: rename wal object to stream set object
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  controller/src/test/java/com/automq/rocketmq/controller/store/DatabaseTestBase.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/dao/S3StreamSetObject.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/S3StreamSetObjectMapper.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/Helper.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/S3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamSetObjectCache.java
  metadata-jdbc/src/main/resources/database/mapper/S3StreamSetObjectMapper.xml
  metadata-jdbc/src/main/resources/database/mybatis-config.xml
  metadata-jdbc/src/main/resources/ddl.sql
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/DatabaseTestBase.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/S3StreamSetObjectTest.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/S3WalObjectTest.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataServiceTest.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3StreamSetObjectCacheTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  proto/src/main/proto/controller/controller.proto
  proto/src/main/proto/controller/model.proto
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store, RocketMQ Metadata

chore: untify the path of s3stream and store
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

refactor: rename wal object to stream set object (#749)
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  controller/src/test/java/com/automq/rocketmq/controller/store/DatabaseTestBase.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/dao/S3StreamSetObject.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/S3StreamSetObjectMapper.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/Helper.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/S3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamSetObjectCache.java
  metadata-jdbc/src/main/resources/database/mapper/S3StreamSetObjectMapper.xml
  metadata-jdbc/src/main/resources/database/mybatis-config.xml
  metadata-jdbc/src/main/resources/ddl.sql
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/DatabaseTestBase.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/S3StreamSetObjectTest.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/S3WalObjectTest.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataServiceTest.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3StreamSetObjectCacheTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  proto/src/main/proto/controller/controller.proto
  proto/src/main/proto/controller/model.proto
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store, RocketMQ Metadata

perf(s3storage/wal): use `PriorityQueue` rather than `TreeSet`
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

feat: more metrics
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

perf(s3storage/wal): use `PriorityQueue` rather than `TreeSet` (#753)
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

fix: unify error handling for describe-stream API
  cli/src/main/java/com/automq/rocketmq/cli/stream/DescribeStream.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  proto/src/main/proto/controller/controller.proto
Due: RocketMQ Controller

fix: unify error handling for open-stream
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

fix: unify error handling for close-stream of controller
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

fix: unify error handling for list-open-streams of controller
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
Due: RocketMQ Controller

fix: unify error handling for create-group of controller
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ConsumeMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/CreateGroup.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/GroupManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

fix(proxy): remove shaded grpc dependency
  cli/pom.xml
  pom.xml
  proxy/pom.xml
Due: RocketMQ Proxy

chore: remove latest image build
  .github/workflows/nightly-build.yml
Due: none

fix: unify controller error handling while forwarding requests to leader node (#758)
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ConsumeMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/stream/DescribeStream.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  proto/src/main/proto/controller/controller.proto
Due: RocketMQ Controller

chore(s3stream/wal): record metrics on block polled
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/wal/Block.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

chore: support nightly build in three different versions (#727)
  .github/workflows/nightly-build.yml
Due: none

chore: update helm chart to avoid invalid value (#741)
  .github/workflows/nightly-build.yml
  .github/workflows/pr-e2e-test.yml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_helpers.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/service.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy-ci.sh
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
