Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

fix: use version variable for slf4j-simple
  s3stream/pom.xml
Due: none

feat: fine tune workload balance task
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/SchedulerTask.java
Due: RocketMQ Common, RocketMQ Controller

fix: logging of tests
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Common, RocketMQ Controller

feat: limit max stream count in a single WAL object
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
Due: none

fix(store): fix flaky test
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Store

feat: limit max stream count in a single WAL object (#370)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
Due: none

feat: log queue migration activity
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanYieldingQueueTask.java
Due: RocketMQ Controller

fix(store): fix flaky test (#371)
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Store

refactor(store): remove useless stream cache (#365)
  s3stream/src/main/java/com/automq/stream/api/StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
Due: RocketMQ Store

chore: remove deprecated interfaces of ProxyMetadataService
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Proxy, RocketMQ Store

feat: use criteria paradigm to query group conditionally
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/GroupCriteria.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/GroupMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanGroupTask.java
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GroupTest.java
Due: RocketMQ Controller

feat: check dead letter precondition before creating group and deleting topic
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

fix: set up precondition for create group with dead-letter-topic
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

feat(s3stream): identify trimmed data blocks on compaction using stream metadata
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
Due: none

feat(s3stream): upgrade s3stream to 0.1.11
  pom.xml
  s3stream/pom.xml
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

fix(s3stream): fix kos issue364 mergeRangeRead leak
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/model/StreamRecordBatch.java
Due: none

fix: register node shall update address in case of change
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/NodeMapper.java
  controller/src/main/resources/database/mapper/NodeMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/NodeTest.java
Due: RocketMQ Controller

fix(s3stream): fix kos issue364 record not release
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockRecords.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
Due: none

fix(s3stream): issues364 memory leak (#383)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockRecords.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/model/StreamRecordBatch.java
Due: none

fix(s3stream): try fix append memory leak
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: none

feat: add CLI to update topic
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/UpdateTopic.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/main/resources/database/mapper/TopicMapper.xml
Due: RocketMQ Controller

fix(s3stream): try fix append memory leak (#385)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: none

fix: optimize mapper xml
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/main/resources/database/mapper/GroupProgressMapper.xml
  controller/src/main/resources/database/mapper/NodeMapper.xml
  controller/src/main/resources/database/mapper/QueueAssignmentMapper.xml
  controller/src/main/resources/database/mapper/RangeMapper.xml
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/main/resources/database/mapper/SubscriptionMapper.xml
Due: RocketMQ Controller

feat(s3stream): evict to 90/100
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
Due: none

feat(s3stream): evict to 90/100 (#391)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
Due: none

feat: separate controller log to a dedicated logger/appender
  broker/src/main/resources/log4j2.xml
Due: RocketMQ Broker

feat: build docker image for broker
  distribution/docker/Dockerfile
  distribution/docker/build.sh
  distribution/pom.xml
Due: none

test: use a temp file path
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: none

feat: run append task
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

feat: append task
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none
