Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

fix: fix lint
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: none

style: re-format code
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
Due: none

fix: fix tests
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
Due: none

refactor: use memory pool instead of `ByteBuffer.allocate`
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/wal/Block.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: none

feat: recycle s3 objects, stream objects periodically
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3StreamObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleS3Task.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3StreamObjectTest.java
  controller/src/test/resources/logback.xml
Due: RocketMQ Common, RocketMQ Controller

feat: implement topic retention period (#436)
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/Helper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Topic.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3StreamObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleS3Task.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/database/mapper/TopicMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3StreamObjectTest.java
  controller/src/test/resources/logback.xml
  proto/src/main/proto/controller.proto
  proto/src/main/proto/model.proto
Due: RocketMQ Common, RocketMQ Controller

fix: call `data.release()` whatever append success or not
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/MemoryWriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

feat: lookup topic/queue owner node id
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store

fix: fix test
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: none

feat(s3stream): support network inbound/outbound bandwidth throttle
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/Gauge.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopS3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3MetricsType.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/NetworkMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/network/AsyncNetworkBandwidthLimiter.java
  s3stream/src/main/java/com/automq/stream/s3/network/ThrottleStrategy.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/AsyncNetworkBandwidthLimiterTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCopierTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/ProxyWriterTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

build(s3stream): upgrade to 0.1.16
  pom.xml
  s3stream/pom.xml
Due: none

feat: lookup topic/queue owner node id (#437)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store

test(s3stream): fix broken test
  s3stream/src/test/java/com/automq/stream/s3/AsyncNetworkBandwidthLimiterTest.java
Due: none

fix: fix flushed offset in `WriteBench`
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

fix: the max size of blocks should not be greater than writable length at the end of the WAL
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: none

feat(s3stream): support network inbound/outbound bandwidth throttle (#438)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/Gauge.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopS3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3MetricsType.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/NetworkMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/network/AsyncNetworkBandwidthLimiter.java
  s3stream/src/main/java/com/automq/stream/s3/network/ThrottleStrategy.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/AsyncNetworkBandwidthLimiterTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCopierTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/ProxyWriterTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

fix(s3stream): fix trimmed data check
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: none

feat(cli): support topic ttl in CreateTopic command
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  common/src/main/java/com/automq/rocketmq/common/util/DurationUtil.java
  common/src/test/java/com/automq/rocketmq/common/util/DurationUtilTest.java
Due: RocketMQ Common

feat: support getStreams for StreamManager
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store

fix: release skipped records during recovery
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: none

perf(s3stream/wal): use the memory pool (#435)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/wal/Block.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/MemoryWriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: none

test(s3stream): add more test for compaction
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: none

feat: filter out trimmed data on compaction (#379)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

feat: use protobuf-util to convert between protobuf message and json
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/ProduceMessage.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/Helper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/TopicTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  proto/src/main/proto/controller.proto
  proto/src/main/proto/model.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DLQService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ResourceMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/ResourceMetadataServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImplTest.java
Due: RocketMQ Controller, RocketMQ Proxy

feat: expose node config to StoreMetadataService
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Store

feat: use protobuf-util to convert between protobuf message and json (#441)
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/ProduceMessage.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/Helper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/TopicTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  proto/src/main/proto/controller.proto
  proto/src/main/proto/model.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DLQService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ResourceMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/ResourceMetadataServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImplTest.java
Due: RocketMQ Controller, RocketMQ Proxy

test: release recoverer records
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: none

fix: no need to release recovered records internally
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: none

fix: flush the file after write
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: none

fix(s3stream/wal): no need to release recovered records internally (#443)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: none

fix(s3stream): fix memory leak
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
Due: none

fix(s3stream): fix memory leak (#446)
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
Due: none

fix: add block into the writing list; update the start offset correctly
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: none

fix(s3stream/wal): flush the file after write (#447)
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: none

chore: remove the check `codecov/project`
  codecov.yml
Due: none

test: fix test `testSingleThreadAppendWhenOverCapacity`
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: none

feat(proxy): support pull message request for remoting protocol
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehavior.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendConsumerManagerActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendPullMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ResourceMetadataService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehaviorTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/ResourceMetadataServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

fix: fix test
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none
