Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

feat: Cluster description shall include a summary section (#488)
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/AssignmentCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/GroupCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/StreamCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/TopicCache.java
  proto/src/main/proto/admin.proto
Due: RocketMQ Controller

feat: support for unified date management of metadata (#484)
  common/src/main/java/com/automq/rocketmq/common/system/S3Constants.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3StreamObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3WalObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3StreamObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleS3Task.java
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3StreamObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3WalObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Common, RocketMQ Controller

fix: refine api of metadata store
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
Due: RocketMQ Controller

feat: support create consumer group through remoting protocol
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/AdminActivity.java
Due: RocketMQ Broker, RocketMQ Proxy

fix: compilation issue
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Metadata

fix: refine api of metadata store (#490)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Metadata

fix: simplify stream mapper
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/StreamCriteria.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleS3Task.java
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: simplify stream mapper (#491)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/StreamCriteria.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleS3Task.java
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: support deploy ros with s3 and mysql in cluster
  distribution/docker/Dockerfile-ci
  distribution/docker/build-ci.sh
  distribution/helm/clean-ci.sh
  distribution/helm/deploy-ci.sh
  distribution/helm/deploy/configmap-template.yaml
  distribution/helm/deploy/ddl.sql
  distribution/helm/deploy/helm_sample_values.yaml
  distribution/helm/deploy/mysql.yaml
Due: none

feat(proxy): introduce TimerService
  common/src/main/java/com/automq/rocketmq/common/ServiceThread.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/TimerService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/DefaultLogicQueueManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

refactor(proxy): optimize test performance and fix flaky test
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

fix(s3stream): fix kos issue389 index ouf of bound
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectReaderTest.java
Due: RocketMQ Stream

fix(s3stream): fix kos issue390 record out of order
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WalWriteRequest.java
Due: RocketMQ Stream

fix(s3stream): fix kos issue389 index ouf of bound (#494)
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectReaderTest.java
Due: RocketMQ Stream

fix(s3stream): fix kos issue390 record out of order (#495)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WalWriteRequest.java
Due: RocketMQ Stream

feat: support deploy in kubeblock
  distribution/kubeblocks/.helmignore
  distribution/kubeblocks/Chart.yaml
  distribution/kubeblocks/templates/broker/NOTES.txt
  distribution/kubeblocks/templates/broker/_brokerconfig.tpl
  distribution/kubeblocks/templates/broker/_helpers.tpl
  distribution/kubeblocks/templates/broker/clusterdefinition.yaml
  distribution/kubeblocks/templates/broker/clusterversion.yaml
  distribution/kubeblocks/templates/broker/configmap.yaml
  distribution/kubeblocks/templates/broker/service.yaml
  distribution/kubeblocks/templates/broker/statefulset.yaml
  distribution/kubeblocks/values.yaml
Due: none

feat: support deploy in helm
  distribution/helm/.helmignore
  distribution/helm/Chart.yaml
  distribution/helm/deploy-ci.sh
  distribution/helm/deploy/ddl.sql
  distribution/helm/deploy/helm_sample_values.yaml
  distribution/helm/deploy/localstack_s3.yaml
  distribution/helm/deploy/mysql.yaml
  distribution/helm/templates/broker/NOTES.txt
  distribution/helm/templates/broker/_brokerconfig.tpl
  distribution/helm/templates/broker/_helpers.tpl
  distribution/helm/templates/broker/configmap.yaml
  distribution/helm/templates/broker/service.yaml
  distribution/helm/templates/broker/statefulset.yaml
  distribution/helm/values.yaml
Due: none

feat(s3stream): stats bytebuf alloc
  s3stream/src/main/java/com/automq/stream/s3/DirectByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/ByteBufMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): stats bytebuf alloc (#496)
  s3stream/src/main/java/com/automq/stream/s3/DirectByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/ByteBufMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): add copyOnWrite interface to Writer
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/Writer.java
Due: RocketMQ Stream

feat(s3stream): add copy on write for writer
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
Due: RocketMQ Stream

feat(s3stream): add copyOnWrite interface to Writer (#497)
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/Writer.java
Due: RocketMQ Stream

fix(s3stream): fix kos issue403 repeated add backoff record
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(s3stream): fix kos issue403 repeated add backoff record (#498)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): isolate s3 readwrite
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): isolate s3 readwrite (#499)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): limit s3 operator inflight request
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): limit s3 operator inflight request (#500)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): force split one wal at a time, limit memory consumption to 500MB
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: RocketMQ Stream

fix(s3stream): release semaphore when necessary
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: RocketMQ Stream

test(s3stream): fix force split unit test
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: RocketMQ Stream

feat(s3stream): force split one wal at a time, limit memory consumpti… (#501)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: RocketMQ Stream

fix(s3stream): operator release
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(s3stream): operator release (#502)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat: expose create topic API to ProxyMetadataService
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
Due: RocketMQ Proxy, RocketMQ Metadata

feat: expose create topic API to ProxyMetadataService (#503)
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
Due: RocketMQ Proxy, RocketMQ Metadata

feat: prepare to implement list-topics command
  cli/src/main/java/com/automq/rocketmq/cli/ListTopic.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
