Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

fix(s3stream/wal): add block into the writing list; update the start offset correctly (#448)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

refactor: make `Block#SoftLimit` configurable
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

feat(s3stream): limit inflight readahead count
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
Due: RocketMQ Stream

feat(s3stream): mark stream evict when evict from active lru
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
Due: RocketMQ Stream

chore(s3stream): update s3stream version to 0.1.17
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

feat: make records in the block not have to be aligned to 4K
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
Due: RocketMQ Stream

feat(s3stream): cache evict (#452)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
Due: RocketMQ Stream

test: test append when merge write and not
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

feat(s3stream/wal): merge write
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

style: fix style
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

feat(cli): support topic ttl in CreateTopic command (#439)
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  common/src/main/java/com/automq/rocketmq/common/util/DurationUtil.java
  common/src/test/java/com/automq/rocketmq/common/util/DurationUtilTest.java
Due: RocketMQ Common

feat(s3stream/wal): merge write (#454)
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

feat(proxy): support pull message request for remoting protocol (#449)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehavior.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendConsumerManagerActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendPullMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ResourceMetadataService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehaviorTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/ResourceMetadataServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Metadata

feat: controller handles planned termination
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/LeaseTask.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  distribution/conf/broker.yaml
Due: RocketMQ Controller

feat: controller handles planned termination (#457)
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/LeaseTask.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  distribution/conf/broker.yaml
Due: RocketMQ Controller

fix(s3stream): fix duplicated release
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
Due: RocketMQ Stream

feat: add protobuf rpc to request a node to terminate gracefully
  proto/src/main/proto/controller.proto
Due: none

fix(s3stream): fix duplicated release (#459)
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
Due: RocketMQ Stream

feat: add protobuf rpc to request a node to terminate gracefully (#460)
  proto/src/main/proto/controller.proto
Due: none

test: specify test cases for wal and stream-related lists
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

test: specify test cases for wal and stream-related commit
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: support shutdown broker gracefully
  broker/src/main/java/com/automq/rocketmq/broker/BrokerStartup.java
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  broker/src/main/resources/log4j2.xml
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Broker, RocketMQ Store

test: specify test cases for s3wal and s3stream (#461)
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: add CLI and partially implement graceful shutdown
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/TerminateNode.java
  common/src/main/java/com/automq/rocketmq/common/api/DataStore.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  common/src/main/java/com/automq/rocketmq/common/util/Lifecycle.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Common, RocketMQ Controller

feat: add CLI and partially implement graceful shutdown (#463)
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/TerminateNode.java
  common/src/main/java/com/automq/rocketmq/common/api/DataStore.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  common/src/main/java/com/automq/rocketmq/common/util/Lifecycle.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Common, RocketMQ Controller

feat(store): support stream related metrics
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  store/src/main/java/com/automq/rocketmq/store/metrics/BaseStreamMetrics.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsManager.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsCounter.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsGauge.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsHistogram.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsManager.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

fix: persist assignment status
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanYieldingQueueTask.java
Due: RocketMQ Controller

refactor: calculate crc lazily
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

perf: marshal records lazily
  s3stream/src/main/java/com/automq/stream/s3/wal/Block.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

perf(s3stream/wal): marshal records lazily (#464)
  s3stream/src/main/java/com/automq/stream/s3/wal/Block.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

fix: persist assignment status (#465)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanYieldingQueueTask.java
Due: RocketMQ Controller

fix: fix the empty of streamIds in getStreams
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

fix: get none result for none query paramters
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(store): polish stream metrics
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/metrics/BaseStreamMetrics.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsGauge.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsHistogram.java
Due: RocketMQ Broker, RocketMQ Store, RocketMQ Metadata

feat: implement leader transfer
  cli/src/main/java/com/automq/rocketmq/cli/TerminateNode.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/TerminationStageTask.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

feat: implement leader transfer (#467)
  cli/src/main/java/com/automq/rocketmq/cli/TerminateNode.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/TerminationStageTask.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

feat(proxy): check client is supported for remoting protocol
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehavior.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendConsumerManagerActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendPullMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/test/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehaviorTest.java
Due: RocketMQ Proxy
