Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

fix: fix check style
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

refactor: make getters in `WALHeaderCoreData` read only
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: none

feat: init `WriteBench`
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

fix: fix config
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

fix: reduce parkNanos
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

feat: uber jar
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

fix: trim when over capacity
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

feat: set up mysql server in docker compose
  .gitignore
  controller/src/main/resources/ddl.sql
  distribution/conf/broker-2.yaml
  distribution/conf/broker.yaml
  distribution/docker/compose.sh
  distribution/docker/docker-compose.yaml
Due: RocketMQ Controller

feat: start a ubuntu:22.04 container for diagnosis purpose
  distribution/docker/docker-compose.yaml
Due: none

fix: ddl
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
Due: RocketMQ Controller

feat(s3stream/wal): benchmark on `append` (#394)
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: none

feat(store): create a separate thread pool for the store
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat: create mysql schema in a dedicated SQL file
  distribution/docker/docker-compose.yaml
  distribution/docker/schema.sql
Due: none

feat: configure broker config via environment variable
  broker/src/main/java/com/automq/rocketmq/broker/BrokerStartup.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/test/java/com/automq/rocketmq/common/config/BrokerConfigTest.java
  distribution/docker/docker-compose.yaml
Due: RocketMQ Broker, RocketMQ Common

fix: code style
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
Due: RocketMQ Common

fix: docker-compose.yaml
  distribution/docker/docker-compose.yaml
Due: none

feat(store): avoid reviving from opening/unopened queue
  store/src/main/java/com/automq/rocketmq/store/exception/StoreErrorCode.java
  store/src/main/java/com/automq/rocketmq/store/model/message/TopicQueueId.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

feat: add readme file
  distribution/docker/README.md
Due: none

feat: support launching development cluster via Docker Compose (#400)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerStartup.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/test/java/com/automq/rocketmq/common/config/BrokerConfigTest.java
  distribution/docker/README.md
  distribution/docker/docker-compose.yaml
Due: RocketMQ Broker, RocketMQ Common

feat(proxy): support produce DLQ message
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/fbs/flat_message.fbs
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/system/MessageConstants.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ProxyMetadataService.java
  proxy/pom.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DLQService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/api/DLQSender.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix(proxy): fix DLQServiceTest#send_group_not_allowed_dlq
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
Due: RocketMQ Proxy

style(store): fix checkstyle
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

fix(s3stream): fix issues402 memory leak
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LRUCache.java
Due: none

feat(store): create a separate thread pool for the store (#397)
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(proxy): use the advertiseAddress configuration as store host of message
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Common, RocketMQ Proxy

fix: fix advertise address
  distribution/docker/Dockerfile
  distribution/docker/README.md
  distribution/docker/compose.sh
  distribution/docker/docker-compose.yaml
Due: none

fix: fix advertise address (#405)
  distribution/docker/Dockerfile
  distribution/docker/README.md
  distribution/docker/compose.sh
  distribution/docker/docker-compose.yaml
Due: none

fix(s3stream): fix issues402 memory leak (#403)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LRUCache.java
Due: none

feat(proxy): use the advertiseAddress configuration as store host of message (#404)
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Common, RocketMQ Proxy

feat: introduce the remoting protocol server
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/protocol/RemotingProtocolServer.java
Due: RocketMQ Broker

chore(proxy): simple the build logic of ProxyContextExt
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Proxy

feat(proxy): introduce the remoting listen port, and let grpc port equals remoting port plus one
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/config/ProxyConfiguration.java
Due: RocketMQ Common, RocketMQ Proxy

feat: record rpc latency for remoting write
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
Due: RocketMQ Proxy

feat(remoting): support send message feature for remoting protocol
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/GrpcProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
Due: RocketMQ Broker, RocketMQ Proxy

feat(remoting): support return distinct gRPC or remoting port for route info
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
Due: RocketMQ Proxy
