Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

fix(s3stream): fix test
  s3stream/pom.xml
Due: none

fix(s3stream): try fix test
  s3stream/pom.xml
Due: none

test(s3stream): add mockito-junit dependency for s3stream
  s3stream/pom.xml
Due: none

fix(s3stream): try fix test dependency
  s3stream/pom.xml
Due: none

feat(s3stream): avoid generate RecordBatch when read from s3
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadDataBlock.java
Due: none

feat: remove s3stream parent (#272)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadDataBlock.java
Due: none

feat(ci): disable codecov changes check
  codecov.yml
Due: none

feat(proxy): support long polling (#270)
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/SuspendPopRequestServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/model/message/Filter.java
  store/src/main/java/com/automq/rocketmq/store/model/message/SQLFilter.java
  store/src/main/java/com/automq/rocketmq/store/model/message/TagFilter.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
Due: RocketMQ Proxy, RocketMQ Store

style(store): fix typo `Config#s3Endpoint`
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: none

feat(store): add S3ObjectOperator
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectOperatorImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/S3ObjectOperator.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectOperatorTest.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

fix: fix sql issue
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3ObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ReclaimS3ObjectTask.java
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3ObjectTest.java
Due: RocketMQ Controller

fix: fix sql issue (#277)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3ObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ReclaimS3ObjectTask.java
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3ObjectTest.java
Due: RocketMQ Controller

refactor(s3stream): use getter&setter for S3StreamMetricsGroup instance
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsRegistry.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
Due: none

fix: reclaim trimed S3 stream objects
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/HikariCPDataSourceFactory.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3StreamObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/LeaseTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ReclaimS3ObjectTask.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3StreamObjectTest.java
Due: RocketMQ Controller

fix: reclaim trimmed S3 stream objects (#280)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/HikariCPDataSourceFactory.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3StreamObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/LeaseTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ReclaimS3ObjectTask.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3StreamObjectTest.java
Due: RocketMQ Controller

fix(s3stream): batch prepare objects when force split WAL (#251)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: none

feat(s3stream): add temp inflight s3 read limiter
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
Due: none

feat: create proto module
  controller/pom.xml
  controller/src/main/main1.iml
  pom.xml
  proto/pom.xml
  proto/src/main/java/com/automq/rocketmq/Main.java
  proto/src/main/proto/controller.proto
  proto/src/main/proto/model.proto
Due: RocketMQ Controller

fix: return exception future
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

feat(s3stream): add temp inflight s3 read limiter (#281)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
Due: none

fix: use inherited props for maven pom.xml
  proto/pom.xml
Due: none

feat: create proto module (#282)
  controller/pom.xml
  controller/src/main/main1.iml
  pom.xml
  proto/pom.xml
  proto/src/main/java/com/automq/rocketmq/Main.java
  proto/src/main/proto/controller.proto
  proto/src/main/proto/model.proto
Due: RocketMQ Controller

fix(s3stream): prevent merge continuous data index block during force split
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: none

fix(s3stream): prevent merge continuous data index block during force split (#283)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: none

feat(s3stream): improve s3stream observarbility (#257)
  s3stream/src/main/java/com/automq/stream/metrics/Timer.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadDataBlock.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/Counter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/Histogram.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopS3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsRegistry.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/TimerUtil.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3MetricsType.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3ObjectStage.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: none

feat(store): transform ControllerException to StoreException when open stream
  store/pom.xml
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/exception/StoreErrorCode.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/DefaultLogicQueueManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

fix(store): fix ReviveServiceTest to avoid NPE
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

feat(store): handle with createAndOpen failed
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/DefaultLogicQueueManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Store

feat(store): import proto dependency in store module
  store/pom.xml
Due: RocketMQ Store

fix: upgrade vulnarable deps and fix deps issues
  common/pom.xml
  pom.xml
  proxy/pom.xml
  s3stream/pom.xml
Due: RocketMQ Common, RocketMQ Proxy

fix: dependency management (#284)
  common/pom.xml
  pom.xml
  proxy/pom.xml
  s3stream/pom.xml
Due: RocketMQ Common, RocketMQ Proxy

feat: add deletion logic and multi-case tests for commits
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(cli): removev rate limiter for ack message in ConsumeMessage cli
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
Due: none

fix: fix duplicate calls exception handler
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

fix: fix deletion logic and duplicate call for commit s3stream / s3wal (#287)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller
