Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

feat(cli): add CreateGroup cli
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
Due: none

feat(store): support take/load/recover snapshot
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/exception/StoreErrorCode.java
  store/src/main/java/com/automq/rocketmq/store/model/metadata/ConsumerGroupMetadata.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/OperationSnapshot.java
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockTopicQueueManager.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Common, RocketMQ Store

fix(controller): fix rangId not unique bug
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/RangeMapper.java
  controller/src/main/resources/database/mapper/RangeMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/RangeTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(controller): support async request metadata storage
  broker/src/main/java/com/automq/rocketmq/broker/manager/NodeRegistrar.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Broker, RocketMQ Controller

fix(proxy): fix getTopicMessageType unit tests
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ResourceMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/ResourceMetadataServiceTest.java
Due: RocketMQ Proxy

feat(cli): add create group cli
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
Due: none

fix: make put message link work as expected
  proxy/src/main/java/com/automq/rocketmq/proxy/model/VirtualQueue.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ResourceMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Proxy, RocketMQ Store

feat(controller): support topic creation with message types
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Topic.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/TopicMapper.java
  controller/src/main/proto/controller.proto
  controller/src/main/resources/database/mapper/TopicMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/TopicTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(store): support basic TopicQueueManager
  store/src/main/java/com/automq/rocketmq/store/DefaultTopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockTopicQueueManager.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

feat(controller): support topic update with message types
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/main1.iml
  controller/src/main/proto/controller.proto
  controller/src/main/resources/database/mapper/TopicMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix(cli): fix the call to create topics
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
Due: none

fix: use async throttle
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/TokenBucketThrottleV2.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
Due: none

fix: qodana warning
  s3stream/src/main/java/com/automq/stream/s3/compact/TokenBucketThrottleV2.java
Due: none

fix: style problem
  s3stream/src/main/java/com/automq/stream/s3/compact/TokenBucketThrottleV2.java
Due: none

feat: support consumer group progress and lazy create of retry streams
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/GroupProgressMapper.java
  controller/src/main/proto/model.proto
  controller/src/main/resources/database/mapper/GroupProgressMapper.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller

feat: add test for consumer group progress and remove redundant code
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: support consumer group progress and lazy create of retry streams (#154)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/GroupProgressMapper.java
  controller/src/main/proto/model.proto
  controller/src/main/resources/database/mapper/GroupProgressMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller

fix: update topic shall create new message queues if its queue count increases
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: rename createQueues
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: update topic shall create new message queues if its queue count increases (#160)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(stream): add minio support for s3 stream
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  distribution/conf/broker.yaml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
Due: RocketMQ Common, RocketMQ Store

feat(stream): add minio support for s3 stream (#163)
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  distribution/conf/broker.yaml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
Due: RocketMQ Common, RocketMQ Store

feat(stream): add metadata and stream module into codecov.yml
  codecov.yml
Due: none

fix: remove assignment status: assignable
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanAssignableMessageQueuesTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanNodeTask.java
  controller/src/main/proto/controller.proto
  controller/src/main/proto/model.proto
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: remove assignment status: assignable (#166)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanAssignableMessageQueuesTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanNodeTask.java
  controller/src/main/proto/controller.proto
  controller/src/main/proto/model.proto
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

refactor: refactor the specific implementation of openStream and listOpenStream
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Lease.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Node.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Stream.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller

refactor: refactor the implementation details of openStream
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(stream): add metadata and stream module into codecov.yml (#164)
  codecov.yml
Due: none

feat: expose StoreHandle to metadata component, allowing it to close message queues if necessary
  common/src/main/java/com/automq/rocketmq/common/StoreHandle.java
Due: RocketMQ Common

feat: expose StoreHandle to metadata component, allowing it to close … (#168)
  common/src/main/java/com/automq/rocketmq/common/StoreHandle.java
Due: RocketMQ Common

feat(store): implement StreamStore#open
  store/src/main/java/com/automq/rocketmq/store/DefaultTopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

feat(store): rebase main
  common/src/main/java/com/automq/rocketmq/common/StoreHandle.java
  store/src/main/java/com/automq/rocketmq/store/DefaultTopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Common, RocketMQ Store

feat(store): implement StreamStore#open (#167)
  common/src/main/java/com/automq/rocketmq/common/StoreHandle.java
  store/src/main/java/com/automq/rocketmq/store/DefaultTopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Common, RocketMQ Store

feat(store): polish some code lines and make MessageStoreTest stable
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/model/metadata/ConsumerGroupMetadata.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store
