Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

test(wal): only an aligned offset can be regarded as an invalid offset during recovery
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
Due: RocketMQ Stream

fix(wal): check offsets before try to read records during recovery
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

chore(pom): update s3stream version 0.4.2 -> 0.5.0
  pom.xml
Due: none

fix(wal/benchmark): recover and reset before start
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

test(wal): test recovery mode
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

feat(s3stream): rename S3StreamThreadPoolMonitor (#681)
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
  s3stream/src/main/java/com/automq/stream/utils/threads/S3StreamThreadPoolMonitor.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store, RocketMQ Stream

fix(issues447): trim the wrong WAL when failover
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
Due: RocketMQ Stream

perf(wal): speed up recovery (#678)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALCapacityMismatchException.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
  s3stream/src/test/java/com/automq/stream/s3/failover/FailoverTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/WALHeaderTest.java
Due: RocketMQ Stream

feat(s3stream/wal): check and use direct IO by default
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
Due: RocketMQ Stream

fix(issues447): trim the wrong WAL when failover (#682)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
Due: RocketMQ Stream

feat(s3stream): evict ObjectReader based on index size (#677)
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LRUCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ObjectReaderLRUCache.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/cache/ObjectReaderLRUCacheTest.java
Due: RocketMQ Stream

test: fix test
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: RocketMQ Stream

feat(s3stream/wal): check and use direct IO by default (#683)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: RocketMQ Stream

feat(kafka-issues447): skip empty WAL
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
Due: RocketMQ Stream

style(wal): format code
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
Due: RocketMQ Stream

feat(kafka-issues447): skip empty WAL (#684)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
Due: RocketMQ Stream

chore: update kubeblock adaptation
  distribution/kubeblocks/templates/broker/NOTES.txt
  distribution/kubeblocks/templates/broker/_helpers.tpl
  distribution/kubeblocks/templates/broker/clusterdefinition.yaml
  distribution/kubeblocks/templates/broker/clusterversion.yaml
  distribution/kubeblocks/templates/broker/service.yaml
  distribution/kubeblocks/templates/broker/statefulset.yaml
  distribution/kubeblocks/values.yaml
Due: none

chore: add readme about kubeblock
  distribution/kubeblocks/README.md
Due: none

feat(wal): recovery mode when using direct IO
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
Due: RocketMQ Stream

fix: annihilate ck/ack in-memory prior to put them sheduling KV service
  store/src/main/java/com/automq/rocketmq/store/EmptyFetchResult.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Store

fix(wal): check wal channel's capacity on startup
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: RocketMQ Stream

test(wal): check whether window service started
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

test(wal): support unaligned write for testing
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

chore: update kubeblock adaptation (#685)
  distribution/kubeblocks/README.md
  distribution/kubeblocks/templates/broker/NOTES.txt
  distribution/kubeblocks/templates/broker/_helpers.tpl
  distribution/kubeblocks/templates/broker/clusterdefinition.yaml
  distribution/kubeblocks/templates/broker/clusterversion.yaml
  distribution/kubeblocks/templates/broker/service.yaml
  distribution/kubeblocks/templates/broker/statefulset.yaml
  distribution/kubeblocks/values.yaml
Due: none

feat(broker): change time zone of log4j2 into GMT+8
  distribution/conf/log4j2.xml
Due: none

fix(wal): fix shutdown before start
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

test: fix tests
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
Due: RocketMQ Stream

feat(broker): change time zone of log4j2 into GMT+8 (#688)
  distribution/conf/log4j2.xml
Due: none

test(wal): test read and write on block device
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannelTest.java
Due: RocketMQ Stream

fix: simplify data-retention task
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/DataRetentionTask.java
Due: RocketMQ Controller

fix: optimize recovery procedure (#687)
  store/src/main/java/com/automq/rocketmq/store/EmptyFetchResult.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Store

fix: fill WAL base-data-time during commit-of-wal
  controller/src/main/java/com/automq/rocketmq/controller/server/TopicMetricsManager.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3ObjectCache.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3WalObjectCache.java
Due: RocketMQ Controller

fix: simplify data-retention task (#695)
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/DataRetentionTask.java
Due: RocketMQ Controller

test(wal): test capacity mismatch and not initialized in recovery mode
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

test(wal): fix tests
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

refactor(wal): logic offset to physical offset utils
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

style(wal): format code
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

refactor(wal): remove useless `started` flag
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

fix(s3stream/wal): check wal channel's capacity on startup (#697)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannelTest.java
Due: RocketMQ Stream

fix(s3stream/wal): automatically detected whether to use direct IO by default
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
