Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

fix: unify stream entity (#112)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Stream.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/StreamMetadata.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamAffiliationMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/proto/model.proto
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamAffiliationAssignmentTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamAffiliationTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(store): introduce S3ObjectManager interface to support delete (#114)
  store/src/main/java/com/automq/rocketmq/store/api/S3ObjectManager.java
Due: RocketMQ Store

refactor(store): refactore the store pop&put API, introduce the FlatMessage for store module
  common/pom.xml
  common/src/main/fbs/common.fbs
  common/src/main/fbs/flat_message.fbs
  common/src/main/java/com/automq/rocketmq/common/model/FlatMessageExt.java
  common/src/test/java/com/automq/rocketmq/common/model/FlatMessageExtTest.java
  common/src/test/java/com/automq/rocketmq/common/util/FlatMessageUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/RocketMQMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/pom.xml
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/message/Filter.java
  store/src/main/java/com/automq/rocketmq/store/model/message/SQLFilter.java
  store/src/main/java/com/automq/rocketmq/store/model/message/TagFilter.java
  store/src/main/java/com/automq/rocketmq/store/model/stream/SingleRecord.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/util/MessageUtil.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/util/MessageUtilTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat: create retry stream for group (#108)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamAffiliationMapper.java
  controller/src/main/proto/controller.proto
  controller/src/main/resources/database/mapper/StreamAffiliationMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamAffiliationTest.java
Due: RocketMQ Controller

feat(controller): support s3stream metadata open and close (#110)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Stream.java
  controller/src/main/proto/controller.proto
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: add max-retry-attempt, group type to consumer_group table (#98)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Group.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/GroupType.java
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/main/resources/ddl.sql
Due: RocketMQ Controller

feat: implement commit offset to metadata store (#95)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/BrokerNode.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/NodeMapper.java
  controller/src/main/resources/database/mapper/NodeMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/NodeTest.java
Due: RocketMQ Controller

feat: implement reassign to migrate message queues among nodes (#103)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/proto/controller.proto
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

fix(controller): fix duplicate ids for metadata test (#107)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3ObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/resources/database/mapper/RangeMapper.xml
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
Due: RocketMQ Controller

feat: create streams for message queues (#106)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamAffiliationMapper.java
  controller/src/main/resources/database/mapper/StreamAffiliationMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamAffiliationTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(metadata): polish the interface of metadata service
  controller/src/main/proto/model.proto
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/ProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/StoreMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

feat(controller): support s3stream metadata list (#105)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3WALObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/RangeMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3StreamObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3WALObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/resources/database/mapper/RangeMapper.xml
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/database/mapper/S3WALObjectMapper.xml
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/RangeTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3StreamObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3WALObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(controller): support s3stream metadata trim
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Range.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3Object.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3ObjectMapper.java
  controller/src/main/resources/database/mapper/RangeMapper.xml
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/RangeTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3ObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: adjust and rename Queue to StreamAffiliation, managing stream/qu… (#104)
  common/src/main/fbs/common.fbs
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/AssignmentStatus.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/QueueAssignment.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/StreamAffiliation.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/QueueAssignmentMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamAffiliationMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanAssignableMessageQueuesTask.java
  controller/src/main/resources/database/mapper/StreamAffiliationMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamAffiliationAssignmentTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamAffiliationTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Common, RocketMQ Controller

fix(metadata): pass checkstyle
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
Due: RocketMQ Store

feat(metadata): optimize S3ObjectManager#getObjects
  common/src/main/java/com/automq/rocketmq/common/util/Pair.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/StoreMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Common, RocketMQ Store

fix: add rpc to create consumer group (#99)
  controller/src/main/proto/controller.proto
  controller/src/main/proto/model.proto
Due: RocketMQ Controller

fix: add rpc to create consumer group (#101)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Group.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/GroupMapper.java
  controller/src/main/proto/controller.proto
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GroupTest.java
Due: RocketMQ Controller

fix: fix datasource about too many connections
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/HikariCPDataSourceFactory.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3Object.java
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3ObjectTest.java
Due: RocketMQ Controller

chore(s3stream): prepare move s3stream from kos project
  s3stream/pom.xml
Due: none

feat(broker): introduce BrokerStartup for integration
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/BrokerStartup.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/YamlConfig.java
  common/src/test/java/com/automq/rocketmq/common/config/YamlConfigTest.java
Due: RocketMQ Broker, RocketMQ Common

feat(store): support close queue for controller
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/StoreMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/StreamStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PutResult.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
Due: RocketMQ Proxy, RocketMQ Store

feat(s3stream): move s3stream from kos project
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/api/KVClient.java
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  store/pom.xml
  style/rmq_checkstyle.xml
Due: RocketMQ Store

feat: assembly 1
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/HikariCPDataSourceFactory.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
Due: RocketMQ Controller

fix: close grpc managed channel on test completion
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/HikariCPDataSourceFactory.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
Due: RocketMQ Controller

feat: assembly 1 (#115)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/HikariCPDataSourceFactory.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
Due: RocketMQ Controller

feat: assembly-2, implement more APIs for StoreMetadataService
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Group.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/GroupType.java
  controller/src/main/proto/model.proto
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/StoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store

feat: assembly-2, implement more APIs for StoreMetadataService (#116)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Group.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/GroupType.java
  controller/src/main/proto/model.proto
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/StoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store

fix: use enum from protobuf IDL
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/AssignmentStatus.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Group.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/GroupStatus.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/QueueAssignment.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Stream.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/StreamRole.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Topic.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/TopicStatus.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/GroupMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/QueueAssignmentMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/TopicMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanAssignableMessageQueuesTask.java
  controller/src/main/proto/model.proto
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GroupTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/TopicTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
Due: RocketMQ Controller

fix: use enum from protobuf IDL (#117)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/AssignmentStatus.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Group.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/GroupStatus.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/QueueAssignment.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Stream.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/StreamRole.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Topic.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/TopicStatus.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/GroupMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/QueueAssignmentMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/TopicMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanAssignableMessageQueuesTask.java
  controller/src/main/proto/model.proto
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GroupTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/TopicTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
Due: RocketMQ Controller

feat: implement ProxyMetadataService#topicOf
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
Due: RocketMQ Controller

feat: implement ProxyMetadataService#topicOf (#118)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
Due: RocketMQ Controller

feat: implement DefaultStoreMetadataService#{open, close}Stream
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller

feat: implement DefaultStoreMetadataService#{open, close}Stream (#119)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller

feat: implement list open streams for the node
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/proto/controller.proto
  controller/src/main/resources/database/mapper/StreamMapper.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/StreamStoreImpl.java
Due: RocketMQ Controller, RocketMQ Store

fix: add unit tests for list open streams
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: add test for rpc
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

feat: implement list open streams for the node (#121)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/proto/controller.proto
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/StreamStoreImpl.java
Due: RocketMQ Controller, RocketMQ Store

feat(controller): support open stream list and 2PC Preparation
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3Object.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3ObjectMapper.java
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3ObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(controller): support s3stream metadata 2PC
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3StreamObjectMapper.java
  controller/src/main/proto/controller.proto
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3ObjectTest.java
Due: RocketMQ Controller

Path conditions:
  RocketMQ Broker: any of: broker/
  RocketMQ Common: any of: common/
  RocketMQ Controller: any of: controller/
  RocketMQ Proxy: any of: proxy/
  RocketMQ Store: any of: store/
