Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

feat(controller): add test about stream commit and prepare
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(proxy): implement topic route service based on virtual broker
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/ProxyMetadataService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
Due: RocketMQ Proxy

fix(proxy): fix the check style issue for topic route service
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
Due: RocketMQ Proxy

feat(controller): support s3stream metadata 2PC
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3StreamObjectMapper.java
  controller/src/main/proto/controller.proto
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3ObjectTest.java
Due: RocketMQ Controller

feat(controller): support open stream list and 2PC Preparation
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3Object.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3ObjectMapper.java
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3ObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(all): try assemble all modules but not complete yet
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/protocol/GrpcProtocolServer.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/DefaultServiceManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(controller): support s3wal metadata commit
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(controller): implement 2PC for s3stream and wal
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

style(controller): s3object constant declaration
  common/src/main/java/com/automq/rocketmq/common/system/S3Constants.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Common, RocketMQ Controller

feat(prxoy): introduce virtual queue and implment send message based on it
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/proto/model.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/model/VirtualQueue.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Controller, RocketMQ Proxy

feat(proxy): implement resource metadata service
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ResourceMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/ResourceMetadataServiceTest.java
Due: RocketMQ Proxy

feat(proxy): polish the pop message logic to adopt the queue binding model
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/RocketMQMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

fix(store): refactor the store module into state machine mode
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  common/src/main/java/com/automq/rocketmq/common/model/FlatMessageExt.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/StoreMetadataService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/MemoryMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PullResult.java
  store/src/main/java/com/automq/rocketmq/store/model/metadata/ConsumerGroupMetadata.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/AckOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/ChangeInvisibleDurationOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/Operation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/OperationSnapshot.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/PopOperation.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockTopicQueueManager.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/StreamOperationLogServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix(store): uniform time unit with nanosecond
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

fix(store): fix conflicts after rebasing
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
Due: RocketMQ Store

fix(store): fix conflicts after rebasing
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Proxy

feat(store): ack-timeout with fifo isn't allowed to advance the ack-offset
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueue.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

feat(store): replay pop-operation with count will only write one ck but multiple order-index for fifo
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
Due: RocketMQ Store

feat(store): update consume offset even if all fetched message are filtered
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/PopOperation.java
  store/src/test/java/com/automq/rocketmq/store/TopicQueueTest.java
Due: RocketMQ Store

feat(common): add original_queue_offset for the SystemProperties of flat message
  common/src/main/fbs/flat_message.fbs
Due: RocketMQ Common

feat(common): add originalOffset for FlatMessageExt
  common/src/main/java/com/automq/rocketmq/common/model/FlatMessageExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store
