Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

fix: fix listObjects to query by streamId
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(store): record consumeTimes in ConsumerGroupMetadata
  common/src/main/fbs/flat_message.fbs
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/model/metadata/ConsumerGroupMetadata.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/OperationSnapshot.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/OperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/metadata/ConsumerGroupMetadataTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Common, RocketMQ Store

fix(store): fix NPE when replay pop operation
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
Due: RocketMQ Store

feat(store): add DLQ related system properties
  common/src/main/fbs/flat_message.fbs
  common/src/main/java/com/automq/rocketmq/common/model/FlatMessageExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/api/OperationLogService.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(store): support DLQSender
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/api/DLQSender.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

fix: fix listObjects to query by streamId (#289)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(store): add test to verify DLQ sending logic
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

fix: add expiration check for s3Object in commit
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3StreamObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3WalObject.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

fix: fix missing data for s3object in commitObjct
  common/src/main/java/com/automq/rocketmq/common/system/StreamConstants.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Common, RocketMQ Controller

feat: cache topic and assignment metadata
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/AssignmentCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GrpcHelper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/StreamCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicCache.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanAssignmentTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanTopicTask.java
Due: RocketMQ Controller

fix: fix code style issue
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanAssignmentTask.java
Due: RocketMQ Controller

feat(store): add DLQService
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/model/FlatMessageExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DLQService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat: cache topic and assignment metadata (#293)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/AssignmentCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GrpcHelper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/StreamCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicCache.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanAssignmentTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanTopicTask.java
Due: RocketMQ Controller

fix(store): fix ReviveServiceTest
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

fix(s3stream): remove operator semaphore
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

fix(s3stream): remove operator semaphore (#295)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

feat: apply limit in whole objects
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: apply limit in whole objects (#296)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: add expiration check and missing data for s3object in commit (#292)
  common/src/main/java/com/automq/rocketmq/common/system/StreamConstants.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3StreamObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3WalObject.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Common, RocketMQ Controller

refactor(s3stream): remove duplicated log
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

refactor(store): refactor for readability
  common/src/main/java/com/automq/rocketmq/common/model/FlatMessageExt.java
  common/src/main/java/com/automq/rocketmq/common/system/MessageConstants.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

chore: fix default scan interval
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
Due: RocketMQ Common, RocketMQ Proxy

feat(s3stream): merge adjacent read tasks
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultS3OperatorTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultWriterTest.java
Due: none

fix(s3stream): fix checkstyle
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
Due: none

fix: fix duplicate sequence ids when commit wal
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(proxy): improve proxy metrics
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/src/main/java/com/automq/rocketmq/common/metrics/MetricsExporterType.java
  common/src/main/java/com/automq/rocketmq/common/metrics/NopLongCounter.java
  common/src/main/java/com/automq/rocketmq/common/metrics/NopLongHistogram.java
  common/src/main/java/com/automq/rocketmq/common/metrics/NopLongUpDownCounter.java
  common/src/main/java/com/automq/rocketmq/common/metrics/NopObservableLongGauge.java
  distribution/conf/broker.yaml
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ConsumerAttr.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProducerAttr.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy

feat(cli): limit the inflight messages for ConsumeMessage cli, to avoid tons of retry messages
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
Due: none

chore: fix default scan interval (#302)
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
Due: RocketMQ Common, RocketMQ Proxy

chore: remove deprecated APIs of StoreMetadataService
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
Due: none

chore: remove deprecated APIs from ProxyMetadataService
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ProxyMetadataService.java
Due: none

fix(s3stream): fix CR
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

feat(s3stream): merge adjacent read tasks (#306)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultS3OperatorTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultWriterTest.java
Due: none

Path conditions:
  RocketMQ Broker: any of: broker/
  RocketMQ Common: any of: common/
  RocketMQ Controller: any of: controller/
  RocketMQ Proxy: any of: proxy/
  RocketMQ Store: any of: store/
