Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

feat(s3stream): make AbstractOrderedCollection could be extented by other packages
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/AbstractOrderedCollection.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/IndexBlockOrderedBytes.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/StreamRecordBatchList.java
Due: RocketMQ Stream

feat(s3stream): make AbstractOrderedCollection could be extented by others (#863)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/AbstractOrderedCollection.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/IndexBlockOrderedBytes.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/StreamRecordBatchList.java
Due: RocketMQ Stream

test(s3stream/util): test `FutureTicker` (#859)
  s3stream/src/main/java/com/automq/stream/utils/FutureTicker.java
  s3stream/src/test/java/com/automq/stream/utils/FutureTickerTest.java
Due: RocketMQ Stream

test(s3stream/util): fix tests
  s3stream/src/test/java/com/automq/stream/utils/FutureTickerTest.java
Due: RocketMQ Stream

feat(s3stream): introduce tracing to s3stream
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WalWriteRequest.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/InflightReadThrottle.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/context/AppendContext.java
  s3stream/src/main/java/com/automq/stream/s3/context/FetchContext.java
  s3stream/src/main/java/com/automq/stream/s3/trace/AttributeBindings.java
  s3stream/src/main/java/com/automq/stream/s3/trace/MethodCache.java
  s3stream/src/main/java/com/automq/stream/s3/trace/SpanAttributesExtractor.java
  s3stream/src/main/java/com/automq/stream/s3/trace/TraceUtils.java
  s3stream/src/main/java/com/automq/stream/s3/trace/aop/S3StreamTraceAspect.java
  s3stream/src/main/java/com/automq/stream/s3/trace/context/TraceContext.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/MemoryWriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteAheadLog.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
Due: RocketMQ Store, RocketMQ Stream

feat(s3stream): support tracing s3stream in rocketmq
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/util/ContextUtil.java
Due: RocketMQ Store

style(s3stream): remove unused imports
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

style(s3stream): remove unused imports
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
Due: RocketMQ Store

feat(s3stream): introduce tracing to s3stream (#866)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WalWriteRequest.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/InflightReadThrottle.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/context/AppendContext.java
  s3stream/src/main/java/com/automq/stream/s3/context/FetchContext.java
  s3stream/src/main/java/com/automq/stream/s3/trace/AttributeBindings.java
  s3stream/src/main/java/com/automq/stream/s3/trace/MethodCache.java
  s3stream/src/main/java/com/automq/stream/s3/trace/SpanAttributesExtractor.java
  s3stream/src/main/java/com/automq/stream/s3/trace/TraceUtils.java
  s3stream/src/main/java/com/automq/stream/s3/trace/aop/S3StreamTraceAspect.java
  s3stream/src/main/java/com/automq/stream/s3/trace/context/TraceContext.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/MemoryWriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteAheadLog.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/util/ContextUtil.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
Due: RocketMQ Store, RocketMQ Stream

perf(s3stream): `thenAcceptAsync` without executor -> `thenAccept`
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

perf(s3stream): `thenAcceptAsync` without executor -> `thenAccept` (#867)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

refactor(s3stream): standardize the code style
  s3stream/src/main/java/com/automq/stream/api/CreateStreamOptions.java
  s3stream/src/main/java/com/automq/stream/api/OpenStreamOptions.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/StreamMetadata.java
  s3stream/src/test/java/com/automq/stream/s3/objects/ObjectManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/streams/StreamManagerTest.java
Due: RocketMQ Stream

fix(store): fix store
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

feat(s3stream): optimize error message for checking S3 availability
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

refactor(s3stream): standardize the code style (#864)
  s3stream/src/main/java/com/automq/stream/api/CreateStreamOptions.java
  s3stream/src/main/java/com/automq/stream/api/OpenStreamOptions.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/StreamMetadata.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/objects/ObjectManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/streams/StreamManagerTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store, RocketMQ Stream

chore(s3stream): update the version not updated in commit f4e37d140c32
  s3stream/pom.xml
Due: RocketMQ Stream

chore: update version in parent pom
  pom.xml
Due: none

chore(s3stream): update the version not updated in commit f4e37d140c32 (#868)
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

feat(s3stream): reuse attributes to reduce cost during recording metrics
  s3stream/src/main/java/com/automq/stream/s3/metrics/AttributesCache.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsManager.java
  s3stream/src/test/java/com/automq/stream/s3/metrics/AttributesCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/metrics/StreamMetricsManagerTest.java
Due: none

feat(s3stream): reuse attributes to reduce cost during recording metrics (#869)
  s3stream/src/main/java/com/automq/stream/s3/metrics/AttributesCache.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsManager.java
  s3stream/src/test/java/com/automq/stream/s3/metrics/AttributesCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/metrics/StreamMetricsManagerTest.java
Due: none

test(s3stream/util): fix tests (#865)
  s3stream/src/test/java/com/automq/stream/utils/FutureTickerTest.java
Due: RocketMQ Stream

feat(s3stream): support record metrics by level for s3stream
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/DirectByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/MetricsLevel.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsManager.java
  s3stream/src/main/java/com/automq/stream/s3/network/AsyncNetworkBandwidthLimiter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

feat(s3stream): support record metrics by level for s3stream (#870)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/DirectByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/MetricsLevel.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsManager.java
  s3stream/src/main/java/com/automq/stream/s3/network/AsyncNetworkBandwidthLimiter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

feat(s3stream): change read ahead size metrics level to INFO
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
Due: RocketMQ Stream

feat(s3stream): change read ahead size metrics level to INFO (#871)
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
Due: RocketMQ Stream

fix(s3stream/wal): fix check of `scaleOutWindow`
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

refactor(s3stream/wal): simplify `makeWriteOffsetMatchWindow`
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

fix(wal/benchmark): stop to trim before close the wal
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

fix(wal): shutdown the `pollBlockScheduler` during shutdown
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

fix(s3stream/wal): fix checks before `scaleOutWindow` (#873)
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: RocketMQ Stream

feat(groupStatus): Add "groupStatus" command to the CLI tools #764 Signed-off-by: zhouyou.ltx <zhouyou9505@gmail.com>
  proto/src/main/proto/proxy/proxy.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImplTest.java
Due: RocketMQ Proxy

feat(s3stream): wait for the background executor to close when shutting down the S3 storage
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

feat(s3stream): wait for the background executor to close when shutting down the S3 storage
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
Due: RocketMQ Stream

refactor(stream): make CompactionManager#compact public
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectMetadata.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/StreamOffsetRange.java
  s3stream/src/test/java/com/automq/stream/s3/objects/ObjectManagerTest.java
Due: RocketMQ Stream

refactor(stream): make CompactionManager#compact public (#877)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectMetadata.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/StreamOffsetRange.java
  s3stream/src/test/java/com/automq/stream/s3/objects/ObjectManagerTest.java
Due: RocketMQ Stream

ci(stream): add e2e ci
  .github/workflows/s3-stream-e2e.yml
Due: none

ci(stream): trigger ci
  s3stream/pom.xml
Due: RocketMQ Stream

ci(stream): initialize java
  .github/workflows/s3-stream-e2e.yml
Due: none

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
