Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

feat(s3stream): refine s3stream config name
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store, RocketMQ Stream

chore(s3stream): upgrade s3stream to 0.1.19-SNAPSHOT
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

feat(s3stream): refine s3stream config name (#542)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store, RocketMQ Stream

chore(log): separate stream log into dedicated file
  broker/src/main/resources/log4j2.xml
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
Due: RocketMQ Broker, RocketMQ Store

feat: localize s3 metadata access
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/S3MetadataManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/HikariCPDataSourceFactory.java
  metadata/pom.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/S3MetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/S3StreamObjectCache.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  metadata/src/test/java/com/automq/rocketmq/metadata/s3/DatabaseTestBase.java
  metadata/src/test/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataServiceTest.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Broker, RocketMQ Controller, RocketMQ Metadata

feat: localize s3 metadata access (#543)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/S3MetadataManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/HikariCPDataSourceFactory.java
  metadata/pom.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/S3MetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/S3StreamObjectCache.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  metadata/src/test/java/com/automq/rocketmq/metadata/s3/DatabaseTestBase.java
  metadata/src/test/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataServiceTest.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Broker, RocketMQ Controller, RocketMQ Metadata

chore(log): separate stream log into dedicated file
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
Due: RocketMQ Proxy

chore(proxy): add global exception handler for proxy (#537)
  common/src/main/java/com/automq/rocketmq/common/exception/RocketMQException.java
  common/src/main/java/com/automq/rocketmq/common/exception/RocketMQRuntimeException.java
  proxy/src/main/java/com/automq/rocketmq/proxy/exception/ExceptionHandler.java
  proxy/src/main/java/com/automq/rocketmq/proxy/exception/ProxyException.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendConsumerManagerActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendPullMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

chore(log): separate stream log into dedicated file (#544)
  broker/src/main/resources/log4j2.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

feat(s3stream): optimize s3stream metrics name
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopS3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/ByteBufMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/NetworkMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
Due: RocketMQ Stream

chore(s3stream): upgrade s3stream to 0.1.20-SNAPSHOT
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

chore(stream): refactor metrics builder
  store/src/main/java/com/automq/rocketmq/store/metrics/BaseStreamMetrics.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsCounter.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsGauge.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsHistogram.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsManager.java
Due: RocketMQ Store

chore(stream): use the separate S3 operator for compaction purposes
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

feat(s3stream): counter metrics optimization
  s3stream/src/main/java/com/automq/stream/s3/metrics/Counter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/NetworkMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
Due: RocketMQ Stream

feat(s3stream): optimize s3stream metrics name (#545)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/metrics/Counter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopS3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/ByteBufMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/NetworkMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  store/src/main/java/com/automq/rocketmq/store/metrics/BaseStreamMetrics.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsCounter.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsGauge.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsHistogram.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsManager.java
Due: RocketMQ Store, RocketMQ Stream

chore(stream): use the separate S3 operator for compaction purposes (#546)
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

feat(s3stream): change s3stream metrics tags key
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
Due: RocketMQ Stream

feat(s3stream): change s3stream metrics tags key (#547)
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
Due: RocketMQ Stream

fix: commit wal implementation
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/StreamMapper.java
  metadata-jdbc/src/main/resources/database/mapper/StreamMapper.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataServiceTest.java
Due: RocketMQ Metadata

fix: commit wal implementation (#548)
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/StreamMapper.java
  metadata-jdbc/src/main/resources/database/mapper/StreamMapper.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataServiceTest.java
Due: RocketMQ Metadata

chore(stream): add network limit config for stream module
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  distribution/conf/broker.yaml
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

fix: set retention period when create topic and add test case for topic creation
  controller/src/main/java/com/automq/rocketmq/controller/exception/ControllerException.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/GrpcControllerClientTest.java
Due: RocketMQ Controller

fix: set retention period when create topic and add test case for top… (#550)
  controller/src/main/java/com/automq/rocketmq/controller/exception/ControllerException.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/GrpcControllerClientTest.java
Due: RocketMQ Controller

feat: cluster node list now includes advertise address
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  proto/src/main/proto/admin.proto
Due: RocketMQ Controller

feat: cluster node list now includes advertise address (#551)
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  proto/src/main/proto/admin.proto
Due: RocketMQ Controller

fix(s3stream): fix potential NPE in compaction
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
Due: RocketMQ Stream

fix(s3stream): fix potential NPE in compaction (#552)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
Due: RocketMQ Stream

chore(stream): add network limit config for stream module (#549)
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  distribution/conf/broker.yaml
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

feat: expose controller config
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/Controller.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  distribution/conf/broker.yaml
Due: none

feat: expose controller config (#554)
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/Controller.java
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  distribution/conf/broker.yaml
Due: none

feat(s3stream): simplify operation counter metrics
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

chore(s3stream): upgrade s3stream to 0.1.21-SNAPSHOT
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

chore(s3stream): rename get metrics method name
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
Due: RocketMQ Stream

feat(s3stream): simplify operation counter metrics (#553)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

chore(doc): update README.md
  README.md
  architecture.webp
Due: none

fix(store): skip initializing StreamMetricsManager when exporter disabled
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsManager.java
Due: RocketMQ Broker, RocketMQ Store

chore(controller): add some logs
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/ReclaimS3ObjectTask.java
  distribution/bin/run-server.sh
Due: RocketMQ Controller
