Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

fix(proxy): avoid running out of remaining request time
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendReceiveMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
Due: RocketMQ Proxy

fix(proxy): relax the long polling timeout limit in unit test
  proxy/src/test/java/com/automq/rocketmq/proxy/service/SuspendPopRequestServiceTest.java
Due: RocketMQ Proxy

fix(proxy): return the route info of ongoing assignments
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImplTest.java
Due: RocketMQ Broker, RocketMQ Proxy

feat: `SlidingWindowService#newBlock`
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTask.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTaskImpl.java
Due: none

refactor: move `Flusher` from `WriteBlockTask` to `SlidingWindowService`
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTask.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTaskImpl.java
Due: none

refactor: change signature of `WriteBlockTask#addrecord`
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTask.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTaskImpl.java
Due: none

fix: init the `currentWriteTask`
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: none

fix: update the next write offset when shutdown gracefully
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: none

feat: a semaphore for io thread pool
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTask.java
Due: none

feat: calculate start offset by blocks
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: none

refactor: rename `WriteBlockTask` to `Block`
  s3stream/src/main/java/com/automq/stream/s3/wal/Block.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: none

feat: try to poll next block after writing the previous one
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: none

fix: reset the position of `BlockImpl#data`
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: none

fix: calculate the crc of record body
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: none

refactor: make ExtendSendMessageActivity more robust
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/GrpcProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendGrpcMessagingActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehavior.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/test/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehaviorTest.java
Due: RocketMQ Proxy

feat(proxy): introduce ExtendConsumerManagerActivity to support consumer management
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendConsumerManagerActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehaviorTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

feat(proxy): introduce the pull message feature for remoting protocol
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendConsumerManagerActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendPullMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
Due: RocketMQ Proxy

fix(store): fix lag related metrics
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsConstant.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsManager.java
Due: RocketMQ Store

perf: return an illegal value rather than `BlockFullException`
  s3stream/src/main/java/com/automq/stream/s3/wal/Block.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: none

feat(s3stream/wal): group commit (#422)
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/wal/Block.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteRecordTask.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/ThreadFactoryImpl.java
  s3stream/src/main/java/com/automq/stream/utils/FutureUtil.java
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: none

fix(store): ignore operation with illegal argument in recover
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
Due: RocketMQ Store

feat: improve cache to avoid request collapsing
  broker/src/main/resources/log4j2.xml
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/AssignmentCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/GroupCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/Inflight.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/StreamCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/TopicCache.java
Due: RocketMQ Broker, RocketMQ Controller

feat(s3stream): use put object when data size is less than 32MB
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/Writer.java
  s3stream/src/test/java/com/automq/stream/s3/operator/MultiPartWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/ProxyWriterTest.java
Due: none

chore(s3stream): update s3stream to 0.1.14
  pom.xml
  s3stream/pom.xml
Due: none

chore(s3stream): add license
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
Due: none

feat(s3stream): use put object when data size is less than 32MB (#431)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/Writer.java
  s3stream/src/test/java/com/automq/stream/s3/operator/MultiPartWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/ProxyWriterTest.java
Due: none

fix: simplify implementation of request callapsing barrier
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/Helper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
Due: RocketMQ Controller

fix: no need to synchroize as CAS has offered guards
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/Inflight.java
Due: RocketMQ Controller

feat: improve cache to avoid request collapsing (#430)
  broker/src/main/resources/log4j2.xml
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/Helper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/AssignmentCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/GroupCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/Inflight.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/StreamCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/TopicCache.java
Due: RocketMQ Broker, RocketMQ Controller

feat: add retention_hours to topic
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/Helper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Topic.java
  controller/src/main/resources/database/mapper/TopicMapper.xml
  controller/src/main/resources/ddl.sql
  proto/src/main/proto/controller.proto
  proto/src/main/proto/model.proto
Due: RocketMQ Controller

feat(store): support reset consume offset for pop mode
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/message/ResetConsumeOffsetResult.java
  store/src/main/java/com/automq/rocketmq/store/model/metadata/ConsumerGroupMetadata.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/AckOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/ChangeInvisibleDurationOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/OperationSnapshot.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/PopOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/ResetConsumeOffsetOperation.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/OperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Proxy, RocketMQ Store

test(store): add reset consume offset test
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/message/ClearRetryMessagesResult.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/ResetConsumeOffsetOperation.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
Due: RocketMQ Proxy, RocketMQ Store

feat: release allocated buffers
  s3stream/src/main/java/com/automq/stream/s3/wal/Block.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: none
