Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

fix(s3stream): acquire deadlock
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(s3stream): acquire deadlock (#504)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat: implement list topic command
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  cli/src/main/java/com/automq/rocketmq/cli/ListTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
Due: RocketMQ Controller

feat: list topics (#505)
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  cli/src/main/java/com/automq/rocketmq/cli/ListTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

fix(s3stream): compaction fix
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionConstants.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
Due: RocketMQ Stream

feat: implement list-group command
  cli/src/main/java/com/automq/rocketmq/cli/ListGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

feat: implement list-group command (#507)
  cli/src/main/java/com/automq/rocketmq/cli/ListGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

fix(s3stream): deadlock
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(s3stream): fix unit test
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/test/java/com/automq/stream/s3/operator/MultiPartWriterTest.java
Due: RocketMQ Stream

fix(s3stream): deadlock (#508)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/test/java/com/automq/stream/s3/operator/MultiPartWriterTest.java
Due: RocketMQ Stream

feat: implement update-group command
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/UpdateGroup.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

fix(s3stream/wal): fix memory leak during recovery
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

feat: implement update-group command (#512)
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/UpdateGroup.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

fix(s3stream/wal): fix memory leak during recovery (#513)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

feat: add command to delete{topic,group}
  cli/src/main/java/com/automq/rocketmq/cli/DeleteGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/DeleteTopic.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
Due: RocketMQ Controller

fix: add unit test for update group
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

feat: add command to delete{topic,group} (#514)
  cli/src/main/java/com/automq/rocketmq/cli/DeleteGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/DeleteTopic.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

chore: register cli commands
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  distribution/docker/compose.sh
Due: none

chore: register cli commands (#516)
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  distribution/docker/compose.sh
Due: none

feat(store): support delayed message
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/fbs/flat_message.fbs
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendPullMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DeadLetterService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/DeadLetterSender.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PutResult.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/TimerService.java
  store/src/main/java/com/automq/rocketmq/store/util/FlatMessageUtil.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat: support addressOfNode in async
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
Due: RocketMQ Controller, RocketMQ Metadata

refactor(s3stream): compaction refactor
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionConstants.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: RocketMQ Stream

refactor(store): optimize stream metrics' name
  store/src/main/java/com/automq/rocketmq/store/metrics/BaseStreamMetrics.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsCounter.java
Due: RocketMQ Store

feat: add test to verify addressOfNode
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: support addressOfNode in async (#517)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
Due: RocketMQ Controller, RocketMQ Metadata

feat(s3stream): force exit when commit wal fatal error
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

feat(s3stream): force exit when commit wal fatal error (#520)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

feat(proxy): implement retry message for pull consume mode
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
Due: RocketMQ Proxy, RocketMQ Store

fix(proxy): fix proxy test
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

fix(proxy): optimize code
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
Due: RocketMQ Proxy

feat: support subscription mode for group
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeGroup.java
  common/src/main/java/com/automq/rocketmq/common/ProgressBar.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Group.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/GroupCriteria.java
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GroupTest.java
  proto/src/main/proto/controller.proto
  proto/src/main/proto/model.proto
Due: RocketMQ Common, RocketMQ Controller

fix(s3stream): block wait on all stream objects write done for each iteration
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: RocketMQ Stream

feat: support subscription mode for group (#522)
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeGroup.java
  common/src/main/java/com/automq/rocketmq/common/ProgressBar.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Group.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/GroupCriteria.java
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GroupTest.java
  proto/src/main/proto/controller.proto
  proto/src/main/proto/model.proto
Due: RocketMQ Common, RocketMQ Controller

chore: display queue-id prior to node-id
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
Due: none

fix(s3stream): compaction fix (#506)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionConstants.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: RocketMQ Stream

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
