Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

feat(s3stream): binary search optimization
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/AbstractOrderedCollection.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/ComparableItem.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/IndexBlockOrderedBytes.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/StreamRecordBatchList.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/LogCacheTest.java
Due: none

feat(s3stream): binary search optimization (#354)
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/AbstractOrderedCollection.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/ComparableItem.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/IndexBlockOrderedBytes.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/StreamRecordBatchList.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/LogCacheTest.java
Due: none

feat: cache group
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupCache.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanGroupTask.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller

fix(s3stream): release buffer after DataBlockReader#IndexBlock#parse
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
Due: none

feat: introduce group manager
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
Due: RocketMQ Controller

refactor(s3stream): group copy write on adjacent data blocks
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: none

feat: proto supports describing and deleting group
  proto/src/main/proto/controller.proto
Due: none

refactor(s3stream): rename config name of stream & stream object limitation
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: none

chore(metadata): remove some deprecated interfaces
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Store

feat(s3stream): graceful shutdown s3stream client
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
Due: none

feat: implement describing and deleting group
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/GroupManager.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

feat(s3stream): graceful shutdown s3stream client (#359)
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
Due: none

feat(s3stream): add object limitation to compaction (#339)
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionAnalyzer.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionStats.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/compact/objects/CompactedObjectBuilder.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
Due: none

feat: add CLI to describe group
  cli/pom.xml
  cli/src/main/java/com/automq/rocketmq/cli/DescribeGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
Due: none

feat(s3stream): check s3 read range
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

feat(s3stream): check s3 read range (#363)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

feat(store): clear all data when store start or shutdown
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/KVService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

style(store): rename MessageStoreImpl#clearStateMachineData
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
Due: RocketMQ Store

feat(s3stream): explicitly use direct bytebuf
  s3stream/src/main/java/com/automq/stream/s3/DirectByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/StreamRecordBatchCodec.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

feat(s3stream): explicitly use direct ByteBuf (#361)
  s3stream/src/main/java/com/automq/stream/s3/DirectByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/StreamRecordBatchCodec.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

build(s3stream): upgrade version to 0.1.9
  pom.xml
  s3stream/pom.xml
Due: none

build(s3stream): upgrade version to 0.1.9 (#364)
  pom.xml
  s3stream/pom.xml
Due: none

refactor(store): remove useless stream cache
  s3stream/src/main/java/com/automq/stream/api/StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
Due: RocketMQ Store

feat(s3stream): allocate byte buf on use
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

fix(s3stream): async append backoff
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/utils/FutureUtil.java
  s3stream/src/main/java/com/automq/stream/utils/ThrowableRunnable.java
Due: none

chore(s3stream): add license
  s3stream/src/main/java/com/automq/stream/utils/ThrowableRunnable.java
Due: none

feat(s3stream): allocate byte buf on use (#366)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

feat(s3stream): record cache full metrics
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: none

fix(s3stream): async append backoff (#367)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/utils/FutureUtil.java
  s3stream/src/main/java/com/automq/stream/utils/ThrowableRunnable.java
Due: none

fix(s3stream): fix force upload skip wait
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: none

feat: fine tune workload balance task
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/SchedulerTask.java
Due: RocketMQ Common, RocketMQ Controller

fix(s3stream): fix force upload skip wait (#368)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: none

fix: logging of tests
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Common, RocketMQ Controller

fix: use version variable for slf4j-simple
  s3stream/pom.xml
Due: none

Path conditions:
  RocketMQ Broker: any of: broker/
  RocketMQ Common: any of: common/
  RocketMQ Controller: any of: controller/
  RocketMQ Proxy: any of: proxy/
  RocketMQ Store: any of: store/
