Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

feat(s3stream): add debug log
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): add debug log
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3OperationStats.java
Due: none

feat(s3stream): add debug log
  s3stream/src/main/java/com/automq/stream/s3/metrics/wrapper/YammerHistogramMetric.java
Due: none

feat(s3stream): reduce histogram sample size by dividing into explicit percentiles
  s3stream/build.gradle
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsConstant.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3OperationStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/wrapper/HistogramInstrument.java
Due: RocketMQ Stream

feat(s3stream): increase s3 timeout (#955)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(s3stream): remove unused imports
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/test/java/com/automq/stream/s3/metrics/wrapper/MetricsWrapperTest.java
Due: RocketMQ Stream

fix(s3stream): fix unit tests
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsConstant.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsManager.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/wrapper/HistogramInstrument.java
  s3stream/src/test/java/com/automq/stream/s3/metrics/wrapper/MetricsWrapperTest.java
Due: none

feat(s3stream): reduce histogram sample size by dividing into explicit percentiles (#956)
  s3stream/build.gradle
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsConstant.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsManager.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3ObjectStage.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Stage.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/NetworkStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3OperationStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/StorageOperationStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/StreamOperationStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/wrapper/HistogramInstrument.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/wrapper/HistogramMetric.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/wrapper/YammerHistogramMetric.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockImpl.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/test/java/com/automq/stream/s3/metrics/wrapper/MetricsWrapperTest.java
Due: RocketMQ Stream

feat: introduce `ByteBufAllocPolicy`
  s3stream/src/main/java/com/automq/stream/s3/ByteBufAllocPolicy.java
Due: RocketMQ Stream

feat(alloc): policy of allocating memory
  s3stream/src/main/java/com/automq/stream/s3/ByteBufAlloc.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: RocketMQ Stream

feat(alloc): policies of memory allocator (#957)
  s3stream/src/main/java/com/automq/stream/s3/ByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/ByteBufAllocPolicy.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: RocketMQ Stream

Revert "feat(alloc): policies of memory allocator (#957)"
  s3stream/src/main/java/com/automq/stream/s3/ByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/ByteBufAllocPolicy.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: RocketMQ Stream

revert(7dcdb78): remove policies of memory allocator (#958)
  s3stream/src/main/java/com/automq/stream/s3/ByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/ByteBufAllocPolicy.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: RocketMQ Stream

feat(s3stream/wal): recover tool
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoverTool.java
Due: RocketMQ Stream

feat: decode to `StreamRecordBatch`
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoverTool.java
Due: none

fix: fix leak
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoverTool.java
Due: none

feat: add an option to specify the start point of recovery
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoverTool.java
Due: RocketMQ Stream

feat(s3stream/wal): a tool used to simulate recovery (#960)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoverTool.java
Due: RocketMQ Stream

fix(s3stream): confirm requests after putting them into logCache
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WalWriteRequest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

fix(s3stream): confirm requests after putting them into logCache (#961)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WalWriteRequest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

fix(s3stream/wal): use different O_DIRECT flag in amd64 and aarch64
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOLib.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/OpenFlags.java
Due: none

fix(s3stream/wal): use different O_DIRECT flag in amd64 and aarch64 (#962)
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOLib.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/OpenFlags.java
Due: none

chore(s3stream): remove the source code of s3stream, and dependency it via submodule
  .gitmodules
  s3stream
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
