Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

feat: delete S3 objects when streams are deleted
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/ReclaimS3ObjectTask.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/RecycleS3Task.java
  controller/src/test/java/com/automq/rocketmq/controller/store/DatabaseTestBase.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/dao/S3ObjectCriteria.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/S3ObjectMapper.java
  metadata-jdbc/src/main/resources/database/mapper/S3ObjectMapper.xml
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/DatabaseTestBase.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/S3ObjectTest.java
  metadata/src/test/java/com/automq/rocketmq/metadata/s3/DatabaseTestBase.java
Due: RocketMQ Controller, RocketMQ Metadata

chore(controller): add some logs
  README.md
Due: none

feat: delete S3 objects when streams are deleted (#560)
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/ReclaimS3ObjectTask.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/RecycleS3Task.java
  controller/src/test/java/com/automq/rocketmq/controller/store/DatabaseTestBase.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/dao/S3ObjectCriteria.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/S3ObjectMapper.java
  metadata-jdbc/src/main/resources/database/mapper/S3ObjectMapper.xml
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/DatabaseTestBase.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/S3ObjectTest.java
  metadata/src/test/java/com/automq/rocketmq/metadata/s3/DatabaseTestBase.java
Due: RocketMQ Controller, RocketMQ Metadata

chore(controller): add some logs (#559)
  README.md
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/ReclaimS3ObjectTask.java
  distribution/bin/run-server.sh
Due: RocketMQ Controller

fix(controller): fix merge
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/ReclaimS3ObjectTask.java
Due: RocketMQ Controller

feat: move log4j2.xml to conf
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/RecycleS3Task.java
  distribution/conf/log4j2.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataService.java
Due: RocketMQ Controller, RocketMQ Metadata

fix(distribution): change gc log directory
  distribution/bin/run-server.sh
Due: none

feat: move log4j2.xml to conf (#561)
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/RecycleS3Task.java
  distribution/conf/log4j2.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataService.java
Due: RocketMQ Controller, RocketMQ Metadata

fix(distribution): change gc log directory (#562)
  distribution/bin/run-server.sh
Due: none

fix(distribution): fix typo
  README.md
  store/src/main/java/com/automq/rocketmq/store/metrics/BaseStreamMetrics.java
Due: RocketMQ Store

fix(controller): fix commit object
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataService.java
Due: RocketMQ Metadata

fix(distribution): fix gc logs directory
  distribution/bin/run-server.sh
Due: none

fix(distribution): fix typo (#563)
  README.md
  distribution/bin/run-server.sh
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataService.java
  store/src/main/java/com/automq/rocketmq/store/metrics/BaseStreamMetrics.java
Due: RocketMQ Store, RocketMQ Metadata

feat(store): add s3 stream compaction config
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
Due: RocketMQ Store

fix(s3stream): fix compaction read throttle
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: RocketMQ Stream

fix(s3stream): fix compaction read throttle (#564)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: RocketMQ Stream

feat(store): add s3 stream compaction config (#565)
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
Due: RocketMQ Store

feat(store): forbidden negative metrics
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsCounter.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsHistogram.java
Due: RocketMQ Store

fix(s3stream): measure time elapse with higher precision
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/TimerUtil.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

fix: avoid unmodifiable container
  distribution/conf/log4j2.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataService.java
Due: RocketMQ Metadata

fix: avoid unmodifiable container (#569)
  distribution/conf/log4j2.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/s3/DefaultS3MetadataService.java
Due: RocketMQ Metadata

fix(store): fix bug in decoding reset consume offset operation
  store/src/main/java/com/automq/rocketmq/store/model/operation/ResetConsumeOffsetOperation.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Store

fix(store): fix bug in decoding reset consume offset operation (#572)
  store/src/main/java/com/automq/rocketmq/store/model/operation/ResetConsumeOffsetOperation.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Store

fix(store): fix bug network limiter
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

fix(store): fix bug network limiter (#574)
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

fix(store): skip initializing StreamMetricsManager when exporter disabled
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsManager.java
Due: RocketMQ Broker, RocketMQ Store

feat(store): add config streamSplitSizeThreshold
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

feat(store): add config streamSplitSizeThreshold (#576)
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

fix(controller): fix bug in recycling stream object
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/RecycleS3Task.java
Due: RocketMQ Controller

fix(controller): fix bug in recycling stream object (#577)
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/RecycleS3Task.java
Due: RocketMQ Controller

fix(store): ignore corrupt operation when recovering
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
Due: RocketMQ Store

fix(store): fix test
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Store

fix(s3stream): measure time elapse with higher precision (#568)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/TimerUtil.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

fix(store): fix message decode
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
Due: RocketMQ Proxy

fix(store): add debug log
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
Due: RocketMQ Store

fix(store): ignore corrupt operation when recovering (#579)
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Proxy, RocketMQ Store

refactor(issues575-issue575): rename WAL object to SST object
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionAnalyzer.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionStats.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectMetadata.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectType.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CommitSSTObjectRequest.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CommitSSTObjectResponse.java
  s3stream/src/main/java/com/automq/stream/s3/objects/ObjectManager.java
  s3stream/src/main/java/com/automq/stream/s3/streams/StreamManager.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/DeltaWALUploadTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectReaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Store, RocketMQ Stream

refactor(issues575-issue575): rename WAL object to SST object (#580)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionAnalyzer.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionStats.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectMetadata.java
  s3stream/src/main/java/com/automq/stream/s3/metadata/S3ObjectType.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CommitSSTObjectRequest.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CommitSSTObjectResponse.java
  s3stream/src/main/java/com/automq/stream/s3/objects/ObjectManager.java
  s3stream/src/main/java/com/automq/stream/s3/streams/StreamManager.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/DeltaWALUploadTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectReaderTest.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUploaderTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Store, RocketMQ Stream
