Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

fix: remove features that is not compatible with Linux
  distribution/docker/build.sh
  distribution/docker/docker-compose.yaml
  distribution/docker/schema.sql
Due: none

feat: record rpc latency for remoting write
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
Due: RocketMQ Proxy

feat(remoting): support send message feature for remoting protocol
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/GrpcProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
Due: RocketMQ Broker, RocketMQ Proxy

feat: introduce the remoting protocol server
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/protocol/RemotingProtocolServer.java
Due: RocketMQ Broker

chore(proxy): simple the build logic of ProxyContextExt
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Proxy

feat(proxy): introduce the remoting listen port, and let grpc port equals remoting port plus one
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/config/ProxyConfiguration.java
Due: RocketMQ Common, RocketMQ Proxy

feat(remoting): support return distinct gRPC or remoting port for route info
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
Due: RocketMQ Proxy

feat(distribution): enable debug agent by default
  distribution/bin/run-server.sh
Due: none

feat(distribution): enable debug agent by default (#408)
  distribution/bin/run-server.sh
Due: none

style(store): fix checkstyle
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

feat(proxy): support produce DLQ message
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/fbs/flat_message.fbs
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/system/MessageConstants.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ProxyMetadataService.java
  proxy/pom.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DLQService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/api/DLQSender.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix(proxy): fix DLQServiceTest#send_group_not_allowed_dlq
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
Due: RocketMQ Proxy

fix: optimize health check for mysql server
  distribution/docker/docker-compose.yaml
Due: none

revert: advertise ip
  distribution/docker/docker-compose.yaml
Due: none

fix: fix docker compose robust issues (#409)
  distribution/docker/build.sh
  distribution/docker/docker-compose.yaml
  distribution/docker/schema.sql
Due: none

chore: log broker node registration
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

refactor(s3stream): refine combined future operation in compaction
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: none

chore: log broker node registration (#410)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

refactor: `WriteRecordTask#future` -> `WriteBlockTask#futures`
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTask.java
  s3stream/src/main/java/com/automq/stream/utils/FutureUtil.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: none

refactor: use common utils to new thread pools
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/ThreadFactoryImpl.java
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: none

fix: update node advertise address on change
  controller/src/main/java/com/automq/rocketmq/controller/tasks/LeaseTask.java
  distribution/conf/broker.yaml
Due: RocketMQ Controller

fix: update node advertise address on change (#411)
  controller/src/main/java/com/automq/rocketmq/controller/tasks/LeaseTask.java
  distribution/conf/broker.yaml
Due: RocketMQ Controller

add getStreams interface to StreamManager
  s3stream/s3stream.iml
  s3stream/src/main/java/com/automq/stream/s3/streams/StreamManager.java
  store/rocketmq-store.iml
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
Due: RocketMQ Store

feat(s3stream): add getStreams interface to StreamManager
  s3stream/s3stream.iml
  s3stream/src/main/java/com/automq/stream/s3/streams/StreamManager.java
  store/rocketmq-store.iml
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
Due: RocketMQ Store

feat(s3stream): add getStreams interface to StreamManager
  .gitignore
  s3stream/src/main/java/com/automq/stream/s3/streams/StreamManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
Due: RocketMQ Store

build(s3stream): upgrade version to 0.1.14
  pom.xml
  s3stream/pom.xml
Due: none

fix(s3stream): add default implementation to MemoryMetadataManager
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
Due: none

feat(s3stream): add getStreams interface to StreamManager (#414)
  .gitignore
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/streams/StreamManager.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
Due: RocketMQ Store

refactor(store): add restMessageCount into PopResult
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendGrpcMessingActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PopResult.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
Due: RocketMQ Proxy, RocketMQ Store

refactor(store): fix test
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
Due: RocketMQ Proxy

refactor: merge `header` and `body` into `record` in `WriteBlockTask`
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTask.java
Due: none

test: use flushed offset to trim
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: none

refactor(store): improve long polling (#415)
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendGrpcMessingActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PopResult.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
Due: RocketMQ Proxy, RocketMQ Store

fix(store): fix potential race problem
  store/src/main/java/com/automq/rocketmq/store/model/metadata/ConsumerGroupMetadata.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/OperationSnapshot.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Store

fix(proxy): start GrpcMessagingApplication
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/GrpcProtocolServer.java
Due: RocketMQ Proxy

fix(proxy): return the route info of ongoing assignments
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImplTest.java
Due: RocketMQ Broker, RocketMQ Proxy

feat(s3stream): fetch stream metadata with getStreams interface
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
Due: none

feat: `WriteBlockTask#addRecord`
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTask.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteBlockTaskImpl.java
Due: none
