Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metrics/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"
  - "**/thirdparty/**/*"
  - "**/benchmark/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

fix(stream): wrap runnable that is executed in thread pool to catch exception
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/utils/ThreadUtils.java
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
Due: RocketMQ Stream

fix(stream): wrap runnable that is executed in thread pool to catch exception (#923)
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/utils/ThreadUtils.java
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
Due: RocketMQ Stream

fix(s3stream): bytebuf leak
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(s3stream): bytebuf leak (#924)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(s3stream): prevent erorr logging when compaction is shutdown
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
Due: RocketMQ Stream

fix(s3stream): prevent erorr logging when compaction is shutdown (#925)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
Due: RocketMQ Stream

feat(s3stream): support stream epoch when commit stream object
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCompactor.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CompactStreamObjectRequest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCompactorTest.java
  s3stream/src/test/java/com/automq/stream/s3/objects/ObjectManagerTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
Due: RocketMQ Store, RocketMQ Stream

feat(s3stream): support stream epoch when commit stream object (#926)
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCompactor.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CompactStreamObjectRequest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCompactorTest.java
  s3stream/src/test/java/com/automq/stream/s3/objects/ObjectManagerTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
Due: RocketMQ Store, RocketMQ Stream

fix(test): resolve compatibility issue between test container and mysql
  controller/pom.xml
  metadata-jdbc/pom.xml
Due: RocketMQ Controller

fix(test): resolve compatibility issue between test container and mysql (#928)
  controller/pom.xml
  metadata-jdbc/pom.xml
Due: RocketMQ Controller

feat(issues801): clean expired stream objects when compact
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCompactor.java
  s3stream/src/main/java/com/automq/stream/utils/CommandUtils.java
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCompactorTest.java
Due: RocketMQ Stream

feat(issues801): clean expired stream objects when compact (#927)
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCompactor.java
  s3stream/src/main/java/com/automq/stream/utils/CommandUtils.java
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCompactorTest.java
Due: RocketMQ Stream

chore(compaction): supress error
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCompactor.java
Due: RocketMQ Stream

chore(compaction): suppress error (#929)
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCompactor.java
Due: RocketMQ Stream

fix(s3stream): gracefully shutdown compaction manager
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: RocketMQ Stream

fix(s3stream): gracefully shutdown compaction manager (#930)
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: RocketMQ Stream

feat: handle out of order records during recovery
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

test: wip
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

docs: java doc of `recoverContinuousRecords`
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

refactor: rename `OutOfOrder` to `Discontinuous`
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

feat: log it
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

test: test `recoverContinuousRecords`
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

feat(s3stream): handle out of order records during recovery (#932)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

fix: handle exceptions thrown from the wal
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WalWriteRequest.java
Due: RocketMQ Stream

feat: retry when IOException
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

refactor: retry to read/write/flush when IOException occurs
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

fix: retry to read/write/flush when IOException occurs (#933)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WalWriteRequest.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

fix(wal/benchmark): fix options
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoveryBench.java
Due: none

fix(s3stream/wal): no need to create the file when checking dio
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
Due: RocketMQ Stream

fix(s3stream/wal): no need to create the file when checking dio (#934)
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoveryBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
Due: RocketMQ Stream

refactor(s3stream/wal): use `stat` to check whether the path is a block device
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/BenchTool.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
Due: RocketMQ Stream

fix: delete the test file
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
Due: RocketMQ Stream

refactor(s3stream/wal): use `stat` to check whether the path is a block device (#935)
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/BenchTool.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
Due: RocketMQ Stream

fix(s3stream): add dependency in gradle
  s3stream/build.gradle
Due: RocketMQ Stream

fix(s3stream): add dependency in gradle (#936)
  s3stream/build.gradle
Due: RocketMQ Stream

chore(s3stream): add the "gradle-wrapper.jar" to git
  s3stream/.gitignore
  s3stream/gradle/wrapper/gradle-wrapper.jar
  s3stream/gradle/wrapper/gradle-wrapper.properties
  s3stream/gradlew
Due: RocketMQ Stream

chore(s3stream): add the "gradle-wrapper.jar" to git (#937)
  s3stream/.gitignore
  s3stream/gradle/wrapper/gradle-wrapper.jar
  s3stream/gradle/wrapper/gradle-wrapper.properties
  s3stream/gradlew
Due: RocketMQ Stream

chore(s3stream): check whether dependencies of maven and gradle are the same
  .github/workflows/s3stream-check-dependency.yml
Due: none

fix: set working directory to s3stream
  .github/workflows/s3stream-check-dependency.yml
Due: none

fix: add "-e" option to "echo"
  .github/workflows/s3stream-check-dependency.yml
Due: none
