Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metrics/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"
  - "**/thirdparty/**/*"
  - "**/benchmark/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

fix: ensure pr-e2e after build ci
  .github/workflows/build-ci.yml
  .github/workflows/pr-e2e-test.yml
Due: none

fix: remove acl in action
  .github/workflows/pr-e2e-test.yml
Due: none

fix: ensure pr-e2e-test always
  .github/workflows/pr-e2e-test.yml
Due: none

fix: fix dns of e2e action
  .github/workflows/pr-e2e-test.yml
Due: none

fix: format new repo name
  .github/workflows/pr-e2e-test.yml
Due: none

fix: fix the path of docker build
  .github/workflows/pr-e2e-test.yml
Due: none

feat: complete ci test
  .github/workflows/build-ci.yml
  .github/workflows/pr-e2e-test.yml
Due: none

fix: fix the endpoint of broker in e2e
  .github/workflows/pr-e2e-test.yml
Due: none

fix: make e2e tests sequentially
  .github/workflows/pr-e2e-test.yml
Due: none

fix: replace repo name
  .github/workflows/build-ci.yml
Due: none

fix: support e2e in signal node
  .github/workflows/pr-e2e-test.yml
  distribution/helm/deploy/ddl.sql
  distribution/helm/deploy/helm_sample_values.yaml
  distribution/helm/deploy/init-db-configmap.yaml
  distribution/helm/deploy/mysql.yaml
Due: none

fix: fix the hostname of broker in e2e
  .github/workflows/pr-e2e-test.yml
Due: none

test: checkout e2e branch for e2e test
  .github/workflows/pr-e2e-test.yml
Due: none

fix: fix the dir of broker conf
  distribution/docker/Dockerfile-ci
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/deploy/ddl.sql
  distribution/helm/deploy/init-db-configmap.yaml
Due: none

fix: replace java set-up with local
  .github/workflows/pr-e2e-test.yml
Due: none

chore: checkout e2e branch for remote server test
  .github/workflows/pr-e2e-test.yml
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

chore: increase resource allocation limits in helm charts
  distribution/helm/charts/automq-for-rocketmq/values.yaml
Due: none

chore: support cluster broker in e2e
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

chore: checkout e2e branch to master
  .github/workflows/pr-e2e-test.yml
Due: none

chore: e2e test for broker cluster
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

perf: improve TopicCache performance
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/Helper.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/cache/TopicCache.java
  controller/src/test/java/com/automq/rocketmq/controller/BenchmarkRunner.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/TopicManagerBenchmark.java
  pom.xml
Due: RocketMQ Controller

fix(s3stream/pom): set `io.netty.tryReflectionSetAccessible` to `true`
  s3stream/pom.xml
Due: RocketMQ Stream

fix: remove JMH micro-benchmarks
  controller/src/test/java/com/automq/rocketmq/controller/BenchmarkRunner.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/TopicManagerBenchmark.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/TopicCacheTest.java
  pom.xml
Due: RocketMQ Controller

chore: e2e test in sigle broker
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

feat(wal): add an option `direct`
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

feat(store): add e2e action (#310)
  .github/workflows/build-ci.yml
  .github/workflows/pr-e2e-test.yml
  distribution/docker/Dockerfile-ci
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy/helm_sample_values.yaml
  distribution/helm/deploy/mysql.yaml
  distribution/helm/test-ci.sh
Due: none

test(wal): test direct IO on linux
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

test(walBlockDevice): test write
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannelTest.java
Due: RocketMQ Stream

test(walBlockDevice): fix tests
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannelTest.java
Due: RocketMQ Stream

test(walBlockDevice): test read
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannelTest.java
Due: RocketMQ Stream

test(walBlockDevice): fix tests
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
Due: RocketMQ Stream

test(walBlockDevice): fix tests
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

perf(wal): release cached direct buffers manually
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
Due: RocketMQ Stream

perf(wal): no need padding
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
Due: RocketMQ Stream

test(wal): fix tests
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

test(wal): test block device support
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

fix(wal): check the alignement of capacity when using block devices
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

feat(s3stream/wal): support block device (#667)
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOLib.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannelTest.java
Due: RocketMQ Stream
