Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

fix(s3stream): fix dependency
  pom.xml
  s3stream/pom.xml
  store/pom.xml
Due: RocketMQ Store

feat(broker): introduce metric framework
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/MetricsConstant.java
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/src/main/java/com/automq/rocketmq/common/config/BrokerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/MetricsConfig.java
  common/src/main/java/com/automq/rocketmq/common/model/MetricsExporterType.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy

feat(cli): introduce a ProduceMessage cli for benchmarking
  cli/pom.xml
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/ProduceMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/tools/CliUtils.java
Due: none

fix(s3stream): try fix test
  s3stream/pom.xml
Due: none

fix(s3stream): fix test
  s3stream/pom.xml
Due: none

feat(cli): introduce a ConsumeMessage cli for benchmarking
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/ProduceMessage.java
Due: none

test(s3stream): add mockito-junit dependency for s3stream
  s3stream/pom.xml
Due: none

fix(s3stream): try fix test dependency
  s3stream/pom.xml
Due: none

fix(s3stream): add checkstyle & enforcer
  s3stream/pom.xml
Due: none

temp: install s3stream only
  .github/workflows/build-ci.yml
Due: none

feat(s3stream): remove pom parent (#259)
  pom.xml
  s3stream/pom.xml
  store/pom.xml
Due: RocketMQ Store

chore(s3stream): add distributionManagement for s3stream
  s3stream/pom.xml
Due: none

fix: add delete S3 object API
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/api/DataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanYieldingQueueTask.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

feat: define store facade (#265)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/api/DataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanYieldingQueueTask.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

refactor: move tasks into top layer package
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ControllerTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/KeepAliveTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/LeaseTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleGroupTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleTopicTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanNodeTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanYieldingQueueTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/SchedulerTask.java
Due: RocketMQ Controller

feat: define and follow task framework
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/KeepAliveTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/LeaseTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ReclaimS3ObjectTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleGroupTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleTopicTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanNodeTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanYieldingQueueTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/SchedulerTask.java
Due: RocketMQ Controller

refactor(store): replay Pair with org.apache.commons.lang3.tuple.Pair
  common/src/main/java/com/automq/rocketmq/common/util/Pair.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(store): asynchronous processing revive message
  common/src/main/java/com/automq/rocketmq/common/util/Pair.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Common, RocketMQ Store

refactor(store): support TopicQueueManager#get
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
Due: RocketMQ Store

fix(store): fix NPE in ReviveServiceTest
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

fix(store): fix ack and change invisible duration
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  common/src/test/java/com/automq/rocketmq/common/config/YamlConfigTest.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/LockService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/LockServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/PopOperation.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix(store): fix comment
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
Due: RocketMQ Common

fix(store): fix test
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Store

fix(store): fix test
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
Due: RocketMQ Store

fix(store): fix ack and change invisible duration (#267)
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  common/src/test/java/com/automq/rocketmq/common/config/YamlConfigTest.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/LockService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/LockServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/PopOperation.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix: change log level to debug; add total summary
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
Due: none

feat: implement reclaim S3Objects
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3Object.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Sequence.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/SequenceMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ReclaimS3ObjectTask.java
  controller/src/main/proto/model.proto
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/main/resources/database/mapper/SequenceMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3ObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/SequenceTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: implement reclaim s3object (#269)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3Object.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Sequence.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/SequenceMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/LeaseTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ControllerTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/KeepAliveTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/LeaseTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ReclaimS3ObjectTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleGroupTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleTopicTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanNodeTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanYieldingQueueTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/SchedulerTask.java
  controller/src/main/proto/model.proto
  controller/src/main/resources/database/mapper/S3ObjectMapper.xml
  controller/src/main/resources/database/mapper/SequenceMapper.xml
  controller/src/main/resources/database/mybatis-config.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3ObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/SequenceTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(proxy): support long polling
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/SuspendPopRequestServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/model/message/Filter.java
  store/src/main/java/com/automq/rocketmq/store/model/message/SQLFilter.java
  store/src/main/java/com/automq/rocketmq/store/model/message/TagFilter.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
Due: RocketMQ Proxy, RocketMQ Store

fix(proxy): fix test
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Proxy

feat(store): add S3ObjectOperator
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectOperatorImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/S3ObjectOperator.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectOperatorTest.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

style(store): fix typo `Config#s3Endpoint`
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: none

feat(s3stream): remove pom parent
  s3stream/pom.xml
Due: none

fix(s3stream): fix dependency
  s3stream/pom.xml
Due: none

Path conditions:
  RocketMQ Broker: any of: broker/
  RocketMQ Common: any of: common/
  RocketMQ Controller: any of: controller/
  RocketMQ Proxy: any of: proxy/
  RocketMQ Store: any of: store/
