Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

chore: display queue-id prior to node-id (#523)
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
Due: none

feat(proxy): limit client consumption mode
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

feat(proxy): limit client consumption mode (#524)
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

feat: add S3ObjectCache
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/S3ObjectCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/S3StreamObjectCache.java
Due: RocketMQ Controller

fix(proxy): fix flaky test MessageStoreTest#pop_normal
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Store

fix(proxy): fix flaky test MessageStoreTest#pop_normal (#525)
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Store

perf(proxy): improve metrics performance
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
Due: RocketMQ Proxy

chore(s3stream): log wal upload time cost
  s3stream/src/main/java/com/automq/stream/s3/WALObjectUploadTask.java
Due: RocketMQ Stream

feat: introduce SubStreams
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Node.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamDeserializer.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamSerializer.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanNodeTask.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/TopicTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamSerdeTest.java
  proto/src/main/proto/model.proto
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Controller, RocketMQ Store

feat: revamp substreams serde (#528)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/S3ObjectCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/S3StreamObjectCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Node.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamDeserializer.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanNodeTask.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/TopicTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamSerdeTest.java
  proto/src/main/proto/model.proto
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Controller, RocketMQ Store

chore(s3stream): log wal upload time cost (#527)
  s3stream/src/main/java/com/automq/stream/s3/WALObjectUploadTask.java
Due: RocketMQ Stream

test(store): add unit test for store module
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/TimerService.java
  store/src/test/java/com/automq/rocketmq/store/DefaultLogicQueueManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockMessageUtil.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/TimerServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/util/MessageUtilTest.java
Due: RocketMQ Store

test(store): add unit test for store module (#529)
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/TimerService.java
  store/src/test/java/com/automq/rocketmq/store/DefaultLogicQueueManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockMessageUtil.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/TimerServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/util/MessageUtilTest.java
Due: RocketMQ Store

feat: use json type for topic.accept_message_types and s3walobject.sub_streams columns
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3WalObjectMapper.java
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3WalObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/TopicTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: use json type for topic.accept_message_types and s3walobject.sub_streams columns (#530)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3WalObjectMapper.java
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3WalObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/TopicTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(store): support trimming retry stream
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamReclaimService.java
  store/src/test/java/com/automq/rocketmq/store/DefaultLogicQueueManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/StreamReclaimServiceTest.java
Due: RocketMQ Store

fix: make Group#subMode required during creation
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

fix: make Group#subMode required during creation (#531)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

test(proxy): add unit test for MessageServiceImpl
  proxy/src/main/java/com/automq/rocketmq/proxy/service/LockService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/LockServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

fix: fix illegal basedatatTimestamp in commit wal
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
Due: RocketMQ Controller

test: split out s3 metadata tests
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManagerTest.java
Due: RocketMQ Controller

chore(ci): ignore metrics package in test coverage calculation
  codecov.yml
  pom.xml
Due: none

chore(ci): add jacoco-maven-plugin for s3 stream
  s3stream/pom.xml
Due: RocketMQ Stream

feat: add s3 metadata exception handle for third-party exceptions
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

chore(ci): ignore metrics package in test coverage calculation (#534)
  codecov.yml
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

fix(s3stream): try fix issue413 stream compaction hang io thread
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(s3stream): try fix issue413 stream compaction hang io thread (#536)
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(controller): fix illegal basedatetTimestamp in commit wal (#535)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManagerTest.java
Due: RocketMQ Controller

test(proxy): add unit test for MessageServiceImpl (#533)
  proxy/src/main/java/com/automq/rocketmq/proxy/service/LockService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/LockServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

perf(proxy): improve metrics performance (#526)
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
Due: RocketMQ Proxy

feat: cache S3StreamObject metadata
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/S3ObjectCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/S3StreamObjectCache.java
Due: RocketMQ Controller

chore(proxy): add global exception handler for proxy
  common/src/main/java/com/automq/rocketmq/common/exception/RocketMQException.java
  common/src/main/java/com/automq/rocketmq/common/exception/RocketMQRuntimeException.java
  proxy/src/main/java/com/automq/rocketmq/proxy/exception/ExceptionHandler.java
  proxy/src/main/java/com/automq/rocketmq/proxy/exception/ProxyException.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendConsumerManagerActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendPullMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

feat: cache S3StreamObject metadata (#538)
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/S3ObjectCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/S3StreamObjectCache.java
Due: RocketMQ Controller

chore(readme): rename project
  README.md
Due: none

chore(distribution): rename project to automq-for-rocketmq
  broker/pom.xml
  cli/pom.xml
  common/pom.xml
  controller/pom.xml
  distribution/docker/Dockerfile
  distribution/docker/Dockerfile-ci
  distribution/docker/build.sh
  distribution/docker/docker-compose.yaml
  distribution/helm/clean-ci.sh
  distribution/helm/deploy-ci.sh
  distribution/helm/templates/broker/statefulset.yaml
  distribution/kubeblocks/templates/broker/clusterdefinition.yaml
  distribution/kubeblocks/templates/broker/clusterversion.yaml
  distribution/kubeblocks/templates/broker/statefulset.yaml
  distribution/pom.xml
  metadata/pom.xml
  pom.xml
  proto/pom.xml
  proxy/pom.xml
  store/pom.xml
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Metadata

fix: inherit maven properties from parent module for metadata-jdbc
  metadata-jdbc/pom.xml
Due: none

fix: inherit maven properties from parent module for metadata-jdbc (#541)
  metadata-jdbc/pom.xml
Due: none

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
