Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metrics/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"
  - "**/thirdparty/**/*"
  - "**/benchmark/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

feat(store): add test for recover
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
Due: RocketMQ Store

fix: fill WAL base-data-time during commit-of-wal (#696)
  controller/src/main/java/com/automq/rocketmq/controller/server/TopicMetricsManager.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3ObjectCache.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3WalObjectCache.java
Due: RocketMQ Controller

feat(store): add test for recover (#699)
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
Due: RocketMQ Store

feat(issues690): log cache support concurrent read
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
Due: RocketMQ Stream

fix(s3stream/wal): automatically detected whether to use direct IO by… (#698)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

feat(broker): log stream thread queue size into stream_watermark.log
  distribution/conf/log4j2.xml
Due: none

feat(issues690): remove read executor
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/StreamRecordBatchList.java
Due: RocketMQ Stream

fix(broker): fix typo
  distribution/conf/log4j2.xml
Due: none

feat(broker): log stream thread queue size into stream_watermark.log (#702)
  distribution/conf/log4j2.xml
Due: none

feat(issues694): add sub stream size to request
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/objects/ObjectStreamRange.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Store, RocketMQ Stream

fix: cr
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
Due: RocketMQ Stream

fix: make reserve-time accurate
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCache.java
Due: none

fix: fix checkstyle
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCache.java
Due: none

feat(issues694): add sub stream size to request (#703)
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/objects/ObjectStreamRange.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Store, RocketMQ Stream

fix: make reserve-time accurate (#704)
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCache.java
Due: none

feat(issues690): concurrent read log cache (#701)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/StreamRecordBatchList.java
Due: RocketMQ Stream

fix(s3stream): fix potential dangling read ahead future
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
Due: RocketMQ Stream

fix(s3stream): fix potential dangling read ahead future (#705)
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
Due: RocketMQ Stream

chore: add maven-source-plugin for s3stream lib
  s3stream/pom.xml
Due: RocketMQ Stream

refactor(s3stream/wal): init the sliding window during start
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/WALHeaderTest.java
Due: RocketMQ Stream

feat(wal): no need to start sliding window server in recovery mode
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

feat(kafka_isssues447): add command util and update version to 0.5.2
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Serverless.java
  s3stream/src/main/java/com/automq/stream/utils/CommandResult.java
  s3stream/src/main/java/com/automq/stream/utils/CommandUtils.java
  s3stream/src/test/java/com/automq/stream/s3/failover/FailoverTest.java
Due: RocketMQ Stream

feat(kafka_isssues447): add command util and update version to 0.5.2 (#709)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Serverless.java
  s3stream/src/main/java/com/automq/stream/utils/CommandResult.java
  s3stream/src/main/java/com/automq/stream/utils/CommandUtils.java
  s3stream/src/test/java/com/automq/stream/s3/failover/FailoverTest.java
Due: RocketMQ Stream

feat(s3stream): command utils make run to static method
  s3stream/src/main/java/com/automq/stream/utils/CommandUtils.java
Due: RocketMQ Stream

refactor(s3stream/wal): init the sliding window during start (#708)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/WALHeaderTest.java
Due: RocketMQ Stream

feat(s3stream): command utils make run to static method (#710)
  s3stream/src/main/java/com/automq/stream/utils/CommandUtils.java
Due: RocketMQ Stream

feat: add default serverless
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/DefaultServerless.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Serverless.java
Due: RocketMQ Stream

feat: add default serverless (#711)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/DefaultServerless.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Serverless.java
Due: RocketMQ Stream

fix(issues462): commit wal to closed stream
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
Due: RocketMQ Stream

feat(s3stream): 0.5.4
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

feat(s3stream): 0.5.4 (#712)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
Due: RocketMQ Stream

feat(s3stream): dynamically adjust read ahead speed
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadManager.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/ReadAheadManagerTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store, RocketMQ Stream

feat(s3storage): timer on append callback
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
Due: RocketMQ Stream

fix: #716 invoke data-store to potentially delete S3 Object before delete expired prepare-records
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/DataRetentionTask.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/ReclaimS3ObjectTask.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/dao/S3ObjectCriteria.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/S3ObjectMapper.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3ObjectCache.java
  metadata-jdbc/src/main/resources/database/mapper/S3ObjectMapper.xml
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/S3ObjectTest.java
Due: RocketMQ Controller

feat(s3stream): dynamically adjust read ahead speed (#713)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadAgent.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadAheadManager.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/ReadAheadManagerTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store, RocketMQ Stream

fix: #716 invoke data-store to potentially delete S3 Object prior to rollback expired prepare-records (#717)
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/DataRetentionTask.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/ReclaimS3ObjectTask.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/dao/S3ObjectCriteria.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/S3ObjectMapper.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3ObjectCache.java
  metadata-jdbc/src/main/resources/database/mapper/S3ObjectMapper.xml
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/S3ObjectTest.java
Due: RocketMQ Controller

feat: add contributing guideline
  README.md
  docs/CONTRIBUTING.md
Due: none

fix: escape dollar symbol in docker-compose.xml for linux
  distribution/docker/docker-compose.yaml
Due: none

fix: revert ZGC option as it causes OOM due to multi-mapping of heap VMA
  distribution/bin/run-server.sh
Due: none
