Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

feat(store): notify message arriving
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ResourceMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageArriveListener.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/service/MessageArriveNotifyService.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store, RocketMQ Metadata

feat(store): add java doc
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
Due: RocketMQ Store

feat: implement describe stream command (#620)
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeStream.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

feat(store): add java doc
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageArrivalListener.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/service/MessageArrivalNotificationService.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Proxy, RocketMQ Store

feat(store): notify message arriving (#621)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ProxyMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/ResourceMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageArrivalListener.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/service/MessageArrivalNotificationService.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store, RocketMQ Metadata

fix(s3stream/wal): recover from the middle of a block (#619)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

fix: fix the java version in run-server
  distribution/bin/run-server.sh
Due: none

fix(store): fix forget to remove old ack-committer when reset consume offset
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
Due: RocketMQ Store

test(store): minor fix
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/queue/AckCommitterTest.java
Due: RocketMQ Store

feat(proxy): support reset consume offset processor
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  cli/pom.xml
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/ProduceMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/ResetConsumeOffset.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/ReclaimS3ObjectTask.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/TerminationStageTask.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/GrpcControllerClientTest.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  proto/src/main/proto/common.proto
  proto/src/main/proto/controller/admin.proto
  proto/src/main/proto/controller/controller.proto
  proto/src/main/proto/controller/model.proto
  proto/src/main/proto/proxy/proxy.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/GrpcProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ExtendMessageService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/ExtendMessageServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
Due: RocketMQ Broker, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Metadata

feat(cli): support reset consume offset cli tool
  cli/src/main/java/com/automq/rocketmq/cli/ResetConsumeOffset.java
Due: none

fix(controller): resolve conflicts after rebasing
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
Due: RocketMQ Controller

fix(controller): delete `S3MetadataManager` in controller
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/S3MetadataManager.java
Due: RocketMQ Controller

fix(controller): resolve conflicts after rebasing
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeStream.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/RecycleS3Task.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Loop.java
Due: RocketMQ Broker, RocketMQ Controller, RocketMQ Metadata

feat(store): add stream cache config
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

feat(store): add object block size config
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

feat(store): suppress some warnings for config
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
Due: none

feat(s3stream/wal/benchmark): log in a separate thread
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: RocketMQ Stream

feat(store): add stream cache config (#623)
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store

feat(s3stream): add cache access type to fetch result
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/cache/CacheAccessType.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadDataBlock.java
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
Due: RocketMQ Stream

feat(s3stream): add cache access type to fetch result (#626)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/cache/CacheAccessType.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadDataBlock.java
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
Due: RocketMQ Stream

feat(store): suppress some warnings for config
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/test/java/com/automq/rocketmq/store/queue/AckCommitterTest.java
Due: RocketMQ Store

fix: add test for cache components
  controller/src/test/java/com/automq/rocketmq/controller/server/MetadataStoreBuilderTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/BrokerNodeTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/AssignmentCacheTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/GroupCacheTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/InflightTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/StreamCacheTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/TopicCacheTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/tasks/TerminationStageTaskTest.java
  controller/src/test/java/com/automq/rocketmq/controller/store/DatabaseTestBase.java
Due: RocketMQ Controller

feat(store): fix fix potential concurrency problem (#627)
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/test/java/com/automq/rocketmq/store/queue/AckCommitterTest.java
Due: RocketMQ Store

fix: add test for cache components (#628)
  controller/src/test/java/com/automq/rocketmq/controller/server/MetadataStoreBuilderTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/BrokerNodeTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/AssignmentCacheTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/GroupCacheTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/InflightTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/StreamCacheTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/TopicCacheTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/tasks/TerminationStageTaskTest.java
  controller/src/test/java/com/automq/rocketmq/controller/store/DatabaseTestBase.java
Due: RocketMQ Controller

fix(wal/benchmark): append at a fixed rate
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: RocketMQ Stream

fix(s3stream/wal/benchmark): append records at a fixed rate (#631)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: RocketMQ Stream

fix: add test cases
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/StreamManagerTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/TopicManagerTest.java
Due: RocketMQ Controller

fix: code style
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/StreamManagerTest.java
Due: RocketMQ Controller

fix: add test cases (#632)
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/StreamManagerTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/TopicManagerTest.java
Due: RocketMQ Controller

fix(s3stream): make executor static to prevent stack overflow
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
Due: RocketMQ Stream

fix(s3stream): use dedicated executor for token bucket in DataBlockReader
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
Due: RocketMQ Stream

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
