Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

feat: trim stream prior to deleting objects
  common/src/main/java/com/automq/rocketmq/common/api/DataStore.java
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
Due: RocketMQ Common, RocketMQ Store

feat(store): implement DataStore#trimStream
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/api/DataStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsManager.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat: trim stream prior to deleting objects (#578)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/api/DataStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsManager.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat: finalize trim stream
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/ReclaimS3ObjectTask.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/RecycleS3Task.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/dao/S3ObjectCriteria.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/S3ObjectTest.java
Due: RocketMQ Controller

feat: finalize trim stream (#582)
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/ReclaimS3ObjectTask.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/RecycleS3Task.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/dao/S3ObjectCriteria.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/S3ObjectTest.java
Due: RocketMQ Controller

chore: project structure maintenance
  distribution/conf/log4j2.xml
  distribution/docker/compose.sh
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataServiceTest.java
  metadata/pom.xml
  metadata/src/test/java/com/automq/rocketmq/metadata/s3/DatabaseTestBase.java
Due: RocketMQ Metadata

chore: project structure maintenance (#583)
  distribution/conf/log4j2.xml
  distribution/docker/compose.sh
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataServiceTest.java
  metadata/pom.xml
  metadata/src/test/java/com/automq/rocketmq/metadata/s3/DatabaseTestBase.java
Due: RocketMQ Metadata

fix: default config should have defaults that make sense
  distribution/conf/broker.yaml
Due: none

fix: default config should have defaults that make sense (#584)
  distribution/conf/broker.yaml
Due: none

feat(proxy): optimize SuspendRequestService
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
Due: RocketMQ Proxy

feat(proxy): optimize SuspendRequestService (#585)
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
Due: RocketMQ Proxy

feat: log SQL statements to a dedicated appender
  distribution/conf/log4j2.xml
Due: none

feat: log SQL statements to a dedicated appender (#586)
  distribution/conf/log4j2.xml
Due: none

refactor: use sst full name
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/memory/MemoryMetadataManager.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CommitSortedStreamTableObjectRequest.java
  s3stream/src/main/java/com/automq/stream/s3/objects/CommitSortedStreamTableObjectResponse.java
  s3stream/src/main/java/com/automq/stream/s3/objects/ObjectManager.java
  s3stream/src/test/java/com/automq/stream/s3/DeltaWALUploadTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Store, RocketMQ Stream

feat(broker): introduce continuous profiling
  broker/pom.xml
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

feat(broker): introduce continuous profiling (#592)
  broker/pom.xml
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

fix: set default database connection pool size
  broker/src/main/resources/log4j2.xml
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/HikariCPDataSourceFactory.java
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
Due: RocketMQ Broker, RocketMQ Store

fix: set default database connection pool size (#593)
  broker/src/main/resources/log4j2.xml
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/HikariCPDataSourceFactory.java
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
Due: RocketMQ Broker, RocketMQ Store

feat: specify log4j2 configuration file using Java option log4j2.configurationFile such that we may have two config files, for development and release
  broker/src/main/resources/log4j2.xml
  distribution/bin/run-server.sh
  distribution/conf/log4j2.xml
Due: RocketMQ Broker

feat: Specify log4j2 configuration file using Java option log4j2.conf… (#588)
  broker/src/main/resources/log4j2.xml
  distribution/bin/run-server.sh
  distribution/conf/log4j2.xml
Due: RocketMQ Broker

feat(s3stream): add compaction throttle to flatten load peak
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): return on empty compaction
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: RocketMQ Stream

feat(s3stream): add compaction throttle to flatten load peak (#595)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): optimization on crc calculation
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
Due: RocketMQ Stream

feat(s3stream): optimization on crc calculation (#596)
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALUtil.java
Due: RocketMQ Stream

fix: fix the distribution of run server
  distribution/bin/run-server.sh
Due: none

feat(s3stream): support network throttle with priority
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/network/AsyncNetworkBandwidthLimiter.java
  s3stream/src/main/java/com/automq/stream/s3/network/ThrottleStrategy.java
  s3stream/src/test/java/com/automq/stream/s3/AsyncNetworkBandwidthLimiterTest.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
Due: RocketMQ Stream

feat: retry completable future on exception
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Futures.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Loop.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
Due: RocketMQ Store, RocketMQ Metadata

feat: retry completable future on exception (#599)
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Futures.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Loop.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
Due: RocketMQ Store, RocketMQ Metadata

feat: retry invocations with metadata that are caused by internal error or mocked
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Futures.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Loop.java
Due: RocketMQ Metadata

feat: retry invocations with metadata that are caused by internal error or mocked (#600)
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Futures.java
  metadata/src/main/java/com/automq/rocketmq/metadata/Loop.java
Due: RocketMQ Metadata

fix: to #590 flip buffer before read ops
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/test/java/com/automq/rocketmq/store/queue/AckCommitterTest.java
Due: RocketMQ Store

feat(broker): introduce tracing
  broker/pom.xml
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/pom.xml
  pom.xml
  proxy/pom.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/ProxyTraceAspect.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendReceiveMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(s3stream): support network throttle with priority (#598)
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/network/AsyncNetworkBandwidthLimiter.java
  s3stream/src/main/java/com/automq/stream/s3/network/ThrottleStrategy.java
  s3stream/src/test/java/com/automq/stream/s3/AsyncNetworkBandwidthLimiterTest.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/BlockCacheTest.java
Due: RocketMQ Stream

feat(store): forbidden negative metrics (#567)
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsCounter.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsHistogram.java
Due: RocketMQ Store

fix: add unit test for SerializeUtil codec
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Store

feat(broker): introduce tracing (#602)
  broker/pom.xml
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/pom.xml
  pom.xml
  proxy/pom.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/ProxyTraceAspect.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendReceiveMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix: to #590 prepend CRC32 checksum header to encoded operation/snapshot
  store/src/main/java/com/automq/rocketmq/store/exception/StoreErrorCode.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
Due: RocketMQ Store

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
