Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

fix(proxy): fix reconsume times in message convert logic
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
Due: RocketMQ Proxy

fix(proxy): fix bugs found during integration testing
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
Due: RocketMQ Proxy

fix(stream): implement confirmOffset API for MemoryStream
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PopResult.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/service/SnapshotServiceTest.java
Due: RocketMQ Store

fix(proxy): fix test
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
Due: none

refactor(proxy): refactor born host
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Common, RocketMQ Proxy

refactor(stream): move fix offset logic to MessageStore
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
Due: RocketMQ Proxy, RocketMQ Store

fix: return complete stream metadata on implicit creating
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: code style
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: fix unit tests
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: return complete stream metadata on implicit creating (#230)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix(store): fill the current node id when commiting wal object
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/test/java/com/automq/rocketmq/metadata/DefaultStoreMetadataServiceTest.java
Due: none

fix(controller): fill the object size field when committing wal object
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3WalObject.java
Due: RocketMQ Controller

fix: add timeout threshold for testThrottleQuickly
  s3stream/src/test/java/com/automq/stream/s3/compact/AsyncTokenBucketThrottleTest.java
Due: none

fix: verify stream owner according to stream state
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: verify stream owner according to stream state (#239)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: rename Range#brokerId to nodeId
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Range.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/RangeMapper.java
  controller/src/main/resources/database/mapper/RangeMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/RangeTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: rename S3WalObject#brokerId to nodeId
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3WalObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3WalObjectMapper.java
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3WalObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

refactor(store): rename TopicQueue to LogicQueue
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/TopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/DefaultLogicQueueManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Proxy, RocketMQ Store

fix: rename broker_id to node_id for Range and S3WalObject (#240)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Range.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3WalObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/RangeMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3WalObjectMapper.java
  controller/src/main/resources/database/mapper/RangeMapper.xml
  controller/src/main/resources/database/mapper/S3WalObjectMapper.xml
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/RangeTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3WalObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(store): clear states when open the queue
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
Due: RocketMQ Store

fix(store): resolve conflicts after rebasing
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
Due: RocketMQ Store

fix: list first 'limit' WAL objects of given stream
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: fix code style issue
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: fix list wal objects of the given stream
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: list objects
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
Due: RocketMQ Controller

fix: List WAL objects of the given stream, limit top N by start_offset (#250)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix(s3stream): batch prepare objects when force split WAL
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionUtilTest.java
Due: none

fix: polish duplicated topic/group error handling
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

fix: polish duplicated topic/group error handling (#253)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

feat(cli): introduce a ProduceMessage cli for benchmarking
  cli/pom.xml
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/ProduceMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/tools/CliUtils.java
Due: none

feat(s3stream): improve s3stream observarbility
  s3stream/src/main/java/com/automq/stream/metrics/Timer.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ReadDataBlock.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/Counter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/Histogram.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopS3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsRegistry.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/TimerUtil.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3MetricsType.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3ObjectStage.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: none

style(s3stream): fix checkstyle
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopS3StreamMetricsGroup.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsRegistry.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

fix: recycle topic/group after linger time
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/GroupMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/TopicMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/RecycleGroupTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/RecycleTopicTask.java
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/main/resources/database/mapper/TopicMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Common, RocketMQ Controller

fix: recycle topic/group after linger time (#258)
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/GroupMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/TopicMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/RecycleGroupTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/RecycleTopicTask.java
  controller/src/main/resources/database/mapper/GroupMapper.xml
  controller/src/main/resources/database/mapper/TopicMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Common, RocketMQ Controller

feat(s3stream): remove pom parent
  s3stream/pom.xml
Due: none
