Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

feat(store): polish some code lines and make MessageStoreTest stable (#169)
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/model/metadata/ConsumerGroupMetadata.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

refactor: use bucket4j in readThrottle
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/AsyncTokenBucketThrottle.java
  s3stream/src/main/java/com/automq/stream/s3/compact/TokenBucketThrottleV2.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
Due: none

fix(store): avoid snapshot leak
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
Due: RocketMQ Store

test: add unit tests for TokenBucketThrottle
  s3stream/src/test/java/com/automq/stream/s3/compact/AsyncTokenBucketThrottleTest.java
Due: none

feat: let node yield queues once their reassignments are found
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/QueueAssignmentMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanYieldingQueueTask.java
  controller/src/main/resources/database/mapper/QueueAssignmentMapper.xml
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
Due: RocketMQ Controller

feat: implement scan yielding queue task
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ControllerTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/LeaseTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanNodeTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanYieldingQueueTask.java
Due: RocketMQ Controller

fix: fix duplicate opens on the same node
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: style problem
  s3stream/src/test/java/com/automq/stream/s3/compact/AsyncTokenBucketThrottleTest.java
Due: none

fix: sync codebase
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanYieldingQueueTask.java
Due: RocketMQ Controller

refactor: refactor the implementation of open and list stream (#165)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Lease.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Node.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Stream.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller

feat: let node yield queues once their reassignments are found (#177)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/QueueAssignmentMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ControllerTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/LeaseTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanNodeTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanTask.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/ScanYieldingQueueTask.java
  controller/src/main/resources/database/mapper/QueueAssignmentMapper.xml
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
Due: RocketMQ Controller

feat: add read throttle for writter; add 'smallSizeCopyWriteCount' metric (#149)
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectCopier.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/AsyncTokenBucketThrottle.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCopierTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/AsyncTokenBucketThrottleTest.java
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultWriterTest.java
  s3stream/src/test/resources/log4j.properties
Due: none

feat(store): clear inflight count when tq is closed
  store/src/main/java/com/automq/rocketmq/store/DefaultTopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/model/message/TopicQueueId.java
  store/src/main/java/com/automq/rocketmq/store/service/InflightService.java
Due: RocketMQ Store

chore: trival fix
  broker/src/main/java/com/automq/rocketmq/broker/BrokerStartup.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/database/mapper/StreamAffiliationMapper.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PullResult.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
Due: RocketMQ Broker, RocketMQ Controller, RocketMQ Store

feat(store): clear inflight count when tq is closed (#179)
  store/src/main/java/com/automq/rocketmq/store/DefaultTopicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/model/message/TopicQueueId.java
  store/src/main/java/com/automq/rocketmq/store/service/InflightService.java
Due: RocketMQ Store

test(s3stream): test delete objects
  s3stream/src/test/java/com/automq/stream/s3/operator/DefaultS3OperatorTest.java
Due: none

fix(s3stream): remove excessively long logs
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

fix: fix openStream to avoid duplicate opens on different nodes
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store

chore: add a github action to release the snapshot version of s3stream
  .github/workflows/s3stream-snap.yml
  pom.xml
Due: none

refactor: make List S3 objects in atomic way
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller

fix: fix query range problem with list s3stream and s3wal
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: add createTopic, openStream, closeStream integration e2e test
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
Due: RocketMQ Controller

fix: fix closeStream to avoid duplicate opens on different nodes
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store

feat(store): polish some code and add more log info
  store/src/main/java/com/automq/rocketmq/store/DefaultMessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/StreamTopicQueue.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/OperationSnapshot.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
Due: RocketMQ Store

feat: add tests for openStream, closeStream
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat: migrate queues/streams among nodes for workload balance fairness
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/SchedulerTask.java
  controller/src/main/resources/database/mapper/StreamMapper.xml
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store

fix: fix tests
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
Due: RocketMQ Controller, RocketMQ Store

feat: migrate queues/streams among nodes for workload balance fairness (#185)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/tasks/SchedulerTask.java
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
  store/src/test/java/com/automq/rocketmq/store/S3ObjectManagerTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store

fix: fix openStream and closeStream to avoid duplicate opens on different nodes (#183)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  metadata/src/main/java/com/automq/rocketmq/metadata/api/StoreMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamManager.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Store

refactor(proxy): use the async APIs instead of using deprecated APIs
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

fix: fix the recover records issue with restart broker
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

refactor(proxy): use the async APIs instead of using deprecated APIs. (#186)
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockProxyMetadataService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

Path conditions:
  RocketMQ Broker: any of: broker/
  RocketMQ Common: any of: common/
  RocketMQ Controller: any of: controller/
  RocketMQ Proxy: any of: proxy/
  RocketMQ Store: any of: store/
