Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

feat(broker): enable the thread pool monitor
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
Due: RocketMQ Broker, RocketMQ Common

fix: refactor metadata store
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
Due: RocketMQ Controller

fix: refactor metadata store (#329)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
Due: RocketMQ Controller

feat(broker): support export metrics to otlp collector
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
Due: none

fix(stream): fix NPE in block cache (#325)
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
Due: RocketMQ Broker

feat(broker): support export metrics to otlp collector
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/src/main/java/com/automq/rocketmq/common/MetricsManager.java
  common/src/main/java/com/automq/rocketmq/common/config/MetricsConfig.java
  distribution/conf/broker.yaml
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsManager.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(broker): enable the thread pool monitor (#328)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/java/com/automq/rocketmq/common/config/ProxyConfig.java
Due: RocketMQ Broker, RocketMQ Common

fix: cache topic and queue assignments on creation
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
Due: RocketMQ Controller

fix: change root logger level back to info
  broker/src/main/resources/log4j2.xml
Due: RocketMQ Broker

fix: cache topic and queue assignments on creation (#332)
  broker/src/main/resources/log4j2.xml
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
Due: RocketMQ Broker, RocketMQ Controller

build(store): exclude artifact to avoid dependency conflicts
  proto/pom.xml
Due: none

feat(proxy): enhance metrics for ReceiveMessageRequest
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendGrpcMessingActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendReceiveMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/SuspendPopRequestServiceTest.java
Due: RocketMQ Proxy

feat(proxy): enhance metrics for ReceiveMessageRequest (#334)
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendGrpcMessingActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendReceiveMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/SuspendPopRequestServiceTest.java
Due: RocketMQ Proxy

feat(store): clear all states when store start or shutdown
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/KVService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Store

fix(s3stream): fix upload WAL object hang
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WALObjectUploadTask.java
Due: none

feat(s3stream): add object limitation to compaction
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionAnalyzer.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionStats.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/compact/objects/CompactedObjectBuilder.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionTestBase.java
Due: none

style(s3stream): fix checkstyle
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
Due: none

fix(metadata): avoid using commom thread pool
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
Due: none

feat: add describe topic cli
  cli/pom.xml
  cli/src/main/java/com/automq/rocketmq/cli/DescribeTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicCache.java
Due: RocketMQ Controller

feat(s3stream): block cache merge the same block inflight read
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockReadAccumulator.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DataBlockRecords.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/test/java/com/automq/stream/s3/cache/DataBlockReadAccumulatorTest.java
Due: none

feat(store): destroy db only when path exist
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
Due: RocketMQ Store

fix(store): remove unused import
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
Due: RocketMQ Store

revert: clear all states when store start or shutdown
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/KVService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Store

docs(s3stream): add comments to compaction
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionAnalyzer.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
Due: none

fix: avoid partial broker start
  broker/src/main/java/com/automq/rocketmq/broker/BrokerStartup.java
Due: RocketMQ Broker

refactor(proxy): divide suspend request into independent thread pool
  distribution/conf/broker.yaml
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendReceiveMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/processor/ExtendMessagingProcessor.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/SuspendPopRequestServiceTest.java
Due: RocketMQ Proxy

fix(proxy): fix check style
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
Due: RocketMQ Proxy

fix(proxy): fix unit test
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/SuspendPopRequestServiceTest.java
Due: RocketMQ Proxy

refactor(proxy): divide suspend request into independent thread pool (#348)
  distribution/conf/broker.yaml
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendReceiveMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/processor/ExtendMessagingProcessor.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendPopRequestService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/SuspendPopRequestServiceTest.java
Due: RocketMQ Proxy

feat(store): clear all data when store start or shutdown
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/KVService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

style(store): rename MessageStoreImpl#clearStateMachineData
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
Due: RocketMQ Store
