Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metrics/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"
  - "**/thirdparty/**/*"
  - "**/benchmark/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

feat(s3stream): trim log level to debug
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
Due: RocketMQ Stream

feat(s3stream): trim log level to debug (#908)
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
Due: RocketMQ Stream

fix(operator): empty range
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(operator): empty range (#909)
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix: call retainedDuplicate
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoveryBench.java
Due: none

feat(benchmark): benchmark on wal recovery
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/BenchTool.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoveryBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

fix: fix parser
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/BenchTool.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoveryBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

style: add brackets
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

refactor: remove useless overides
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: none

fix: check capacity before cached read
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALCachedChannel.java
Due: RocketMQ Stream

refactor: support read specific length
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALCachedChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: RocketMQ Stream

feat: init `WALCachedChannel`
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALCachedChannel.java
Due: RocketMQ Stream

chore: update arguments
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoveryBench.java
Due: none

test: use a commen key "TEST_BLOCK_DEVICE_KEY"
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannelTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: RocketMQ Stream

feat: cached wal channel
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALCachedChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: RocketMQ Stream

chore: remove TODO
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

perf(s3stream): speedup wal recovery (#910)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/BenchTool.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/RecoveryBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALCachedChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannelTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: RocketMQ Stream

perf(s3stream): comment out the trace aspect
  s3stream/src/main/java/com/automq/stream/s3/trace/aop/S3StreamTraceAspect.java
Due: RocketMQ Stream

fix(s3stream): check whether the read length greater than the cache size
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALCachedChannel.java
Due: RocketMQ Stream

perf(s3stream): comment out the trace aspect (#911)
  s3stream/src/main/java/com/automq/stream/s3/trace/aop/S3StreamTraceAspect.java
Due: RocketMQ Stream

fix(s3stream): check whether the read length greater than the cache size (#912)
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALCachedChannel.java
Due: RocketMQ Stream

fix: fix `WALChannel#useDirectIO` to fix log
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALCachedChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: RocketMQ Stream

perf: limit the rate of `pollBlockScheduler`
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

perf: limit the rate of `pollBlockScheduler` (#914)
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALCachedChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: RocketMQ Stream

feat(s3stream): support config checking object integrity on aws client
  common/src/main/java/com/automq/rocketmq/common/config/S3StreamConfig.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store, RocketMQ Stream

perf(s3stream): cache parsed DataBlockIndex for IndexBlock
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
Due: RocketMQ Stream

feat(s3stream): add metrics for read ahead throttle time
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsConstant.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsManager.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/StorageOperationStats.java
Due: RocketMQ Stream

fix(s3stream): add min compaction delay
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: RocketMQ Stream

feat(s3stream): add metrics for read ahead throttle time (#917)
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsConstant.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsManager.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/StorageOperationStats.java
Due: RocketMQ Stream

fix(s3stream): add min compaction delay (#918)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: RocketMQ Stream

feat(s3stream): bump s3stream to 1.0.0
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

feat(s3stream): bump s3stream to 1.0.0 (#919)
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

refactor(s3stream): remove _total suffix for counter metrics for unification
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsConstant.java
Due: none

fix: register metrics after starting the wal
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

refactor(s3stream): remove _total suffix for counter metrics (#921)
  s3stream/src/main/java/com/automq/stream/s3/metrics/S3StreamMetricsConstant.java
Due: none

fix(s3stream): register metrics after starting the wal (#920)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

fix(s3stream): stream compaction not working
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
Due: RocketMQ Stream

fix(s3stream): stream compaction not working (#922)
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
Due: RocketMQ Stream
