Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes:
      default:
        enabled: yes
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"

fix: use customized json serializer for SubStream to screen extra fields of protobuf messages
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: fix code style issue by removing ununsed imports
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: use customized json serializer for SubStream to screen extra fie… (#313)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: fix duplicate sequence id when commit wal (#311)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: fix ListObjects test instability
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

test: remove duplicate test code
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(proxy): improve proxy metrics (#307)
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/src/main/java/com/automq/rocketmq/common/metrics/MetricsExporterType.java
  common/src/main/java/com/automq/rocketmq/common/metrics/NopLongCounter.java
  common/src/main/java/com/automq/rocketmq/common/metrics/NopLongHistogram.java
  common/src/main/java/com/automq/rocketmq/common/metrics/NopLongUpDownCounter.java
  common/src/main/java/com/automq/rocketmq/common/metrics/NopObservableLongGauge.java
  distribution/conf/broker.yaml
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ConsumerAttr.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProducerAttr.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy

feat(store): introduce metrics for store module
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/metrics/LagRecord.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsConstant.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/SnapshotServiceTest.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

feat(log): introdcue log4j2 for s3rocketmq
  broker/pom.xml
  broker/src/main/java/com/automq/rocketmq/broker/BrokerStartup.java
  broker/src/main/resources/log4j2.xml
  pom.xml
  proxy/pom.xml
Due: RocketMQ Broker, RocketMQ Proxy

feat(cli): limit the inflight messages for ConsumeMessage cli, to avoid tons of retry messages
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
Due: none

fix(s3stream): check s3 available after scheduler run
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

fix(cli): change the inflight checker implementation to avoid dead lock
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
Due: none

chore: log commit activity from store
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  distribution/conf/broker.yaml
Due: RocketMQ Controller

chore: log commit activity from store (#319)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  distribution/conf/broker.yaml
Due: RocketMQ Controller

fix(s3stream): fix empty WAL object
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WALObjectUploadTask.java
  s3stream/src/test/java/com/automq/stream/s3/WALObjectUploadTaskTest.java
Due: none

fix(test): fix checkstyle
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/WALObjectUploadTaskTest.java
Due: none

chore: log slow route query of topic
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
Due: none

fix: remove unused import
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
Due: none

fix(s3stream): checkstyle
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

chore: log slow route query of topic (#321)
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultProxyMetadataService.java
Due: none

fix: fix ListObjects test instability (#315)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix(s3stream): complete exception when s3 upload is unrecoverable
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

fix(s3stream): fix empty WAL object (#320)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/WALObjectUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/WALObjectUploadTaskTest.java
Due: none

fix: change log level to debug; add total summary
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/StreamObjectsCompactionTask.java
Due: none

chore(s3stream): make isUnrecoverable of s3operator method cleaner
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: none

feat: package project as distribution tarball
  distribution/bin/run-server.sh
  distribution/bin/start-broker.sh
  distribution/pom.xml
  distribution/release.xml
Due: none

feat: package project as distribution tarball (#324)
  distribution/bin/run-server.sh
  distribution/bin/start-broker.sh
  distribution/pom.xml
  distribution/release.xml
Due: none

fix(stream): fix NPE in block cache
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
Due: RocketMQ Broker

fix: heartbeat
  broker/src/main/resources/log4j2.xml
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/HeartbeatTask.java
Due: RocketMQ Broker, RocketMQ Controller

fix: fix default scan interval
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/HikariCPDataSourceFactory.java
  distribution/conf/broker-2.yaml
Due: RocketMQ Common, RocketMQ Controller

chore: log when a new node is found and registered
  controller/src/main/java/com/automq/rocketmq/controller/metadata/BrokerNode.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanNodeTask.java
Due: RocketMQ Controller

fix: debug and fix cluster issues (#326)
  broker/src/main/resources/log4j2.xml
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/BrokerNode.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/HikariCPDataSourceFactory.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/HeartbeatTask.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanNodeTask.java
  distribution/conf/broker-2.yaml
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Controller

feat(s3stream): isolate s3storage read write thread
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: none

feat(s3stream): isolate s3storage read write thread (#323)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: none

fix: add unit test for serde
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamDeserializer.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamSerializer.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamSerdeTest.java
Due: RocketMQ Controller

fix: fix serde
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamSerdeTest.java
Due: RocketMQ Controller

fix: add unit test for serde (#327)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamDeserializer.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamSerializer.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/serde/SubStreamSerdeTest.java
Due: RocketMQ Controller
