Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metrics/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"
  - "**/thirdparty/**/*"
  - "**/benchmark/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

feat(s3stream/wal/benchmark): block device support
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

feat(s3stream/wal/benchmark): block device support (#669)
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

chore: enlarge database connection pool
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/DruidDataSourceFactory.java
Due: none

chore: enlarge database connection pool (#671)
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/DruidDataSourceFactory.java
Due: none

feat(broker): add jvm runtime metrics
  broker/pom.xml
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/pom.xml
  pom.xml
Due: RocketMQ Broker, RocketMQ Common

fix(s3stream/wal): fix read file
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: RocketMQ Stream

feat(broker): add jvm runtime metrics (#673)
  broker/pom.xml
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/pom.xml
  pom.xml
Due: RocketMQ Broker, RocketMQ Common

feat(broker): add system metrics
  broker/pom.xml
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/src/main/java/com/automq/rocketmq/common/config/MetricsConfig.java
Due: RocketMQ Broker

chore(ci): support nightly build in action
  .github/workflows/nightly-build.yml
Due: none

chore: remove redundant dependency tests of distribution build
  .github/workflows/nightly-build.yml
Due: none

chore: change the timer to a manual trigger for tests
  .github/workflows/nightly-build.yml
Due: none

chore: add job-index for distinguish different deploy actions
  .github/workflows/nightly-build.yml
Due: none

chore: fix the tag version fetch
  .github/workflows/nightly-build.yml
Due: none

feat(s3stream): add failover switch
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/utils/LogContext.java
Due: RocketMQ Stream

fix(s3stream/wal): fix read file (#672)
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: RocketMQ Stream

chore: fix the strategy of version
  .github/workflows/nightly-build.yml
Due: none

feat(s3stream): add failover switch (#676)
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/utils/LogContext.java
Due: RocketMQ Stream

chore: fix unexpected value of version
  .github/workflows/nightly-build.yml
Due: none

chore: ensure action job always
  .github/workflows/nightly-build.yml
Due: none

chore: fix the delay of rocketmq dependency build
  .github/workflows/nightly-build.yml
Due: none

chore: fix namespace not delete in clean
  .github/workflows/nightly-build.yml
Due: none

chore: fix build dependency to ship test
  .github/workflows/nightly-build.yml
Due: none

chore: change manual trigger mode to timed
  .github/workflows/nightly-build.yml
Due: none

feat(broker): add system metrics (#674)
  broker/pom.xml
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  common/src/main/java/com/automq/rocketmq/common/config/MetricsConfig.java
Due: RocketMQ Broker

perf: improve TopicCache performance (#665)
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/Helper.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/cache/TopicCache.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/cache/TopicCacheTest.java
Due: RocketMQ Controller

feat(s3stream): evict ObjectReader based on index size
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LRUCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/ObjectReaderLRUCache.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/test/java/com/automq/stream/s3/cache/ObjectReaderLRUCacheTest.java
Due: RocketMQ Stream

chore(ci): support for nightly builds in actions (#675)
  .github/workflows/nightly-build.yml
Due: none

feat(s3stream): add thread pool monitor; upgrade to 0.4.3-SNAPSHOT
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
  s3stream/src/main/java/com/automq/stream/utils/threads/ThreadPoolMonitor.java
  s3stream/src/main/java/com/automq/stream/utils/threads/ThreadPoolQueueSizeMonitor.java
  s3stream/src/main/java/com/automq/stream/utils/threads/ThreadPoolStatusMonitor.java
  s3stream/src/main/java/com/automq/stream/utils/threads/ThreadPoolWrapper.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store, RocketMQ Stream

fix(store): fix potential resource leak in rocksdb
  pom.xml
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
Due: RocketMQ Store

fix(store): fix potential resource leak in rocksdb (#679)
  pom.xml
  store/src/main/java/com/automq/rocketmq/store/service/RocksDBKVService.java
Due: RocketMQ Store

feat(s3stream): add thread pool monitor; upgrade to 0.4.3-SNAPSHOT (#680)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
  s3stream/src/main/java/com/automq/stream/utils/threads/ThreadPoolMonitor.java
  s3stream/src/main/java/com/automq/stream/utils/threads/ThreadPoolQueueSizeMonitor.java
  s3stream/src/main/java/com/automq/stream/utils/threads/ThreadPoolStatusMonitor.java
  s3stream/src/main/java/com/automq/stream/utils/threads/ThreadPoolWrapper.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store, RocketMQ Stream

feat(wal): recovery mode support
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: RocketMQ Stream

refactor(wal): prepare for recover only once
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALCapacityMismatchException.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/test/java/com/automq/stream/s3/failover/FailoverTest.java
Due: RocketMQ Stream

feat(wal): make the size of temp buffer used in `BlockDeviceChannel` configurable
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

feat(s3stream): rename S3StreamThreadPoolMonitor
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
  s3stream/src/main/java/com/automq/stream/utils/threads/S3StreamThreadPoolMonitor.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
Due: RocketMQ Store, RocketMQ Stream

feat(wal): a big commit
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/Constants.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/WALHeaderTest.java
Due: RocketMQ Stream

feat(wal): no need to recover in the first start
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
Due: RocketMQ Stream

test(wal): test max window during recovery
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

fix(wal): ignore invalid record at the trimmed offset
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

fix(wal): allocate direct buffers
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/thirdparty/moe/cnkirito/kdio/DirectIOUtils.java
Due: RocketMQ Stream
