Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

fix: polish getStreams
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/database/mapper/StreamMapper.xml
  distribution/conf/broker.yaml
Due: RocketMQ Controller

feat(proxy): check client is supported for remoting protocol (#468)
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingUtil.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehavior.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendConsumerManagerActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendPullMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/ExtendSendMessageActivity.java
  proxy/src/test/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehaviorTest.java
Due: RocketMQ Proxy

chore: update test access key/secret (#451)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/resources/database/mapper/StreamMapper.xml
  distribution/conf/broker.yaml
Due: RocketMQ Controller

fix(s3stream): prevent sort on unmodifiable list; delete unused code
  s3stream/src/main/java/com/automq/stream/s3/compact/AsyncTokenBucketThrottle.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/TokenBucketThrottle.java
  s3stream/src/test/java/com/automq/stream/s3/compact/AsyncTokenBucketThrottleTest.java
Due: RocketMQ Stream

test(store): add reset consume offset test
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/message/ClearRetryMessagesResult.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/ResetConsumeOffsetOperation.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
Due: RocketMQ Proxy, RocketMQ Store

feat(store): support reset consume offset for pop mode
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/message/ResetConsumeOffsetResult.java
  store/src/main/java/com/automq/rocketmq/store/model/metadata/ConsumerGroupMetadata.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/AckOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/ChangeInvisibleDurationOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/OperationSnapshot.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/PopOperation.java
  store/src/main/java/com/automq/rocketmq/store/model/operation/ResetConsumeOffsetOperation.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/service/api/OperationLogService.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Proxy, RocketMQ Store

feat(store): polish stream metrics
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
  store/src/main/java/com/automq/rocketmq/store/metrics/BaseStreamMetrics.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsGauge.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsHistogram.java
Due: RocketMQ Broker, RocketMQ Store, RocketMQ Metadata

feat(store): support stream related metrics
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  store/src/main/java/com/automq/rocketmq/store/metrics/BaseStreamMetrics.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsManager.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsCounter.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsGauge.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsHistogram.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StreamMetricsManager.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

fix: expose port shifted by 1
  distribution/docker/docker-compose.yaml
Due: none

fix: expose port shifted by 1 (#473)
  distribution/docker/docker-compose.yaml
Due: none

feat(proxy): support pull orderly
  proxy/src/main/java/com/automq/rocketmq/proxy/service/LockService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Proxy

fix: stream domain object should use boxed type
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Stream.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: stream domain object should use boxed type (#476)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/Stream.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(proxy): refactor long polling
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendGrpcMessagingActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendReceiveMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/SuspendRequestService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/SuspendPopRequestServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/SuspendRequestServiceTest.java
Due: RocketMQ Proxy

fix(proxy): fix unit test
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

fix: fix stream state when schedule queue/streams among nodes
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/StreamCriteria.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/SchedulerTask.java
  controller/src/main/resources/database/mapper/RangeMapper.xml
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamTest.java
Due: RocketMQ Controller

fix: fix stream state when schedule queue/streams among nodes (#478)
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/StreamCriteria.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/SchedulerTask.java
  controller/src/main/resources/database/mapper/RangeMapper.xml
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/metadata/StreamTest.java
Due: RocketMQ Controller

fix(s3stream): force evict cache when OOM
  s3stream/src/main/java/com/automq/stream/s3/DirectByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/objects/ObjectStreamRange.java
Due: RocketMQ Stream

fix(s3stream): checkstyle
  s3stream/src/main/java/com/automq/stream/s3/DirectByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix(s3stream): force evict cache when OOM (#479)
  s3stream/src/main/java/com/automq/stream/s3/DirectByteBufAlloc.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/objects/ObjectStreamRange.java
Due: RocketMQ Stream

fix(s3stream): fix data block memory footprint
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
Due: RocketMQ Stream

fix(s3stream): fix data block memory footprint (#480)
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
Due: RocketMQ Stream

feat: support for unified date management of metadata
  common/src/main/java/com/automq/rocketmq/common/system/S3Constants.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3StreamObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/S3WalObject.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/S3StreamObjectMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/RecycleS3Task.java
  controller/src/main/resources/ddl.sql
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3StreamObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/S3WalObjectTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Common, RocketMQ Controller

refactor: replace duplicate code with builds3stream
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/S3MetadataManager.java
Due: RocketMQ Controller

feat: implement command to describe cluster
  cli/src/main/java/com/automq/rocketmq/cli/DescribeCluster.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/TerminateNode.java
  cli/src/main/java/com/automq/rocketmq/cli/UpdateTopic.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/BrokerNode.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/AssignmentCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/StreamCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/StreamCriteria.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanStreamTask.java
  controller/src/main/resources/database/mapper/StreamMapper.xml
  proto/src/main/proto/admin.proto
  proto/src/main/proto/controller.proto
Due: RocketMQ Controller

fix: fix illegal basetimestamp values
  controller/src/test/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

fix: add timeout for all RPCs
  cli/src/main/java/com/automq/rocketmq/cli/CliClientConfig.java
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeCluster.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/ProduceMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/TerminateNode.java
  cli/src/main/java/com/automq/rocketmq/cli/UpdateTopic.java
  common/pom.xml
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/GrpcClientConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  pom.xml
  proto/pom.xml
Due: RocketMQ Common, RocketMQ Controller

feat: implement command to describe cluster (#485)
  cli/src/main/java/com/automq/rocketmq/cli/CliClientConfig.java
  cli/src/main/java/com/automq/rocketmq/cli/ConsumeMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/CreateTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeCluster.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeTopic.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/ProduceMessage.java
  cli/src/main/java/com/automq/rocketmq/cli/TerminateNode.java
  cli/src/main/java/com/automq/rocketmq/cli/UpdateTopic.java
  common/pom.xml
  common/src/main/java/com/automq/rocketmq/common/config/ControllerConfig.java
  common/src/main/java/com/automq/rocketmq/common/config/GrpcClientConfig.java
  controller/src/main/java/com/automq/rocketmq/controller/ControllerServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStoreBuilder.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/BrokerNode.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/AssignmentCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/StreamCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/dao/StreamCriteria.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/mapper/StreamMapper.java
  controller/src/main/java/com/automq/rocketmq/controller/tasks/ScanStreamTask.java
  controller/src/main/resources/database/mapper/StreamMapper.xml
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/metadata/GrpcControllerClientTest.java
  pom.xml
  proto/pom.xml
  proto/src/main/proto/admin.proto
  proto/src/main/proto/controller.proto
Due: RocketMQ Common, RocketMQ Controller

feat: support deploy in helm
  distribution/helm/.helmignore
  distribution/helm/Chart.yaml
  distribution/helm/deploy-ci.sh
  distribution/helm/deploy/ddl.sql
  distribution/helm/deploy/helm_sample_values.yaml
  distribution/helm/deploy/localstack_s3.yaml
  distribution/helm/deploy/mysql.yaml
  distribution/helm/templates/broker/NOTES.txt
  distribution/helm/templates/broker/_brokerconfig.tpl
  distribution/helm/templates/broker/_helpers.tpl
  distribution/helm/templates/broker/configmap.yaml
  distribution/helm/templates/broker/service.yaml
  distribution/helm/templates/broker/statefulset.yaml
  distribution/helm/values.yaml
Due: none

feat: support deploy in kubeblock
  distribution/kubeblocks/.helmignore
  distribution/kubeblocks/Chart.yaml
  distribution/kubeblocks/templates/broker/NOTES.txt
  distribution/kubeblocks/templates/broker/_brokerconfig.tpl
  distribution/kubeblocks/templates/broker/_helpers.tpl
  distribution/kubeblocks/templates/broker/clusterdefinition.yaml
  distribution/kubeblocks/templates/broker/clusterversion.yaml
  distribution/kubeblocks/templates/broker/configmap.yaml
  distribution/kubeblocks/templates/broker/service.yaml
  distribution/kubeblocks/templates/broker/statefulset.yaml
  distribution/kubeblocks/values.yaml
Due: none

feat: pretty describe cluster output
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeCluster.java
Due: none

fix: code style
  cli/src/main/java/com/automq/rocketmq/cli/DescribeCluster.java
Due: none

feat: pretty describe cluster output (#487)
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
  cli/src/main/java/com/automq/rocketmq/cli/DescribeCluster.java
Due: none

feat: implement cluster summary
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/AssignmentCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/GroupCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/StreamCache.java
  controller/src/main/java/com/automq/rocketmq/controller/metadata/database/cache/TopicCache.java
  proto/src/main/proto/admin.proto
Due: RocketMQ Controller

feat: support create/update topic throught remotiong protocol
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/RemotingProtocolServer.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/AdminActivity.java
Due: RocketMQ Proxy

fix: code style
  cli/src/main/java/com/automq/rocketmq/cli/ConsoleHelper.java
Due: none

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
