Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metrics/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"
  - "**/thirdparty/**/*"
  - "**/benchmark/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

fix(s3stream): use lazy initialization to prevent metrics missing
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopCounter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopGauge.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopHistogram.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/TimerUtil.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/ByteBufMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/NetworkMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/network/AsyncNetworkBandwidthLimiter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
Due: RocketMQ Stream

fix(s3stream): use lazy initialization to prevent metrics missing (#724)
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopCounter.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopGauge.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/NoopHistogram.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/TimerUtil.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/ByteBufMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/NetworkMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/OperationMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/stats/S3ObjectMetricsStats.java
  s3stream/src/main/java/com/automq/stream/s3/network/AsyncNetworkBandwidthLimiter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
Due: RocketMQ Stream

fix: revert ZGC option as it causes OOM due to multi-mapping of heap VMA (#723)
  distribution/bin/run-server.sh
Due: none

fix: escape dollar symbol in docker-compose.xml for linux (#721)
  distribution/docker/docker-compose.yaml
Due: none

feat: add contributing guideline (#719)
  README.md
  docs/CONTRIBUTING.md
Due: none

fix(store): fix end offset of fetch result
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
Due: RocketMQ Store

chore: relase when the tag starts with helm
  .github/workflows/release.yml
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
Due: none

fix(s3stream): update to 0.5.6 and fix serveless cmd
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/DefaultServerless.java
Due: RocketMQ Stream

fix(s3stream/cache): `LogCacheBlock#size` long -> AtomicLong
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
Due: RocketMQ Stream

perf(s3storage): make `WALCallbackSequencer` thread safe and remove the main write thread
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
Due: RocketMQ Stream

perf(s3stream/storage): remove the single main write thread (#728)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/s3/metrics/operations/S3Operation.java
Due: RocketMQ Stream

perf(s3stream/storage): shard callback locks by stream id
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix: use abs of streamId
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix: avoid overflow
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix(s3stream): update to 0.5.6 and fix serveless cmd (#730)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/failover/DefaultServerless.java
Due: RocketMQ Stream

feat(s3stream_issues690): optimize log cache get performance by adding offset index
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/StreamRecordBatchList.java
  s3stream/src/test/java/com/automq/stream/s3/cache/LogCacheTest.java
Due: RocketMQ Stream

fix: ci
  s3stream/src/test/java/com/automq/stream/s3/cache/LogCacheTest.java
Due: RocketMQ Stream

feat(s3stream): optimize cache performance by adding offset index (#731)
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/utils/biniarysearch/StreamRecordBatchList.java
  s3stream/src/test/java/com/automq/stream/s3/cache/LogCacheTest.java
Due: RocketMQ Stream

fix(store): fix end offset of fetch result (#725)
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
Due: RocketMQ Store

chore: add maven-source-plugin for s3stream lib (#707)
  s3stream/pom.xml
Due: RocketMQ Stream

perf(s3stream/storage): shard callback locks by stream id (#729)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

chore: release helm only in helm tag
  .github/workflows/release-helm.yml
Due: none

chore: support build image in official release
  .github/workflows/release.yml
Due: none

feat(s3stream_kafka471): support fast read option
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/api/ReadOptions.java
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/api/exceptions/ErrorCode.java
  s3stream/src/main/java/com/automq/stream/api/exceptions/FastReadFailFastException.java
  s3stream/src/main/java/com/automq/stream/api/exceptions/StreamClientException.java
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
Due: RocketMQ Store, RocketMQ Stream

fix: #733 resolve class clashes
  cli/pom.xml
Due: none

feat(s3stream_kafka471): support fast read option (#732)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/api/ReadOptions.java
  s3stream/src/main/java/com/automq/stream/api/Stream.java
  s3stream/src/main/java/com/automq/stream/api/exceptions/ErrorCode.java
  s3stream/src/main/java/com/automq/stream/api/exceptions/FastReadFailFastException.java
  s3stream/src/main/java/com/automq/stream/api/exceptions/StreamClientException.java
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
  s3stream/src/test/java/com/automq/stream/s3/S3StreamTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MemoryStreamClient.java
Due: RocketMQ Store, RocketMQ Stream

fix: #733 resolve class clashes (#734)
  cli/pom.xml
Due: none

fix(s3storage): calculate the confirm offset asynchronously
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix: check status prior to applying result
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
Due: RocketMQ Controller

fix: use the wal confirm offset as the initial confirm offset of a stream
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix: log open stream result from controller
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/GroupManager.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Metadata

fix: concurrent
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix: ignore empty queue
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

fix: handle error when open streams (#736)
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  metadata/src/main/java/com/automq/rocketmq/metadata/DefaultStoreMetadataService.java
Due: RocketMQ Controller, RocketMQ Metadata

chore: release helm chart when the tag starts with helm (#726)
  .github/workflows/release-helm.yml
  .github/workflows/release.yml
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
Due: none

perf(s3storage): make the confirm offset more accurate
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

chore: support nightly build in three different versions: latest, tag version, nightly version
  .github/workflows/nightly-build.yml
Due: none

test: test sequencer
  s3stream/src/test/java/com/automq/stream/s3/S3StorageTest.java
Due: RocketMQ Stream

fix: include node-id in close-stream-request during forwarding requests
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
Due: RocketMQ Controller

chore: rename release action about docker build
  .github/workflows/release.yml
Due: none
