Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

fix(store): fix test
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Store

fix(s3stream/wal): check whether the file system supports direct IO (#808)
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

fix(proxy): add PROPERTY_PRODUCER_GROUP property for transaction message (#803)
  common/src/main/fbs/flat_message.fbs
  distribution/helm/deploy/helm_sample_values.yaml
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
Due: RocketMQ Common, RocketMQ Proxy

test(proxy): add unit test for ProxyService
  pom.xml
  proxy/pom.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/GrpcServerRule.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
Due: RocketMQ Proxy, RocketMQ Store

test(proxy): add unit test for ProxyService (#813)
  pom.xml
  proxy/pom.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/GrpcServerRule.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/metrics/StoreMetricsManager.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
Due: RocketMQ Proxy, RocketMQ Store

refactor(proxy): proxy message to the node assigned to its queue (#812)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DeadLetterService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/api/DeadLetterSender.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

refactor(proxy): proxy delay message and transaction message to the node assigned to its queue
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehavior.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/GrpcServerRule.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
Due: RocketMQ Proxy, RocketMQ Store

refactor(proxy): proxy delay message and transaction message to the node assigned to its queue (#815)
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ExtendGrpcMessagingApplication.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/v2/consumer/ExtendReceiveMessageResponseStreamWriter.java
  proxy/src/main/java/com/automq/rocketmq/proxy/metrics/ProxyMetricsManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/remoting/activity/CommonRemotingBehavior.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/GrpcServerRule.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
Due: RocketMQ Proxy, RocketMQ Store

fix(s3stream): bugfix on fetch data block indices of StreamReader
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
Due: RocketMQ Stream

style(s3stream): remove unused import
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
Due: RocketMQ Stream

fix(s3stream): bugfix on fetch data block indices of StreamReader (#816)
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
Due: RocketMQ Stream

feat(distribution): broker in docker will print log into console
  distribution/bin/run-server.sh
  distribution/conf/log4j2_console.xml
  distribution/docker/docker-compose.yaml
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(controller): reassign topic
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/ReassignTopic.java
  common/src/main/java/com/automq/rocketmq/common/api/DataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/LeaseTask.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/StreamMapper.java
  metadata-jdbc/src/main/resources/database/mapper/StreamMapper.xml
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
Due: RocketMQ Common, RocketMQ Controller, RocketMQ Store

fix(controller): fix test
  controller/src/test/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(controller): reassign topic (#818)
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/ReassignTopic.java
  common/src/main/java/com/automq/rocketmq/common/api/DataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/LeaseTask.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStoreTest.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/mapper/StreamMapper.java
  metadata-jdbc/src/main/resources/database/mapper/StreamMapper.xml
  store/src/main/java/com/automq/rocketmq/store/DataStoreFacade.java
Due: RocketMQ Common, RocketMQ Controller, RocketMQ Store

feat(distribution): broker in docker will print log into console (#817)
  distribution/bin/run-server.sh
  distribution/conf/log4j2_console.xml
  distribution/docker/docker-compose.yaml
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(kafka_issues529): trim index block
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
Due: RocketMQ Stream

fix(kafka_issues529): trim index block (#820)
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
Due: RocketMQ Stream

feat(proxy): optimize forward message to another node
  cli/pom.xml
  cli/src/main/java/com/automq/rocketmq/cli/producer/ProduceMessage.java
  cli/src/main/resources/log4j2.xml
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImplTest.java
Due: RocketMQ Controller, RocketMQ Proxy

feat(proxy): optimize forward message to another node (#821)
  cli/pom.xml
  cli/src/main/java/com/automq/rocketmq/cli/producer/ProduceMessage.java
  cli/src/main/resources/log4j2.xml
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/TopicRouteServiceImplTest.java
Due: RocketMQ Controller, RocketMQ Proxy

fix(broker): fix MetricsExporter shutdown logic
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  cli/src/main/java/com/automq/rocketmq/cli/producer/ProduceMessage.java
Due: RocketMQ Broker

fix(broker): fix MetricsExporter shutdown logic (#822)
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  cli/src/main/java/com/automq/rocketmq/cli/producer/ProduceMessage.java
Due: RocketMQ Broker

perf(s3stream): not use byte arrays to reduce heap mem alloc when decoding
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/StreamRecordBatchCodec.java
Due: RocketMQ Stream

perf(s3stream): not use byte arrays to reduce heap mem alloc when decoding (#823)
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/StreamRecordBatchCodec.java
Due: RocketMQ Stream

refactor(s3stream): more complex magic code in data blocks
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
Due: RocketMQ Stream

refactor(s3stream): more complex magic code in data blocks (#824)
  s3stream/src/main/java/com/automq/stream/s3/ObjectWriter.java
Due: RocketMQ Stream

fix(controller): fix listStreamObjects interface
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCache.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCacheTest.java
Due: none

fix(controller): fix listStreamObjects interface
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCacheTest.java
Due: none

fix(controller): fix listStreamObjects interface (#825)
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCache.java
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCacheTest.java
Due: none

fix(s3stream): fix potential incomplete future in StreamReader
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
Due: RocketMQ Stream

fix(s3stream): fix potential incomplete future in StreamReader (#826)
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/test/java/com/automq/stream/s3/DefaultS3BlockCacheTest.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
Due: RocketMQ Stream

fix(controller): fix listObjects interface
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCache.java
  metadata-jdbc/src/main/resources/database/mapper/S3StreamObjectMapper.xml
Due: none

fix(proxy): fix getObjects interface
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
Due: RocketMQ Store

fix(proxy): prevent the request which do not acquire the lock fall into long polling
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
Due: RocketMQ Proxy

fix(controller): fix tests
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCacheTest.java
Due: none

fix(proxy): fix tests
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

fix(proxy): fix getObjects interface (#827)
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/DefaultS3MetadataService.java
  metadata-jdbc/src/main/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCache.java
  metadata-jdbc/src/main/resources/database/mapper/S3StreamObjectMapper.xml
  metadata-jdbc/src/test/java/com/automq/rocketmq/metadata/service/cache/S3StreamObjectCacheTest.java
  store/src/main/java/com/automq/rocketmq/store/S3ObjectManager.java
Due: RocketMQ Store

fix(proxy): prevent the request which do not acquire the lock fall into long polling (#828)
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

fix(s3stream): add missing inflight read key on async read ahead
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
Due: RocketMQ Stream

fix(s3stream): wrap exception for Default #read0
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
Due: RocketMQ Stream

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metrics/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*, **/thirdparty/**/*, **/benchmark/**/*
