Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

fix(s3stream): use dedicated executor for token bucket in DataBlockReader (#635)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
Due: RocketMQ Stream

feat(kafka-issues447): wal record node id and epoch to metadata
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/Constants.java
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/MemoryWriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/UnmarshalException.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALMetadata.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteAheadLog.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/WALHeaderTest.java
Due: RocketMQ Stream

fix(s3stream): evict log cache by capacity
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/test/java/com/automq/stream/s3/cache/LogCacheTest.java
Due: RocketMQ Stream

feat(kafka-issues447): WAL record nodeId & epoch metadata (#636)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/Constants.java
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/MemoryWriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/UnmarshalException.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALMetadata.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteAheadLog.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/WALHeaderTest.java
Due: RocketMQ Stream

fix(store): prevent fetching operation log from empty stream
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
Due: RocketMQ Store

fix(s3stream): evict log cache by capacity (#637)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/test/java/com/automq/stream/s3/cache/LogCacheTest.java
Due: RocketMQ Stream

fix(store): prevent fetching operation log from empty stream (#638)
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
Due: RocketMQ Store

feat(distribution): use zgc for java 11 or above
  distribution/bin/run-server.sh
Due: none

feat(distribution): use zgc for java 11 or above (#639)
  distribution/bin/run-server.sh
Due: none

feat: support chart release in action
  .github/workflows/release.yml
Due: none

feat(proxy): add trace for sending message
  common/src/main/java/com/automq/rocketmq/common/trace/TraceHelper.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DeadLetterService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/LockService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/activity/ExtendRouteActivityTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/DeadLetterSender.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/SnapshotServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/StreamReclaimServiceTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix: improve code testability
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/ElectionService.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/ElectionServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/LeaseTask.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/TopicManagerTest.java
  controller/src/test/java/com/automq/rocketmq/controller/store/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/store/TestControllerConfig.java
  controller/src/test/java/com/automq/rocketmq/controller/store/impl/DefaultMetadataStoreTest.java
Due: RocketMQ Controller

feat(kafka-issue447): add delta wal failover
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverFactory.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverRequest.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverResponse.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

chore(ci): support chart release in action
  .github/workflows/release.yml
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/NOTES.txt
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_brokerconfig.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_helpers.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/service.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy-ci.sh
Due: none

chore: update helm chart description
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
Due: none

feat(kafka-issue447): add delta wal failover (#642)
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/failover/Failover.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverFactory.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverRequest.java
  s3stream/src/main/java/com/automq/stream/s3/failover/FailoverResponse.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

fix: add test cases for {Topic, Group, Stream}Manager
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/GroupManager.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStoreTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/GroupManagerTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/StreamManagerTest.java
  controller/src/test/java/com/automq/rocketmq/controller/store/DatabaseTestBase.java
Due: RocketMQ Controller

chore(ci): support chart release in action (#643)
  .github/workflows/release.yml
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/NOTES.txt
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_brokerconfig.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_helpers.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/service.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy-ci.sh
Due: none

fix(wal/benchmark): use appended record offsets to calculate the trim offset
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
Due: RocketMQ Stream

feat(wal): use mmap to write to file
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: RocketMQ Stream

refactor(wal): write and flush in batch
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockBatch.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: RocketMQ Stream

perf(wal): submit tasks in synchronous thread pools as much as possible
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

feat(wal): poll and flush blocks
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: RocketMQ Stream

fix(wal/benchmark): trim before over capacity
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: RocketMQ Stream

style(wal): format code
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
Due: RocketMQ Stream

revert(wal): no need to ues mmap in 2f45c87357
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
Due: RocketMQ Stream

feat(wal): make write rate limit configurable
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
Due: RocketMQ Stream

chore(ci): trigger relase when tag
  .github/workflows/release.yml
Due: none

chore(ci): trigger relase when tag (#646)
  .github/workflows/release.yml
Due: none

style: fix code style issues
  controller/src/test/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStoreTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/GroupManagerTest.java
Due: RocketMQ Controller

fix: add test cases for {Topic, Group, Stream}Manager (#644)
  controller/src/main/java/com/automq/rocketmq/controller/ControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/MetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/client/GrpcControllerClient.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/ElectionService.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/ElectionServiceImpl.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/GroupManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/StreamManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/store/impl/TopicManager.java
  controller/src/main/java/com/automq/rocketmq/controller/server/tasks/LeaseTask.java
  controller/src/test/java/com/automq/rocketmq/controller/ControllerServiceImplTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStoreTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/GroupManagerTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/StreamManagerTest.java
  controller/src/test/java/com/automq/rocketmq/controller/server/store/impl/TopicManagerTest.java
  controller/src/test/java/com/automq/rocketmq/controller/store/DatabaseTestBase.java
  controller/src/test/java/com/automq/rocketmq/controller/store/TestControllerConfig.java
Due: RocketMQ Controller

style: fix lint
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockBatch.java
Due: RocketMQ Stream

feat(s3stream/wal): try to flush at a fixed rate (#645)
  s3stream/src/main/java/com/automq/stream/s3/Config.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockBatch.java
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/SlidingWindowService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALHeader.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WriteAheadLog.java
  s3stream/src/main/java/com/automq/stream/s3/wal/benchmark/WriteBench.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALFileChannel.java
  s3stream/src/test/java/com/automq/stream/s3/wal/BlockWALServiceTest.java
  s3stream/src/test/java/com/automq/stream/s3/wal/util/WALChannelTest.java
Due: RocketMQ Stream

feat(s3stream): add node id to failover request
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALNotInitializedException.java
Due: RocketMQ Stream

feat(s3stream): add node id to failover request (#647)
  s3stream/src/main/java/com/automq/stream/s3/wal/BlockWALService.java
  s3stream/src/main/java/com/automq/stream/s3/wal/WALNotInitializedException.java
Due: RocketMQ Stream

fix(store): fix potential concurrency issues
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
Due: RocketMQ Store

feat(proxy): add trace for sending message (#641)
  common/src/main/java/com/automq/rocketmq/common/trace/TraceHelper.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/activity/ExtendSendMessageActivity.java
  proxy/src/main/java/com/automq/rocketmq/proxy/model/ProxyContextExt.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DeadLetterService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/LockService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/grpc/activity/ExtendRouteActivityTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/S3StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/api/DeadLetterSender.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/api/StreamStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/SnapshotService.java
  store/src/main/java/com/automq/rocketmq/store/service/StreamOperationLogService.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/mock/MockStreamStore.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/SnapshotServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/StreamReclaimServiceTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix(store): fix potential concurrency issues (#648)
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
Due: RocketMQ Store

chore(helm): update docker image version and repository for helm chart
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
Due: none

Path conditions:
  RocketMQ Broker: any of: broker/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Common: any of: common/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Controller: any of: controller/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Proxy: any of: proxy/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Store: any of: store/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Stream: any of: s3stream/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
  RocketMQ Metadata: any of: metadata/, but not: **/config/**, **/generated/**, **/model/**, **/metadata/database/dao/*, **/*Exception*, apache/rocketmq/controller/**/*
