Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metrics/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"
  - "**/thirdparty/**/*"
  - "**/benchmark/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

fix(s3stream): fix potential dangling cf when read not aligned with data block
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
Due: RocketMQ Stream

fix(s3stream): fix potential dangling cf when read not aligned with data block (#795)
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockReader.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
Due: RocketMQ Stream

feat(proxy): support transaction message
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/fbs/flat_message.fbs
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ProxyRelayServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TransactionServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/transaction/TransactionResolution.java
  store/src/main/java/com/automq/rocketmq/store/service/TimerService.java
  store/src/main/java/com/automq/rocketmq/store/service/TransactionService.java
  store/src/test/java/com/automq/rocketmq/store/service/TransactionServiceTest.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

fix(proxy): fix tests
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

~
  pom.xml
  s3stream/pom.xml
Due: RocketMQ Stream

fix: fix non-unique instance id in node
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
Due: RocketMQ Controller

fix: fix non-unique instance id in the node (#798)
  controller/src/main/java/com/automq/rocketmq/controller/server/store/DefaultMetadataStore.java
Due: RocketMQ Controller

feat(s3stream): clean up buffer on compaction exception
  s3stream/src/main/java/com/automq/stream/s3/StreamDataBlock.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/Writer.java
  s3stream/src/test/java/com/automq/stream/s3/TestUtils.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: RocketMQ Stream

feat(s3stream): release refCnt when ownership transferred
  s3stream/src/main/java/com/automq/stream/s3/StreamDataBlock.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: RocketMQ Stream

feat(cli): add ResetConsumeOffset command
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ResetConsumeOffset.java
Due: none

feat(cli): add ResetConsumeOffset command (#800)
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ResetConsumeOffset.java
Due: none

feat(s3stream): clean up buffer on compaction exception (#799)
  s3stream/src/main/java/com/automq/stream/s3/StreamDataBlock.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUploader.java
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionUtils.java
  s3stream/src/main/java/com/automq/stream/s3/compact/operator/DataBlockWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MemoryS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/MultiPartWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/ProxyWriter.java
  s3stream/src/main/java/com/automq/stream/s3/operator/Writer.java
  s3stream/src/test/java/com/automq/stream/s3/TestUtils.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionAnalyzerTest.java
  s3stream/src/test/java/com/automq/stream/s3/compact/CompactionManagerTest.java
Due: RocketMQ Stream

feat(proxy): support transaction message (#796)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  common/src/main/fbs/flat_message.fbs
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ProxyRelayServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/TransactionServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/transaction/TransactionResolution.java
  store/src/main/java/com/automq/rocketmq/store/service/TimerService.java
  store/src/main/java/com/automq/rocketmq/store/service/TransactionService.java
  store/src/test/java/com/automq/rocketmq/store/service/TransactionServiceTest.java
Due: RocketMQ Broker, RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(proxy): add topicStats rpc
  proto/src/main/proto/proxy/proxy.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ExtendMessageService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Proxy, RocketMQ Store

feat(proxy): add topicStats rpc (#801)
  proto/src/main/proto/proxy/proxy.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/ExtendMessageService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/LogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
Due: RocketMQ Proxy, RocketMQ Store

feat(cli): add PrintTopicStats command
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/DescribeGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/PrintTopicStats.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
Due: RocketMQ Proxy

feat(cli): add PrintTopicStats command (#802)
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/DescribeGroup.java
  cli/src/main/java/com/automq/rocketmq/cli/topic/PrintTopicStats.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
Due: RocketMQ Proxy

fix(s3Stream): support aliyun oss
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
Due: RocketMQ Stream

fix: change pom
  pom.xml
Due: none

fix(s3Stream): support aliyun oss (#804)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/s3/operator/S3Operator.java
Due: RocketMQ Stream

feat(cli): add ProducerClientConnection command
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/producer/ProducerClientConnection.java
  proto/src/main/proto/proxy/proxy.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
Due: RocketMQ Broker, RocketMQ Proxy

fix(s3stream/wal): check whether the file system supports direct IO
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

feat(cli): add ProducerClientConnection command (#806)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/producer/ProducerClientConnection.java
  proto/src/main/proto/proxy/proxy.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
Due: RocketMQ Broker, RocketMQ Proxy

feat(cli): add ConsumerClientConnection command
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ConsumerClientConnection.java
  proto/src/main/proto/proxy/proxy.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
Due: RocketMQ Broker, RocketMQ Proxy

chore: log it when not using direct IO
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALChannel.java
Due: RocketMQ Stream

feat(s3stream): smooth upload wal
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/utils/AsyncRateLimiter.java
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
  s3stream/src/test/java/com/automq/stream/s3/DeltaWALUploadTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/utils/AsyncRateLimiterTest.java
Due: RocketMQ Stream

Update codecov.yml
  codecov.yml
Due: none

fix(s3stream): checkstyle
  s3stream/src/main/java/com/automq/stream/utils/AsyncRateLimiter.java
  s3stream/src/test/java/com/automq/stream/s3/utils/AsyncRateLimiterTest.java
Due: RocketMQ Stream

fix(s3stream): code review
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
Due: RocketMQ Stream

feat(s3stream): smooth upload wal (#809)
  s3stream/src/main/java/com/automq/stream/s3/DeltaWALUploadTask.java
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/S3StreamClient.java
  s3stream/src/main/java/com/automq/stream/s3/cache/LogCache.java
  s3stream/src/main/java/com/automq/stream/utils/AsyncRateLimiter.java
  s3stream/src/main/java/com/automq/stream/utils/Threads.java
  s3stream/src/test/java/com/automq/stream/s3/DeltaWALUploadTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectsCompactionTaskTest.java
  s3stream/src/test/java/com/automq/stream/s3/utils/AsyncRateLimiterTest.java
Due: RocketMQ Stream

chore: fix helm chart install eof (#794)
  .github/workflows/pr-e2e-test.yml
  distribution/helm/deploy-ci.sh
Due: none

fix(proxy): add PROPERTY_PRODUCER_GROUP property for transaction message
  common/src/main/fbs/flat_message.fbs
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
Due: RocketMQ Common, RocketMQ Proxy

chore: add trans params in deploy values
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

feat(cli): add ConsumerClientConnection command (#807)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  cli/src/main/java/com/automq/rocketmq/cli/MQAdmin.java
  cli/src/main/java/com/automq/rocketmq/cli/consumer/ConsumerClientConnection.java
  proto/src/main/proto/proxy/proxy.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DefaultServiceManager.java
Due: RocketMQ Broker, RocketMQ Proxy

feat(proxy): add relay rpc
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proto/src/main/proto/proxy/proxy.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/service/TransactionService.java
  store/src/main/java/com/automq/rocketmq/store/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/util/MessageUtilTest.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

feat(proxy): add relay rpc (#810)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proto/src/main/proto/proxy/proxy.proto
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyClient.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/ProxyServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/grpc/client/GrpcProxyClient.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/service/TransactionService.java
  store/src/main/java/com/automq/rocketmq/store/util/FlatMessageUtil.java
  store/src/main/java/com/automq/rocketmq/store/util/SerializeUtil.java
  store/src/test/java/com/automq/rocketmq/store/util/MessageUtilTest.java
  store/src/test/java/com/automq/rocketmq/store/util/SerializeUtilTest.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store

refactor(proxy): refactor DeadLetterService
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/pom.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DeadLetterService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
Due: RocketMQ Broker, RocketMQ Proxy

fix: check block device
  s3stream/src/main/java/com/automq/stream/s3/wal/util/WALBlockDeviceChannel.java
Due: RocketMQ Stream

refactor(proxy): refactor DeadLetterService (#811)
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/pom.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DeadLetterService.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
Due: RocketMQ Broker, RocketMQ Proxy

refactor(proxy): refactor DeadLetterService
  broker/src/main/java/com/automq/rocketmq/broker/BrokerController.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/DeadLetterService.java
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/DLQServiceTest.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/src/main/java/com/automq/rocketmq/store/api/DeadLetterSender.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
Due: RocketMQ Broker, RocketMQ Proxy, RocketMQ Store
