Repository AutoMQ/automq-for-rocketmq: changes, and which Codecov flags are due for each by the changed paths.
All: RocketMQ Broker, RocketMQ Common, RocketMQ Controller, RocketMQ Proxy, RocketMQ Store, RocketMQ Stream, RocketMQ Metadata

codecov.yml:

coverage:
  # Coverage status
  status:
    # Overall project status
    project:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Pull request coverage diff
    patch:
      default:
        enabled: yes
        target: auto
        threshold: 0%
        if_no_uploads: error
        if_not_found: success
        if_ci_failed: error
    # Unexpected changes
    changes: no

ignore:
  - "**/config/**"
  - "**/generated/**"
  - "**/model/**"
  - "**/metrics/**"
  - "**/metadata/database/dao/*"
  - "**/*Exception*"
  - "apache/rocketmq/controller/**/*"
  - "**/thirdparty/**/*"
  - "**/benchmark/**/*"

comment:
  layout: "diff, components, tree"
  behavior: default

component_management:
  individual_components:
    - component_id: "broker"
      name: "RocketMQ Broker"
      paths:
        - "broker/"
    - component_id: "common"
      name: "RocketMQ Common"
      paths:
        - "common/"
    - component_id: "controller"
      name: "RocketMQ Controller"
      paths:
        - "controller/"
    - component_id: "proxy"
      name: "RocketMQ Proxy"
      paths:
        - "proxy/"
    - component_id: "store"
      name: "RocketMQ Store"
      paths:
        - "store/"
    - component_id: "stream"
      name: "RocketMQ Stream"
      paths:
        - "s3stream/"
    - component_id: "metadata"
      name: "RocketMQ Metadata"
      paths:
        - "metadata/"

feat(s3stream): optimize compaction throttle
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: RocketMQ Stream

feat(s3stream): optimize compaction throttle (#776)
  s3stream/src/main/java/com/automq/stream/s3/compact/CompactionManager.java
Due: RocketMQ Stream

fix(s3stream): guard BlockCache OOM handle with lock (#775)
  s3stream/src/main/java/com/automq/stream/s3/cache/BlockCache.java
Due: RocketMQ Stream

feat(distribution): refactor helm chart
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_brokerconfig.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_helpers.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
Due: none

fix(s3stream): fix inflight read throttle size
  s3stream/src/main/java/com/automq/stream/s3/cache/InflightReadThrottle.java
Due: RocketMQ Stream

feat(distribution): fix name of configmap
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
Due: none

feat(distribution): fix name of configmap
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
Due: none

fix(s3stream): fix inflight read throttle size check
  s3stream/src/main/java/com/automq/stream/s3/cache/InflightReadThrottle.java
Due: RocketMQ Stream

fix(s3stream): fix inflight read throttle size (#778)
  s3stream/src/main/java/com/automq/stream/s3/cache/InflightReadThrottle.java
Due: RocketMQ Stream

feat(distribution): support e2e test in new chart
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/deploy/helm_sample_values.yaml
Due: none

fix: fix disable metrics exporter is null
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
Due: RocketMQ Broker

feat(distribution): refactor helm chart (#777)
  broker/src/main/java/com/automq/rocketmq/broker/MetricsExporter.java
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_brokerconfig.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_helpers.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy/helm_sample_values.yaml
Due: RocketMQ Broker

chore: upgrade chart to 0.0.4
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
Due: none

chore: update tag for user specified
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
Due: none

chore: upgrade chart version to 0.0.4 (#780)
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
Due: none

fix(s3stream): add clean up on future exception for BlockCache
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
Due: RocketMQ Stream

feat(kafka_issues500): add pooledbuf read options
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/api/ReadOptions.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/StreamRecordBatchCodec.java
  s3stream/src/main/java/com/automq/stream/s3/model/StreamRecordBatch.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCopierTest.java
Due: RocketMQ Stream

feat(kafka_issues500): add pooledbuf read options (#782)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/api/ReadOptions.java
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
  s3stream/src/main/java/com/automq/stream/s3/StreamRecordBatchCodec.java
  s3stream/src/main/java/com/automq/stream/s3/model/StreamRecordBatch.java
  s3stream/src/test/java/com/automq/stream/s3/ObjectWriterTest.java
  s3stream/src/test/java/com/automq/stream/s3/StreamObjectCopierTest.java
Due: RocketMQ Stream

feat(s3stream): add inflight pooled fetch request record
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
Due: RocketMQ Stream

feat(s3stream): add inflight pooled fetch request record (#783)
  s3stream/src/main/java/com/automq/stream/s3/S3Stream.java
Due: RocketMQ Stream

fix(s3stream): add clean up on future exception for BlockCache (#781)
  s3stream/src/main/java/com/automq/stream/s3/cache/DefaultS3BlockCache.java
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
Due: RocketMQ Stream

Delete CNAME
  CNAME
Due: none

fix(s3stream): release records that won't be returned on exception
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
Due: RocketMQ Stream

fix(s3stream): release records that won't be returned on exception (#785)
  s3stream/src/main/java/com/automq/stream/s3/cache/StreamReader.java
  s3stream/src/test/java/com/automq/stream/s3/cache/StreamReaderTest.java
Due: RocketMQ Stream

chore: update helm chart deploy for e2e test
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/NOTES.txt
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_helpers.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/service.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy-ci.sh
  distribution/helm/deploy/helm_sample_values.yaml
  distribution/helm/deploy/localstack_s3.yaml
  distribution/helm/deploy/mysql.yaml
  distribution/helm/test-ci.sh
Due: none

feat(s3stream): avoid copy when operator read
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/utils/ByteBufInputStream.java
Due: RocketMQ Stream

feat(s3stream): avoid copy when operator read (#788)
  s3stream/src/main/java/com/automq/stream/s3/ObjectReader.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
  s3stream/src/main/java/com/automq/stream/utils/ByteBufInputStream.java
Due: RocketMQ Stream

feat(store): refactor TimerService and implement TransactionService
  common/src/main/fbs/flat_message.fbs
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  pom.xml
  proto/pom.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/pom.xml
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PutResult.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/TimerService.java
  store/src/main/java/com/automq/rocketmq/store/service/TransactionService.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/TimerServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/TransactionServiceTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

chore: update helm chart deploy for e2e test (#789)
  distribution/helm/charts/automq-for-rocketmq/Chart.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/NOTES.txt
  distribution/helm/charts/automq-for-rocketmq/templates/broker/_helpers.tpl
  distribution/helm/charts/automq-for-rocketmq/templates/broker/configmap.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/service.yaml
  distribution/helm/charts/automq-for-rocketmq/templates/broker/statefulset.yaml
  distribution/helm/charts/automq-for-rocketmq/values.yaml
  distribution/helm/deploy-ci.sh
  distribution/helm/deploy/helm_sample_values.yaml
  distribution/helm/deploy/localstack_s3.yaml
  distribution/helm/deploy/mysql.yaml
  distribution/helm/test-ci.sh
Due: none

fix(proxy): fix test
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
Due: RocketMQ Proxy

feat(store): refactor PutResult
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PutResult.java
  store/src/main/java/com/automq/rocketmq/store/queue/StreamLogicQueue.java
Due: RocketMQ Proxy, RocketMQ Store

feat(store): refactor TimerService and implement TransactionService (#790)
  common/src/main/fbs/flat_message.fbs
  common/src/main/java/com/automq/rocketmq/common/config/StoreConfig.java
  pom.xml
  proto/pom.xml
  proxy/src/main/java/com/automq/rocketmq/proxy/service/MessageServiceImpl.java
  proxy/src/main/java/com/automq/rocketmq/proxy/util/FlatMessageUtil.java
  proxy/src/test/java/com/automq/rocketmq/proxy/mock/MockMessageStore.java
  proxy/src/test/java/com/automq/rocketmq/proxy/service/MessageServiceImplTest.java
  store/pom.xml
  store/src/main/fbs/store.fbs
  store/src/main/java/com/automq/rocketmq/store/MessageStoreBuilder.java
  store/src/main/java/com/automq/rocketmq/store/MessageStoreImpl.java
  store/src/main/java/com/automq/rocketmq/store/api/MessageStore.java
  store/src/main/java/com/automq/rocketmq/store/model/message/PutResult.java
  store/src/main/java/com/automq/rocketmq/store/queue/DefaultLogicQueueStateMachine.java
  store/src/main/java/com/automq/rocketmq/store/service/ReviveService.java
  store/src/main/java/com/automq/rocketmq/store/service/TimerService.java
  store/src/main/java/com/automq/rocketmq/store/service/TransactionService.java
  store/src/test/java/com/automq/rocketmq/store/LogicQueueTest.java
  store/src/test/java/com/automq/rocketmq/store/MessageStoreTest.java
  store/src/test/java/com/automq/rocketmq/store/service/ReviveServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/TimerServiceTest.java
  store/src/test/java/com/automq/rocketmq/store/service/TransactionServiceTest.java
Due: RocketMQ Common, RocketMQ Proxy, RocketMQ Store

feat(s3stream): detect fetch timeout
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

feat(s3stream): detect fetch timeout (#791)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

chore: add retry in deploy dependency helm chart
  distribution/helm/deploy-ci.sh
Due: none

fix(s3stream): fix timeout detect
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

fix(s3stream): fix timeout detect (#793)
  pom.xml
  s3stream/pom.xml
  s3stream/src/main/java/com/automq/stream/s3/S3Storage.java
  s3stream/src/main/java/com/automq/stream/s3/operator/DefaultS3Operator.java
Due: RocketMQ Stream

chore: split docker push in deploy steps
  .github/workflows/pr-e2e-test.yml
Due: none

chore: use bash instead of sh for shell
  .github/workflows/pr-e2e-test.yml
Due: none

chore: use helm cache to slove eof
  distribution/helm/deploy-ci.sh
Due: none
